workflows2/Creating Campaigns in MF.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-20T09:50:50.315Z",
  "id": "teuto9Vkow6iExMs",
  "meta": null,
  "name": "Creating Campaigns in MF",
  "nodes": [
    {
      "parameters": {},
      "id": "91943bd2-55a6-4583-9d55-1e8b3d45e8bc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "campaign",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "condition": "gte",
              "keyValue": "1"
            }
          ]
        }
      },
      "id": "3e8ffb32-a976-4229-9506-b161eda68df7",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "729b422f-dcf4-442b-9cc5-b44b5c5d73ec",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        860,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-preprod-rg4aetd7ka-el.a.run.app/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MzksInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMDctMDJUMDk6MzE6NDkuMzM5WiIsInVwZGF0ZWRfYXQiOiIyMDI0LTA3LTAyVDA5OjMxOjQ5LjMzOVoiLCJ1c2VySWQiOiJhZmI4OGUwZC02ZWVmLTQyMWItYTU5Yi04MzdmMTRmMGRjYjYiLCJmaXJzdE5hbWUiOiJQdWxsdXJ1ICIsImxhc3ROYW1lIjoiIEtyaXNobmFyZWRkeSIsInJvbGUiOm51bGwsInVzZXJOYW1lIjoicHVsbHVydS5rcmlzaG5hcmVkZHlAbWlsZXNlZHVjYXRpb24uY29tIiwiZW1haWwiOiJwdWxsdXJ1LmtyaXNobmFyZWRkeUBtaWxlc2VkdWNhdGlvbi5jb20iLCJwaG9uZSI6Ijc5ODkyNzIxMjEiLCJjb3VudHJ5Q29kZSI6IjkxIiwibWZhRW5hYmxlZCI6ZmFsc2UsIm1mYVR5cGUiOm51bGwsIm1mYVNlY3JldCI6bnVsbCwidXNlclR5cGUiOjEsImxhc3RMb2dpbiI6bnVsbCwiYXBwbGljYXRpb25zIjpbeyJpZCI6MjEsInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMDctMDJUMDk6MzE6NDkuMzUxWiIsInVwZGF0ZWRfYXQiOiIyMDI0LTA5LTE3VDA1OjMwOjI5LjQzMloiLCJpc0FjdGl2ZSI6dHJ1ZSwiYXBwbGljYXRpb24iOnsiaWQiOjMsInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMDctMDJUMDU6NDY6MTguNzcyWiIsInVwZGF0ZWRfYXQiOiIyMDI0LTA3LTAyVDA1OjQ2OjE4Ljc3MloiLCJhcHBsaWNhdGlvbl9uYW1lIjoiTUYiLCJhcHBsaWNhdGlvbl9kZXNjcmlwdGlvbiI6Ik1GeCIsImFwcGxpY2F0aW9uX3VybCI6Imh0dHA6Ly9sb2NhbGhvc3Q6MzIxMS9hcGkvY2I_dG9rZW49IiwiYXBwbGljYXRpb25fdHlwZSI6IldFQiIsInJlZnJlc2hfdG9rZW5fbGlmZSI6bnVsbCwiYWNjZXNzX3Rva2VuX2xpZmUiOm51bGwsImlzQWN0aXZlIjp0cnVlLCJpc19kZXZtb2RlIjp0cnVlLCJpc19mcmVlX2FjY2VzcyI6ZmFsc2V9fSx7ImlkIjo2Niwic3RhdHVzIjp0cnVlLCJjcmVhdGVkX2F0IjoiMjAyNC0wNy0xNVQxMjo1NzowOS44MDVaIiwidXBkYXRlZF9hdCI6IjIwMjQtMDctMTVUMTI6NTc6MDkuODA1WiIsImlzQWN0aXZlIjp0cnVlLCJhcHBsaWNhdGlvbiI6eyJpZCI6Mywic3RhdHVzIjp0cnVlLCJjcmVhdGVkX2F0IjoiMjAyNC0wNy0wMlQwNTo0NjoxOC43NzJaIiwidXBkYXRlZF9hdCI6IjIwMjQtMDctMDJUMDU6NDY6MTguNzcyWiIsImFwcGxpY2F0aW9uX25hbWUiOiJNRiIsImFwcGxpY2F0aW9uX2Rlc2NyaXB0aW9uIjoiTUZ4IiwiYXBwbGljYXRpb25fdXJsIjoiaHR0cDovL2xvY2FsaG9zdDozMjExL2FwaS9jYj90b2tlbj0iLCJhcHBsaWNhdGlvbl90eXBlIjoiV0VCIiwicmVmcmVzaF90b2tlbl9saWZlIjpudWxsLCJhY2Nlc3NfdG9rZW5fbGlmZSI6bnVsbCwiaXNBY3RpdmUiOnRydWUsImlzX2Rldm1vZGUiOnRydWUsImlzX2ZyZWVfYWNjZXNzIjpmYWxzZX19LHsiaWQiOjY4LCJzdGF0dXMiOnRydWUsImNyZWF0ZWRfYXQiOiIyMDI0LTA3LTE2VDA0OjIxOjI0LjYxMFoiLCJ1cGRhdGVkX2F0IjoiMjAyNC0wNy0xNlQwNDoyMToyNC42MTBaIiwiaXNBY3RpdmUiOnRydWUsImFwcGxpY2F0aW9uIjp7ImlkIjoyLCJzdGF0dXMiOnRydWUsImNyZWF0ZWRfYXQiOiIyMDI0LTA2LTI3VDA4OjIxOjAzLjc1NVoiLCJ1cGRhdGVkX2F0IjoiMjAyNC0wNi0yN1QwODoyMTowMy43NTVaIiwiYXBwbGljYXRpb25fbmFtZSI6IkFwcCBiYWNrZW5kIiwiYXBwbGljYXRpb25fZGVzY3JpcHRpb24iOiJBcHAgYmFja2VuZCIsImFwcGxpY2F0aW9uX3VybCI6Imh0dHA6Ly9sb2NhbGhvc3Q6MzExL2NiP3Rva2VuPSIsImFwcGxpY2F0aW9uX3R5cGUiOiJXRUIiLCJyZWZyZXNoX3Rva2VuX2xpZmUiOm51bGwsImFjY2Vzc190b2tlbl9saWZlIjoiMWgiLCJpc0FjdGl2ZSI6dHJ1ZSwiaXNfZGV2bW9kZSI6dHJ1ZSwiaXNfZnJlZV9hY2Nlc3MiOnRydWV9fSx7ImlkIjo4ODYsInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMTItMDRUMTI6MzU6MDIuMDM0WiIsInVwZGF0ZWRfYXQiOiIyMDI0LTEyLTA0VDEyOjM1OjAyLjAzNFoiLCJpc0FjdGl2ZSI6dHJ1ZSwiYXBwbGljYXRpb24iOnsiaWQiOjEsInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMDYtMjVUMTk6MTk6MjYuOTc1WiIsInVwZGF0ZWRfYXQiOiIyMDI0LTA2LTI1VDE5OjE5OjI2Ljk3NVoiLCJhcHBsaWNhdGlvbl9uYW1lIjoiQXBwIiwiYXBwbGljYXRpb25fZGVzY3JpcHRpb24iOiJBcHAiLCJhcHBsaWNhdGlvbl91cmwiOiJodHRwOi8vbG9jYWxob3N0OjMxMS9jYj90b2tlbj0iLCJhcHBsaWNhdGlvbl90eXBlIjoiTW9iaWxlIiwicmVmcmVzaF90b2tlbl9saWZlIjoiMzY1ZCIsImFjY2Vzc190b2tlbl9saWZlIjoiMWQiLCJpc0FjdGl2ZSI6dHJ1ZSwiaXNfZGV2bW9kZSI6dHJ1ZSwiaXNfZnJlZV9hY2Nlc3MiOnRydWV9fV0sInVzZXIiOm51bGwsInNlc3Npb24iOjEyNzA0LCJpYXQiOjE3MzczNjc0MTcsImV4cCI6MTczNzQ1MzgxN30.B5RfPREuRM1-wfX95F-vFdVQl_QU4JrgFYNxnVJ2wEM"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "pulluru.krishnareddy@mileseducation.com"
            },
            {
              "name": "password",
              "value": "123"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "10fc3101-aa38-484d-8c2b-8efa929c75e5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        160
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaign",
          "mode": "list",
          "cachedResultName": "campaign"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": true,
            "is_to_add_lead": true,
            "is_webinar": "={{ $('Split In Batches').item.json.is_webinar }}",
            "created_at": "={{ $('Split In Batches').item.json.created_at }}",
            "updated_at": "={{ $('Split In Batches').item.json.created_at }}",
            "campaign_name": "={{ $('Split In Batches').item.json.campaign_name }}",
            "uuid": "={{ $('Split In Batches').item.json.uuid }}",
            "platform_campaignId": "={{ $('Split In Batches').item.json.id }}",
            "medium": "={{ $('Split In Batches').item.json.medium }}",
            "identifier": "={{ $('Split In Batches').item.json.identifier }}",
            "requested_by": "={{ $('Split In Batches').item.json.requested_by }}",
            "objective": "={{ $('Split In Batches').item.json.campaign_objective }}",
            "term": "={{ $('Split In Batches').item.json.campaign_term }}",
            "youtube_link": "={{ $('Split In Batches').item.json.youtube_link }}",
            "destination_url": "={{ $('Split In Batches').item.json.destination_url }}",
            "whatsapp_message": "={{ $('Split In Batches').item.json.whats_app_message }}",
            "sourceId": "={{ $json.mf2id }}",
            "templateId": "={{ $('Split In Batches').item.json.template }}",
            "owner_email": "={{ $('Split In Batches').item.json.owner_email }}",
            "owner_id": "={{ $('Split In Batches').item.json.owner_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_by",
              "displayName": "updated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_time",
              "displayName": "execution_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replay_flow",
              "displayName": "replay_flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_campaignId",
              "displayName": "platform_campaignId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medium",
              "displayName": "medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "identifier",
              "displayName": "identifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requested_by",
              "displayName": "requested_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objective",
              "displayName": "objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "term",
              "displayName": "term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_link",
              "displayName": "youtube_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_url",
              "displayName": "destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_message",
              "displayName": "whatsapp_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_to_add_lead",
              "displayName": "is_to_add_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "typeId",
              "displayName": "typeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceId",
              "displayName": "sourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "templateId",
              "displayName": "templateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_webinar",
              "displayName": "is_webinar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner_email",
              "displayName": "owner_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner_id",
              "displayName": "owner_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ace33a7d-ab5a-4839-8f6c-212bab10bd1a",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1640,
        -40
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaign_type",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": false,
            "created_at": "2025-01-20T11:05:00.000Z",
            "updated_at": "2025-01-20T11:05:01.000Z",
            "type": "1"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_by",
              "displayName": "updated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6cfaf294-a025-4580-9f31-7cfe91609151",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        240,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "uywFr5gFlyaiszBw",
          "name": "MF 2.0 Preprod "
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaign",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split In Batches').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mf2_camp_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "30fe6d99-f623-442f-a1d1-63c66c5c50c4",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1860,
        -40
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaign_source",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.source }}"
            }
          ]
        }
      },
      "id": "05e903d0-4b2f-4924-8bc7-238094080e52",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        -20
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.mf2_source != null }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1701d25-8e1b-4097-8337-d9e2ec661ccf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        -20
      ]
    },
    {
      "parameters": {
        "amount": 0.25,
        "unit": "seconds"
      },
      "id": "678bbba0-8566-4682-a727-4b60a367636e",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2080,
        -40
      ],
      "webhookId": "27429b36-1d5c-4d87-8326-f710200a126f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-21T15:35:32.000Z",
  "versionId": "e5ce4608-4228-44e7-8b64-5d34efa12e1e"
}