workflows2/Fetch All templates from Meta.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Primary | Marketing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Primary | MilesForce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary | Marketing": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary | MilesForce": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T09:28:20.485Z",
  "id": "8U92O86VYS4ueuF9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fetch All templates from Meta",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -940,
        580
      ],
      "id": "649da618-e16a-4abc-ab9c-577513879999",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -60,
        180
      ],
      "id": "84a1d910-0db4-4668-8da0-b97c80ffbd6e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        320
      ],
      "id": "0e739d5d-cdb1-4384-85d0-b77b3973055b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "whatsapp_templates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "wa_template_name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "template_content",
              "fieldValue": "={{ $json.components }}"
            },
            {
              "fieldId": "phone_associated",
              "fieldValue": "917338649613"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        420
      ],
      "id": "766b40d1-0f0c-4435-8b2b-7e9f9ff8b024",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/207690522422697/message_templates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAERpNdf2aYBO9sU1QltjB6ZCQZArH5MwBZCZCNsiUgH0sT4mihs6TNa6xMCDqEQ6ncUy5B3qCfXH5tbCiBC5RnvZAeYwqArMJRthWGdbUHJaBdS4PBS9gkJ6o0uGZBEA73ubwkFMkQSWI7kVEywwZBH8bmLEaL3KHm5eo2QxWbLwz4KRxtENrk0QfDPrZA5NTVU"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 100
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.paging.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.paging.next.length == 0 }}",
              "requestInterval": 100
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        180
      ],
      "id": "f8e6884b-8e1c-47df-8b18-998c87c639ec",
      "name": "Primary | Marketing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        840
      ],
      "id": "ccf83a3e-4bba-4572-8e94-e9661f4d86d6",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        980
      ],
      "id": "bf96de0d-02de-422d-aa7c-5931cad064df",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "tableId": "whatsapp_templates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "wa_template_name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "template_content",
              "fieldValue": "={{ $json.components }}"
            },
            {
              "fieldId": "phone_associated",
              "fieldValue": "917411850463"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        1080
      ],
      "id": "5deb85bd-c78a-42ae-9227-7ecf4d1b3a39",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/106995952474160/message_templates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAERpNdf2aYBO9sU1QltjB6ZCQZArH5MwBZCZCNsiUgH0sT4mihs6TNa6xMCDqEQ6ncUy5B3qCfXH5tbCiBC5RnvZAeYwqArMJRthWGdbUHJaBdS4PBS9gkJ6o0uGZBEA73ubwkFMkQSWI7kVEywwZBH8bmLEaL3KHm5eo2QxWbLwz4KRxtENrk0QfDPrZA5NTVU"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 100
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.paging.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.paging.next.length == 0 }}",
              "requestInterval": 100
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        840
      ],
      "id": "8409afea-b204-4fc8-bc30-d90174efc2f4",
      "name": "Primary | MilesForce"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1080
      ],
      "id": "5c734ef3-b5c5-4155-bfb7-4917b88abf18",
      "name": "Wait",
      "webhookId": "87c057ee-f23b-413a-b67c-90a3d2007488"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        420
      ],
      "id": "0cb50f86-1ed6-4dc9-a490-e14d237b9de5",
      "name": "Wait1",
      "webhookId": "9095d6c0-81bf-41c4-9b1c-200881e0ad8d"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-14T13:04:28.000Z",
  "versionId": "8c9842a0-6358-4883-8f6f-badf58feacdd"
}