workflows2/G-Sheet sync.json
{
  "active": false,
  "connections": {
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MF API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase8": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-11T14:44:02.628Z",
  "id": "DZF5V9rkgUzk0iWY",
  "meta": null,
  "name": "G-Sheet sync",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit?usp=sharing",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit#gid=0"
        },
        "options": {}
      },
      "id": "156011e3-8737-496b-8f83-d82306fac72c",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -20,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QaXIjtC6vZ4jwXwX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status == 'done' || $json.status == 'already exists'}}"
            }
          ]
        }
      },
      "id": "16da1c2f-fc7f-48a8-a170-3106988b8ae5",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0d8fa68e-5e28-451f-9e71-c392e8905a7a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        420,
        700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit?usp=sharing",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split In Batches').item.json.id }}",
            "first_name": "={{ $('Split In Batches').item.json.first_name }}",
            "last_name": "={{ $('Split In Batches').item.json.last_name }}",
            "phone": "={{ $('Split In Batches').item.json.phone }}",
            "email": "={{ $('Split In Batches').item.json.email }}",
            "location": "={{ $('Split In Batches').item.json.location }}",
            "src": "={{ $('Split In Batches').item.json.src }}",
            "status": "already exists"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5778a5d0-185b-4ac2-989e-ff5642fffc97",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QaXIjtC6vZ4jwXwX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"fname\":\"{{ $json.first_name }}\",\n\"lname\":\"{{ $json.last_name }}\",\n\"phone\":\"{{ $json.phone }}\",\n\"email\":\"{{ $json.email }}\",\n\"location\":\"{{ $json.location }}\",\n\"src\":\"{{ $json.src }}\",\n\"comingFrom\":\"\",\n\"type\":\"\",\n\"camp\":\"\"\n}",
        "options": {}
      },
      "id": "9af51a71-05bc-4f12-8f04-7489db38fdfb",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "457c75b3-ad86-4c1a-87b9-82673b4be246",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1780,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "zoom_webinar",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email_id",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            },
            {
              "keyName": "webinar_id",
              "condition": "eq",
              "keyValue": "=1"
            }
          ]
        }
      },
      "id": "084f6aa2-900b-484d-bc2d-fd53c8ffbba2",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ccc32660-3113-4e33-ba46-c8faf0a20273",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zoom.us/v2/webinars/87361050576/registrants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Split In Batches').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Split In Batches').item.json.last_name }}\",\n  \"email\": \"{{ $('Split In Batches').item.json.email }}\",\n  \"phone\": \"{{ $('Split In Batches').item.json.phone }}\"\n} ",
        "options": {}
      },
      "id": "33853172-899a-4cf8-983a-4a62be4cb239",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        560
      ],
      "credentials": {
        "zoomOAuth2Api": {
          "id": "DxB7OzJRHsI70Odr",
          "name": "Zoom account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "tableId": "zoom_webinar",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Split In Batches').item.json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('Split In Batches').item.json.last_name }}"
            },
            {
              "fieldId": "email_id",
              "fieldValue": "={{ $('Split In Batches').item.json.email }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Split In Batches').item.json.location }}"
            },
            {
              "fieldId": "contact",
              "fieldValue": "={{ $('Split In Batches').item.json.phone }}"
            },
            {
              "fieldId": "join_url",
              "fieldValue": "={{ $json.join_url }}"
            },
            {
              "fieldId": "zoom_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "src",
              "fieldValue": "={{ $('Split In Batches').item.json.src }}"
            },
            {
              "fieldId": "webinar_id",
              "fieldValue": "=1"
            }
          ]
        }
      },
      "id": "4c6f9c1d-b748-449b-96ee-3df1006a6652",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "115484311630426",
        "recipientPhoneNumber": "={{ $json.contact }}",
        "template": "naukri_thank_you_message|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "d0afa5f5-6a20-404a-9c99-c2f47f72c2e4",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1440,
        560
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "SiXp0JiQTXH4kKE6",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit?usp=sharing",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split In Batches').item.json.id }}",
            "first_name": "={{ $('Split In Batches').item.json.first_name }}",
            "last_name": "={{ $('Split In Batches').item.json.last_name }}",
            "phone": "={{ $('Split In Batches').item.json.phone }}",
            "email": "={{ $('Split In Batches').item.json.email }}",
            "location": "={{ $('Split In Batches').item.json.location }}",
            "src": "={{ $('Split In Batches').item.json.src }}",
            "status": "done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "73dd90ab-5605-47f6-85c3-8370232c5e10",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1620,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QaXIjtC6vZ4jwXwX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a4a8bc4f-71d4-4478-8ad1-1efcbec85dc4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1920,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-api.mileseducation.com/Createform",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"form_array\":[{\"fullName\":\"{{ $json.first_name }}\",\"email\":\"{{ $json.email }}\",\"contact\":\"{{ $json.phone }}\",\"comingFrom\":\"{{ $json.src }}\",\"course\":\"MACC\",\"campaign_name\":\"\",\"location\":\"{{ $json.location }}\"}]}  ",
        "options": {}
      },
      "id": "c3a125e1-2973-47a5-ad01-08f402e432bf",
      "name": "MF API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        680
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "05481a21-637d-4c65-bc91-fa66ebd158e3",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "zoom_webinar",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email_id",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            },
            {
              "keyName": "webinar_id",
              "condition": "eq",
              "keyValue": "=1"
            }
          ]
        }
      },
      "id": "b327bb7b-68a5-49cb-bcbe-44cdfec80a98",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1140,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ffa51283-874e-4bfc-b8b3-983d82036598",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zoom.us/v2/webinars/87361050576/registrants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Split In Batches1').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Split In Batches1').item.json.last_name }}\",\n  \"email\": \"{{ $('Split In Batches1').item.json.email }}\",\n  \"phone\": \"{{ $('Split In Batches1').item.json.phone }}\"\n} ",
        "options": {}
      },
      "id": "6fcaf0e0-23f2-4d0e-8930-367c5deaf21a",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -700,
        260
      ],
      "credentials": {
        "zoomOAuth2Api": {
          "id": "DxB7OzJRHsI70Odr",
          "name": "Zoom account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "tableId": "zoom_webinar",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Split In Batches1').item.json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('Split In Batches1').item.json.last_name }}"
            },
            {
              "fieldId": "email_id",
              "fieldValue": "={{ $('Split In Batches1').item.json.email }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Split In Batches1').item.json.location }}"
            },
            {
              "fieldId": "contact",
              "fieldValue": "={{ $('Split In Batches1').item.json.phone }}"
            },
            {
              "fieldId": "join_url",
              "fieldValue": "={{ $json.join_url }}"
            },
            {
              "fieldId": "zoom_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "src",
              "fieldValue": "={{ $('Split In Batches1').item.json.src }}"
            },
            {
              "fieldId": "webinar_id",
              "fieldValue": "=1"
            }
          ]
        }
      },
      "id": "545c13f8-33f3-4df1-9363-6200a65163fa",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -540,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "115484311630426",
        "recipientPhoneNumber": "={{ $json.contact }}",
        "template": "naukri_thank_you_message|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "7f994f1d-7ba8-4a90-b853-404eaa1cbdff",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -400,
        260
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "SiXp0JiQTXH4kKE6",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit?usp=sharing",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cs1Ognc2OgGCO2j_cc5zcTfivwiUUQCQSnpfAN63lio/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split In Batches1').item.json.id }}",
            "first_name": "={{ $('Split In Batches1').item.json.first_name }}",
            "last_name": "={{ $('Split In Batches1').item.json.last_name }}",
            "phone": "={{ $('Split In Batches1').item.json.phone }}",
            "email": "={{ $('Split In Batches1').item.json.email }}",
            "location": "={{ $('Split In Batches1').item.json.location }}",
            "src": "={{ $('Split In Batches1').item.json.src }}",
            "status": "done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5b99244b-f00d-41f6-9cec-1c15c6fe7035",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -40,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QaXIjtC6vZ4jwXwX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "43a8d47a-ff1d-410a-b1d6-cee47f55e31c",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-api.mileseducation.com/Createform",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"form_array\":[{\"fullName\":\"{{ $json.first_name }}\",\"email\":\"{{ $json.email }}\",\"contact\":\"{{ $json.phone }}\",\"comingFrom\":\"{{ $json.src }}\",\"course\":\"MACC\",\"campaign_name\":\"\",\"location\":\"{{ $json.location }}\"}]}  ",
        "options": {}
      },
      "id": "4539db79-fa37-43d0-a74e-a3396f753687",
      "name": "MF API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1100,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "naukri_register",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "id": "d74652a4-92be-4e60-97fc-9fb94622305d",
      "name": "Supabase4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1660,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "naukri_register",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split In Batches1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "already exists"
            }
          ]
        }
      },
      "id": "01f07348-e08c-47c1-a775-f2abf90b47e4",
      "name": "Supabase5",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -440,
        -20
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "naukri_register",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split In Batches1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            }
          ]
        }
      },
      "id": "cf73d017-fb0b-4082-a1e2-14fade1675e3",
      "name": "Supabase6",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -220,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e2c8a013-2a7b-4b47-be61-a183a62f6095",
      "name": "Split In Batches2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1340,
        740
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "naukri_register",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "id": "90bd7ff5-973b-4051-ab0b-910e234b7f56",
      "name": "Supabase7",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1620,
        740
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.93.97.0:5678/webhook/1c16ff7e-8062-417c-9a96-9a628f9073b5",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "src",
              "value": "={{ $json.src }}"
            }
          ]
        },
        "options": {}
      },
      "id": "517ff6fd-cabc-4f0b-89ac-2f362b158a1d",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        720
      ]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "3b13a4e3-c70e-4f06-84e6-4557009d2ec9",
      "name": "Split In Batches3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1320,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "voice_register",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "id": "ef8b9565-b3b9-410f-9c1b-3419e73c77cc",
      "name": "Supabase8",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1560,
        1120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ptZNo3FAaF0XYQKi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.93.97.0:5678/webhook/d3215e75-a7d0-4ee3-84f0-ce15922b3a33",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "src",
              "value": "={{ $json.src }}"
            }
          ]
        },
        "options": {}
      },
      "id": "534b1695-3956-462c-a522-876883690783",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1060,
        1100
      ]
    },
    {
      "parameters": {
        "amount": 25,
        "unit": "seconds"
      },
      "id": "249d496b-7916-4139-aa32-bf041f730af3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -860,
        1100
      ],
      "webhookId": "27088319-4151-4374-b613-b5c41adaa161"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        8
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-16T07:51:00.000Z",
  "versionId": "97e3488b-2623-4063-a0be-a7134ab0cd0b"
}