workflows2/GA Measurement Protocol - Enrolled.json
{
  "active": true,
  "connections": {
    "MySQL": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-07T11:27:44.656Z",
  "id": "biM7qqqjYb1Vsfgh",
  "meta": null,
  "name": "GA Measurement Protocol - Enrolled",
  "nodes": [
    {
      "parameters": {},
      "id": "499571a9-2dd5-4706-98a8-e36d2360fe58",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        700,
        360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_net_enquiries",
          "mode": "list",
          "cachedResultName": "miles_net_enquiries"
        },
        "limit": 3,
        "where": {
          "values": [
            {
              "column": "ga_session_number",
              "condition": ">",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "5e76e222-0400-49fe-b185-edea22f252c1",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        100
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.google-analytics.com//mp/collect?api_secret=3x92YmhZTqapg4hH-IgaPg&measurement_id=G-0RXXN2DX62 HTTP/1.1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \"client_id\": \"{{ $json[\"client_id\"] }}\",   \"non_personalized_ads\": false,   \"events\": [     {       \"name\": \"test_mp\",       \"params\": {         \"usp_level\": \"m7\"       }     }   ] }",
        "options": {}
      },
      "id": "59ad5ef7-2ad5-4315-a5d2-3e493313f992",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1980,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  `miles_enrollments`.`id` AS `id`,\n  `miles_enrollments`.`identity` AS `identity`,\n  `miles_enrollments`.`person_id` AS `person_id`,\n  `miles_enrollments`.`course` AS `course`,\n  `miles_enrollments`.`category` AS `category`,\n  `miles_enrollments`.`agreed_cost` AS `agreed_cost`,\n  `miles_enrollments`.`amount_pending` AS `amount_pending`,\n  `miles_enrollments`.`enrollment_date` AS `enrollment_date`,\n  `miles_enrollments`.`created_at` AS `created_at`,\n  `miles_enrollments`.`updated_at` AS `updated_at`,\n  `miles_enrollments`.`amount_paid` AS `amount_paid`,\n  `Miles Net Enquiries - Person`.`ga_client_id` AS `Miles Net Enquiries - Person__ga_client_id`,\n  `Miles Net Enquiries - Person`.`ga_session_id` AS `Miles Net Enquiries - Person__ga_session_id`,\n  `Miles Net Enquiries - Person`.`ga_session_number` AS `Miles Net Enquiries - Person__ga_session_number`\nFROM\n  `miles_enrollments`\nLEFT JOIN `miles_net_enquiries` AS `Miles Net Enquiries - Person` \n  ON `miles_enrollments`.`person_id` = `Miles Net Enquiries - Person`.`person_id`\nWHERE\n  `Miles Net Enquiries - Person`.`ga_session_id` IS NOT NULL\n  AND DATE(`miles_enrollments`.`updated_at`) = CURDATE();",
        "options": {}
      },
      "id": "887b1d7a-a455-49ee-b934-3cfe9ee4e429",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        960,
        680
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ga_client_id }}",
              "operation": "isNotEmpty"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.invalid_net_enquiry }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "58fb2beb-0331-426f-aaea-25767c6110c5",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ff4bfb08-751f-4a46-9dbb-faf6f9c906ca",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1660,
        -20
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "91d0cd65-f169-4bd8-b612-5a406f56c747",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        520,
        600
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "21504bbc-3b25-4bf6-bde1-389ef910b30e",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.google-analytics.com/mp/collect?api_secret=2o9L4e8HQBuPL-cJy46WVw&measurement_id=G-4NS9SVSY3Z?v=2 HTTP/1.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n                \"client_id\": \"{{ $('Split In Batches1').item.json[\"Miles Net Enquiries - Person__ga_client_id\"] }}\",\n                \"non_personalized_ads\": false,\n                \"events\": [\n                    {\n                        \"name\": \"purchase\",\n                        \"params\": {\n                        \"value\": \"{{ $('Split In Batches1').item.json[\"amount_paid\"] }}\",\n                        \"currency\": \"INR\",\n                        \"transaction_id\": \"{{ $('Split In Batches1').item.json[\"id\"] }}\",\n                        \"items\":[\n                            {\n                                \"item_name\": \"{{ $('Split In Batches1').item.json[\"course\"] }}\"\n                            }\n                        ]\n                        }\n                    }\n                ]\n            }",
        "options": {}
      },
      "id": "78eece35-93eb-4e39-b231-7b8a06a6f077",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1840,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Input data;\n\n// Convert 'created_at' to epoch in microseconds\nconst createdAt = $('Split In Batches1').item.json.created_at;\nconst date = new Date(createdAt);\nconst epochMicroseconds = date.getTime() * 1000; // Convert milliseconds to microseconds\nreturn {\n    created_at_epoch_microseconds: epochMicroseconds\n  }\n//console.log(epochMicroseconds);\n"
      },
      "id": "19a7d6b6-f458-430e-8417-3233b11f5d57",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "created_At_epoch",
              "value": "={{ $json.created_at_epoch_microseconds }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f831f8d4-fd59-4d10-8a21-0c9a8524b6c4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2120,
        200
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Calcutta",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2eIyPWrc3kUHr6YJ"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-09-02T13:29:03.000Z",
  "versionId": "56030b6b-1fb3-4e23-b9c3-11025f8537a0"
}