workflows2/phone country code dump.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-03-13T09:44:45.447Z",
  "id": "m234bdEuTaqSgFi8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "phone country code dump",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -340
      ],
      "id": "f9e388e7-d86f-4fab-ad1e-f44fc1e72044",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.iban.com/dialing-codes",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -340
      ],
      "id": "90ca7c32-46bb-46e5-b822-241d385a23e2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "useLinkReferenceDefinitions": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        0,
        -340
      ],
      "id": "34e06128-272f-4f44-a096-48467f54bce2",
      "name": "Markdown"
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"data\": [\n    {\n      \"country\": \"country\",\n      \"code\": \"+91\",\n      \"phone_length\": \"9\"\n    },\n    {\n      \"country\": \"country\",\n      \"code\": \"+91\",\n      \"phone_length\": \"9\"\n    }\n  ]\n}\n",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nFor this dataset, look at the table in the markup to identify the required details. country column gives country, country code gives country code, and nation number column gives phone_length.\n\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nGenerate this as an array of outputs, with each output containing the three params as mentioned. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        220,
        -340
      ],
      "id": "b38075d2-d480-4e2e-a580-5b403e1d2ab3",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        -120
      ],
      "id": "db43e973-eb5f-440a-94d5-09f5832d515c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ZE1PPZaN2o0t1Ijy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        580,
        -340
      ],
      "id": "33232d83-4fac-4a61-83a0-5a5518387984",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        -340
      ],
      "id": "5dfe4512-de52-47c5-82f5-c0c406a9e9e9",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-15T15:26:24.000Z",
  "versionId": "cb5ce092-c2a7-4be4-8093-0daa2ff38772"
}