workflows2/Register for webinar superbot.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-16T06:41:22.521Z",
  "id": "xh6VAJOkt2ub9QXQ",
  "meta": null,
  "name": "Register for webinar superbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register-for-webinar-superbot",
        "options": {}
      },
      "id": "40e91f34-d80b-403d-a214-cb2450d24c9b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -740,
        -180
      ],
      "webhookId": "b86d246d-cc5a-40bf-8934-9b2305599302"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_mobiles",
          "mode": "list",
          "cachedResultName": "miles_mobiles"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "last_ten_digits",
              "value": "={{ $json.body.phone.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "014585d9-cce7-4d42-a364-789c6216419c",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -560,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_emails",
          "mode": "list",
          "cachedResultName": "miles_emails"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "person_id",
              "value": "={{ $json.person_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ffc2889-de36-45cf-b56c-955e5eb32805",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -400,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads_dump",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email }}"
            },
            {
              "keyName": "webinar_id",
              "keyValue": "99"
            }
          ]
        }
      },
      "id": "7b32383b-2d99-4201-8527-7f1dbe051e4b",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads_dump",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('MySQL1').item.json.person_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('MySQL1').item.json.email }}"
            },
            {
              "fieldId": "camp_id",
              "fieldValue": "85"
            },
            {
              "fieldId": "webinar_id",
              "fieldValue": "49"
            },
            {
              "fieldId": "register_for_webinar",
              "fieldValue": "true"
            },
            {
              "fieldId": "course",
              "fieldValue": "9"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "true"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.location }}"
            }
          ]
        }
      },
      "id": "93a32b29-0d1c-4706-91ef-4df64890b45c",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        -60
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://apilayer.net/api/validate?access_key=3cca95673cdacb79b494c809edeb8048&number=91{{ $('Webhook').item.json.body.phone }}",
        "options": {}
      },
      "id": "31b043c8-8fd4-46a8-aad4-3fde56ba997e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}"
            }
          ]
        }
      },
      "id": "18ed0189-a778-4fce-92d5-f8ff423051bf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.phone }}",
        "template": "superbot_5th_jul|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.person_name ?? \" \" }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "152e6ce3-fb69-4a65-bae5-16789f004a6d",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        40,
        -180
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "WhatsApp account New"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "mwb",
          "mode": "list",
          "cachedResultName": "mwb"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "can_id",
              "value": "={{ $json.can_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d07ec902-3ab4-4e99-b033-2fd8b4841254",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -180,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.70.93.41",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "35.200.234.171, 172.70.93.41",
            "connection": "close",
            "content-length": "22",
            "accept-encoding": "gzip",
            "cf-ray": "847f16922b6f895f-SIN",
            "x-forwarded-proto": "https",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json",
            "cf-connecting-ip": "35.200.234.171",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "phone": "916238133298"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-05T10:24:41.000Z",
  "versionId": "e0d4422f-261f-4fb9-a561-d4851aa5cd56"
}