workflows2/register for webinar.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-29T10:20:53.984Z",
  "id": "D9cL1elB8RmsiJ9T",
  "meta": null,
  "name": "register for webinar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a470d20-1b76-40c5-b8af-ac2094fc2c12",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "9e7d9595-b9f2-48fc-91a6-e41dafb42715",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        120,
        260
      ],
      "webhookId": "6a470d20-1b76-40c5-b8af-ac2094fc2c12"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook').item.json.body.type == 1 || $('Webhook').item.json.body.type == '1'  }}",
              "value2": true
            }
          ]
        }
      },
      "id": "399e273e-66e9-4354-88b9-dedc7daeac9f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "tableId": "leads_dump",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "register_for_webinar",
              "fieldValue": "false"
            },
            {
              "fieldId": "last_name"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.body.phone }}"
            },
            {
              "fieldId": "course",
              "fieldValue": "9"
            },
            {
              "fieldId": "registration_status",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "73fb5771-0138-4e96-ba9f-632e1ba5aa69",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.zoom.us/v2/webinars/{{ $json.webinar_id }}/registrants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Supabase').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Supabase').item.json.last_name }}\",\n  \"email\": \"{{ $('Supabase').item.json.email }}\",\n  \"phone\": \"{{ $('Supabase').item.json.phone }}\"\n}",
        "options": {}
      },
      "id": "dfe08128-a823-47fe-ba21-a1a8461f4951",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        120
      ],
      "credentials": {
        "zoomOAuth2Api": {
          "id": "FyaXNpI7PVhEl5wV",
          "name": "Zoom account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "webinar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.webinar_id }}"
            }
          ]
        }
      },
      "id": "66f35e4e-cc9f-4e0f-84cc-191cbe9f29f3",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "webinar_registration",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leads_dump_id",
              "fieldValue": "={{ $('Supabase').item.json.id }}"
            },
            {
              "fieldId": "webinar_id",
              "fieldValue": "={{ $('Supabase1').item.json.id }}"
            },
            {
              "fieldId": "join_url",
              "fieldValue": "={{ $json.join_url }}"
            },
            {
              "fieldId": "registration_email",
              "fieldValue": "={{ $('Supabase').item.json.email }}"
            }
          ]
        }
      },
      "id": "38737199-dc8e-481a-b86e-17eb6f8b0c39",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1260,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "visit_office",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leads_dump_id",
              "fieldValue": "={{ $json.body.lead_dump_id }}"
            },
            {
              "fieldId": "time_string",
              "fieldValue": "={{ $json.body.time }}"
            },
            {
              "fieldId": "visit_date",
              "fieldValue": "={{ $json.body.datetime }}"
            },
            {
              "fieldId": "time_slots",
              "fieldValue": "={{ $json.dateTime }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.body.city == 'Virtual Meeting' ? \"Bangalore\" :   $json.body.city  }}"
            },
            {
              "fieldId": "meeting_type",
              "fieldValue": "={{ $json.body.type }}"
            }
          ]
        }
      },
      "id": "001c515d-7827-41b5-8334-0884770e35cc",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1580,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dateTime",
              "value": "={{ \n$('Webhook').item.json.body.time == '11:00 AM' ? '11:00:00' :\n$('Webhook').item.json.body.time == '12:00 PM' ? '12:00:00' :\n$('Webhook').item.json.body.time == '1:00 PM' ? '13:00:00' :\n$('Webhook').item.json.body.time == '2:00 PM' ? '14:00:00' :\n$('Webhook').item.json.body.time == '3:00 PM' ? '15:00:00' :\n$('Webhook').item.json.body.time == '4:00 PM' ? '16:00:00' :\n$('Webhook').item.json.body.time == '5:00 PM' ? '17:00:00' :\n$('Webhook').item.json.body.time == '6:00 PM' ? '18:00:00' :\n$('Webhook').item.json.body.time == '7:00 PM' ? '19:00:00' :\n '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b20fcce-5f0e-4fc8-a5eb-ceb49cc14357",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dateTime",
              "value": "={{ $('Webhook').item.json.body.date+' '+$json.dateTime}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc22d3e8-91ae-4f83-b931-bbdf0211545f",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1100,
        480
      ]
    },
    {
      "parameters": {
        "tableId": "visit_office",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leads_dump_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "time_string",
              "fieldValue": "={{ $('Webhook').item.json.body.time }}"
            },
            {
              "fieldId": "visit_date",
              "fieldValue": "={{ $('Webhook').item.json.body.date }}"
            },
            {
              "fieldId": "time_slots",
              "fieldValue": "={{ $json.dateTime }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Webhook').item.json.body.city == 'Virtual Meeting' ? \"Bangalore\" :   $('Webhook').item.json.body.city  }}"
            },
            {
              "fieldId": "meeting_type",
              "fieldValue": "={{ $('Webhook').item.json.body.meeting_type }}"
            }
          ]
        }
      },
      "id": "f9d4031b-1ceb-4214-bb53-affee681e1ad",
      "name": "Supabase4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.69.94.88",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "34.100.176.18, 172.69.94.88",
            "connection": "close",
            "content-length": "73",
            "accept-encoding": "gzip, br",
            "cf-ray": "8bcc8b9bcfe5441e-BOM",
            "x-forwarded-proto": "https",
            "user-agent": "python-requests/2.32.3",
            "accept": "*/*",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTM2LCJzdGF0dXMiOnRydWUsImNyZWF0ZWRfYXQiOiIyMDI0LTA3LTMwVDA0OjM0OjEyLjY2N1oiLCJ1cGRhdGVkX2F0IjoiMjAyNC0wOC0xMlQxMDoyMTowNC43MzFaIiwidXNlcklkIjoiYTg1N2ZlZjYtNTQ4YS00MWFkLTkzNDYtZDcwZjk5MWQ3MTcyIiwiZmlyc3ROYW1lIjoicmFtIiwibGFzdE5hbWUiOiJhciIsInJvbGUiOm51bGwsInVzZXJOYW1lIjpudWxsLCJlbWFpbCI6InJhbUBnbWFpbC5jb20iLCJwaG9uZSI6IjgwODg4NzE4MDgiLCJjb3VudHJ5Q29kZSI6Iis5MSIsIm1mYUVuYWJsZWQiOmZhbHNlLCJtZmFUeXBlIjpudWxsLCJtZmFTZWNyZXQiOm51bGwsInVzZXJUeXBlIjowLCJsYXN0TG9naW4iOm51bGwsInNlc3Npb24iOjM2MDMsImlhdCI6MTcyNTI1NTkxMCwiZXhwIjoxNzI1MzQyMzEwfQ.9MkTnq5vzCkN0U_DesWQbIc0D9r_dIoekmkin6ICumU",
            "content-type": "application/x-www-form-urlencoded",
            "cf-connecting-ip": "34.100.176.18",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "1",
            "name": "ram",
            "email": "ram@gmail.com",
            "phone": "+91 8088871808",
            "webinar_id": "2"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-09-02T09:44:56.000Z",
  "versionId": "b943f6d3-cc12-4775-b331-08389f094a5b"
}