workflows2/Register-accl-supabot.json
{
  "active": true,
  "connections": {
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-04T06:21:29.326Z",
  "id": "SKj1yFzvZyUomAiL",
  "meta": null,
  "name": "Register-accl-supabot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31b91ccb-796b-4549-8d25-7b3ed5c4f43c",
        "options": {}
      },
      "id": "d63d254d-05dc-45ac-858f-f24102267698",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "webhookId": "31b91ccb-796b-4549-8d25-7b3ed5c4f43c"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_mobiles",
          "mode": "list",
          "cachedResultName": "miles_mobiles"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "last_ten_digits",
              "value": "={{ $json.body.phone.slice(-10) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fba6c0d6-a7da-45e7-adb7-66e00c71fe92",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        660,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_emails",
          "mode": "list",
          "cachedResultName": "miles_emails"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "person_id",
              "value": "={{ $json.person_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2ffc179-0257-4a1b-a1f1-dfe496107713",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        820,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads_dump",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.person_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('MySQL').item.json.phone_number }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "course",
              "fieldValue": "9"
            },
            {
              "fieldId": "camp_id",
              "fieldValue": "405"
            },
            {
              "fieldId": "us_visa_orientation_session",
              "fieldValue": "={{ $('Webhook').item.json.body.city }}"
            }
          ]
        }
      },
      "id": "a0d01b2c-7820-4908-9922-122e5ce698a6",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1020,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "162.158.106.231",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "35.200.234.171, 162.158.106.231",
            "connection": "close",
            "content-length": "36",
            "accept-encoding": "gzip, br",
            "cf-ray": "86f8593fcce140dd-SIN",
            "x-forwarded-proto": "https",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json",
            "cf-connecting-ip": "35.200.234.171",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "phone": "+919723553669",
            "city": "1"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-05T10:18:10.000Z",
  "versionId": "17e54ded-1d88-4981-9f0c-ba42869219cc"
}