workflows2/Townhall Manual Shootout Flow Part 1.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase8": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase10": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase9": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Mandrill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandrill": {
      "main": [
        [
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Supabase9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-10T14:31:21.577Z",
  "id": "4tZDRcTN1syzZYel",
  "meta": null,
  "name": "Townhall Manual Shootout Flow Part 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0c6d3676-0db4-449e-9cc3-c10031c215f0",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.payload }}",
              "rightValue": "Yes, I'm Interested",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15b15e5e-893f-4370-a0c5-98639be560d5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Execute Workflow Trigger').item.json[\"first_name\"] }}\",\n  \"phone\": \"{{ $('Execute Workflow Trigger').item.json[\"wa_id\"].slice(2)}}\",\n  \"email\": \"{{ $('Supabase').item.json[\"email\"] }}\",\n  \"coming_from\": \"milespublicaccountingconclave\",\n\"camp_id\": {{ $('Execute Workflow Trigger').item.json[\"campaign_id\"] }}\n} ",
        "options": {}
      },
      "id": "9a5a599e-d49a-49cd-92ad-a39c51c6f6f2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3140,
        1640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "send_whatsapp_import",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "=+{{ $json.wa_id }}"
            },
            {
              "keyName": "camp_id",
              "keyValue": "={{ $json.campaign_id }}"
            }
          ]
        }
      },
      "id": "dfea3389-6d73-4f1b-8c8a-209fd444e04e",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conclave_townhall_registrations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Supabase').item.json.first_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Supabase').item.json.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Supabase').item.json.email }}"
            },
            {
              "fieldId": "camp_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "orientation_id",
              "fieldValue": "={{ $('Supabase').item.json.orientation_session_id }}"
            },
            {
              "fieldId": "mf_camp_id",
              "fieldValue": "=31"
            },
            {
              "fieldId": "coming_from",
              "fieldValue": "=utility_townhall_confirmation_{{ $('Postgres3').item.json['Program - ProgramId__name'] }}_wa_shootout"
            }
          ]
        }
      },
      "id": "0bc47388-d7fc-4486-a2ab-4cab9a00388a",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1160,
        -80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $('Supabase').item.json.phone }}",
        "template": "conclave_confirmation_map_head|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Supabase').item.json.first_name }}"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://one.mileseducation.us/storage/v1/object/public/website_assets/miles_logo.jpeg"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "c456abd3-dfea-48c9-b8ec-8cce16e924d0",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3200,
        1320
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "send_time",
              "fieldValue": "={{ $now.toJSON() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            },
            {
              "fieldId": "send_whatsapp_import",
              "fieldValue": "={{ $('Supabase').item.json.id }}"
            }
          ]
        }
      },
      "id": "52aca6e0-94ae-4a0c-ae0a-eeefbc9724ab",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3480,
        1440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conclave_townhall_registrations",
        "filters": {
          "conditions": [
            {
              "keyName": "=id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "wa_msg_id",
              "fieldValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "id": "bac8a3e3-59fb-433e-8664-f2654d80de94",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3700,
        1440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": {{$('Execute Workflow Trigger').item.json[\"wa_id\"] }},\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"conclave_confirmation_map_head\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"location\",\n                  \"location\": {\n                     \"longitude\": 77.620258,\n                     \"latitude\": 12.945092,\n                     \"name\": \"Miles Education\",\n                     \"address\": \"2nd Floor, Mantri Avenue, 20th Main Rd, Koramangala 8th Block, Koramangala, Bengaluru, Karnataka 560047\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json.first_name }}\"\n               }\n            ]\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "836f548f-6f49-438c-bd5d-54155e76af37",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3920,
        1200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conclave_superbot_logger",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.wa_id }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "disposition",
              "fieldValue": "Not Connected on superbot"
            }
          ]
        }
      },
      "id": "f3a8a336-21a7-44d6-8272-cd9d8cc4a2d1",
      "name": "Supabase5",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4100,
        1720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "2a0fa264-61c4-4120-9d46-30503d443bed",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -320,
        -220
      ]
    },
    {
      "parameters": {},
      "id": "17403bd1-b098-4d9c-b0d3-98db5577781f",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -100,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "miles_office",
          "mode": "list",
          "cachedResultName": "miles_office"
        },
        "where": {
          "values": [
            {
              "column": "city"
            }
          ]
        },
        "options": {}
      },
      "id": "7927cf52-82ba-4a18-83de-b4667729ee01",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3160,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "ggFr3kWsGBTF2B44",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orientation",
          "mode": "list",
          "cachedResultName": "orientation"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.orientation_session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61a78420-8607-4623-aadb-40ef3bcbd85e",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        140,
        -220
      ],
      "credentials": {
        "postgres": {
          "id": "ggFr3kWsGBTF2B44",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "miles_office",
          "mode": "list",
          "cachedResultName": "miles_office"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.milesLocationId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d09c3a7a-84c0-44e5-82fd-bb814f6a2df7",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        360,
        -220
      ],
      "credentials": {
        "postgres": {
          "id": "ggFr3kWsGBTF2B44",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "loc@",
              "type": "numberValue",
              "numberValue": "={{ $('Postgres2').item.json.location_url.search(\"@\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e6e0d19-bf56-4fad-9cf7-e4ad8a47aab5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3500,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const url = $('Postgres2').json.location_url;\n\nconst regex = /@([-+]?[0-9]*\\.?[0-9]+),([-+]?[0-9]*\\.?[0-9]+)/;\nconst match = url.match(regex);\n\nif (match) {\n  const coordinates = [match[1], match[2]]; // Latitude is match[1], Longitude is match[2]\n  console.log(\"Coordinates:\", coordinates);\n} else {\n  console.log(\"Coordinates not found\");\n}\n"
      },
      "id": "02dd34db-3604-4bfe-a4af-ed49a7733edd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        1640
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "latitude",
              "stringValue": "={{ $('Postgres2').item.json.location_url.substring($json[\"loc@\"]+1,$json[\"loc@\"]+11)}}"
            },
            {
              "name": "longitude",
              "stringValue": "={{ $('Postgres2').item.json.location_url.substring($json[\"loc@\"]+12,$json[\"loc@\"]+22)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "96b448a6-6ec9-4227-871b-11a22cf6a732",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3680,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/website-forms/large-event-registration",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Execute Workflow Trigger').item.json[\"first_name\"] }}\",\n  \"contact_number\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"]}}\",\n  \"email\": \"{{ $('Supabase1').item.json[\"email\"] }}\",\n  \"coming_from\": \"{{ $json[\"coming_from\"]}}\",\n\"campaign_id\": 31,\n\"type\":\"enrolled\",\n\"orientation_id\": {{$json[\"orientation_id\"] }}\n}",
        "options": {}
      },
      "id": "a7f47eee-a18e-4be0-b3a9-4981e9e6876d",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        -80
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{ $('Postgres').item.json[\"Program - ProgramId__name\"]==\"CMA\"?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles {{ $('Postgres').item.json[\"Program - ProgramId__name\"] }} Townhall with Varun Jain is coming to {{ $('Postgres').item.json[\"Miles Office - MilesLocationId__city\"] }}!\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres').item.json.orientation_date.toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres').item.json[\"Program - ProgramId__name\"] == \"CMA\"?\"11 AM\":\"3 PM\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles Education, {{ $('Postgres').item.json[\"Miles Office - MilesLocationId__city\"]}}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Level - 1, Jayabheri Silicon Towers, Hitech City Road, Kothaguda, Hyderabad - 500084\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres').item.json[\"Miles Office - MilesLocationId__location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "f05f2e97-ca90-4028-9bff-48fbe5e2ca07",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        1460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n              \n               {\n                  \"type\": \"text\",\n                  \"text\": \"911/912, Wing A, Kanakia Wall Street, Andheri Kurla Road, Mumbai - 400093\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "fb79e14d-60d3-4c02-897a-84c28ee253c9",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        -200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "=utility_townhall_confirmation_{{ $('HTTP Request1').item.json.result.data.coming_from.slice(9) }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            }
          ]
        }
      },
      "id": "b78cc56e-2200-48c3-8ee4-2f4adb3194e8",
      "name": "Supabase7",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3300,
        -200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n              \n               {\n                  \"type\": \"text\",\n                  \"text\": \"Level - 1, Jayabheri Silicon Towers, Hitech City Road, Kothaguda, Hyderabad - 500084\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "1f1796e4-67ce-4e69-abce-b5cbe949b174",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2980,
        -460
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "=utility_townhall_confirmation_{{ $('HTTP Request1').item.json.result.data.coming_from.slice(9) }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            }
          ]
        }
      },
      "id": "54aa13fe-be23-4050-a80b-8a69a7e8805e",
      "name": "Supabase8",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3300,
        -460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "=utility_townhall_confirmation_{{ $('HTTP Request1').item.json.result.data.coming_from.slice(9) }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            }
          ]
        }
      },
      "id": "df433978-6c17-43b5-bce7-98077adcbadf",
      "name": "Supabase9",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3320,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n              \n               {\n                  \"type\": \"text\",\n                  \"text\": \"704 Satyaone Complex, Near Helmet Cross Road, Memnagar, Ahmedabad - 380052\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "eb7bd851-7698-4426-8663-eaf9a8ac6f52",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        40
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "=utility_townhall_confirmation_{{ $('HTTP Request1').item.json.result.data.coming_from.slice(9) }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            }
          ]
        }
      },
      "id": "129fe626-1bf7-4a11-a718-9544156008c6",
      "name": "Supabase10",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3320,
        40
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{ $('Postgres1').item.json[\"programId\"]==\"2\"?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles {{$('Postgres1').item.json[\"programId\"]==\"2\"?\"CMA\":\"CPA\" }} Townhall with Varun Jain is coming to {{ $('Postgres2').item.json[\"city\"] }}!\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres1').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres1').item.json[\"programId\"] == \"2\"?\"11 AM\":\"3 PM\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles Education, {{ $('Postgres2').item.json[\"city\"]}}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres2').item.json[\"address\"] }}\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres2').item.json[\"location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "868faa6d-9722-4380-afb0-4254136e20de",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3380,
        1640
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {},
      "id": "58049b4d-371e-478c-9f31-0cb5624ef3c5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        320
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $('Supabase').item.json.phone }}",
        "template": "utility_townhall_callback|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Supabase').item.json.first_name }}"
                  },
                  {
                    "text": "={{ $json[\"programId\"]==1?\"CPA\":\"CMA\" }}"
                  },
                  {
                    "text": "={{ $json[\"programId\"]==1?\"87\":\"73\" }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "dde0d169-2d18-4b6e-9acf-a0472d849595",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1240,
        640
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "send_time",
              "fieldValue": "={{ $now.toJSON() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.messages[0].id }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.campaign_id }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contacts[0].input }}"
            },
            {
              "fieldId": "send_whatsapp_import",
              "fieldValue": "={{ $('Supabase').item.json.id }}"
            },
            {
              "fieldId": "next_flow_id",
              "fieldValue": "1vd4bbX2eqqmfEUQ"
            }
          ]
        }
      },
      "id": "d7528f67-9216-4b03-868a-4772de4e95ad",
      "name": "Supabase4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "wa_msg_id"
            }
          ]
        },
        "options": {}
      },
      "id": "9c4729b6-107b-4a36-8903-30d6e3c8a581",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3780,
        -100
      ]
    },
    {
      "parameters": {
        "template": "townhall-confirmation-mail",
        "fromEmail": "info@mileseducation.com",
        "toEmail": "={{ $('Supabase').item.json.email }}",
        "options": {
          "subject": "=Congratulations! Here's your confirmation for Miles {{ $('Postgres3').item.json[\"Program - ProgramId__name\"]==\"CPA\"?\"CPA\":\"CMA\" }} Townhall with Varun Jain🔥"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "FNAME",
              "content": "={{ $('Supabase').item.json.first_name }}"
            },
            {
              "name": "COURSE",
              "content": "={{ $('Postgres3').item.json[\"Program - ProgramId__name\"] }}"
            },
            {
              "name": "DATE",
              "content": "={{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}"
            },
            {
              "name": "TIME",
              "content": "={{ $('Postgres3').item.json[\"Program - ProgramId__name\"] == \"CMA\"?\"11 AM\":\"3 PM\" }}"
            },
            {
              "name": "LOCATION",
              "content": "={{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__address\"] }}"
            },
            {
              "name": "MAPS",
              "content": "={{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__location_url\"]}}"
            }
          ]
        }
      },
      "id": "22f99914-e59d-4ce7-a1e3-4ccd0a3a88c6",
      "name": "Mandrill",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        4060,
        -100
      ],
      "credentials": {
        "mandrillApi": {
          "id": "MdiS01IyaXU55Lih",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conclave_townhall_registrations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_send_id",
              "fieldValue": "={{ $json._id }}"
            },
            {
              "fieldId": "wa_msg_id",
              "fieldValue": "={{ $('Edit Fields2').item.json.message_id }}"
            }
          ]
        }
      },
      "id": "b7106415-b664-43cf-9167-4ec74d44f38f",
      "name": "Supabase11",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4320,
        -100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "baNruLU9AV7x2GZq",
          "name": "Supabase campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  \"public\".\"orientation\".\"id\" AS \"id\",\n  \"public\".\"orientation\".\"orientation_date\" AS \"orientation_date\",\n  \"public\".\"orientation\".\"programId\" AS \"programId\",\n  \"public\".\"orientation\".\"milesLocationId\" AS \"milesLocationId\",\n  \"public\".\"orientation\".\"orientation_name\" AS \"orientation_name\",\n  \"Miles Office - MilesLocationId\".\"address\" AS \"Miles Office - MilesLocationId__address\",\n  \"Miles Office - MilesLocationId\".\"city\" AS \"Miles Office - MilesLocationId__city\",\n  \"Miles Office - MilesLocationId\".\"contact\" AS \"Miles Office - MilesLocationId__contact\",\n  \"Miles Office - MilesLocationId\".\"location_url\" AS \"Miles Office - MilesLocationId__location_url\",\n  \"Miles Office - MilesLocationId\".\"lat\" AS \"Miles Office - MilesLocationId__lat\",\n  \"Miles Office - MilesLocationId\".\"lng\" AS \"Miles Office - MilesLocationId__lng\",\n  \"Program - ProgramId\".\"name\" AS \"Program - ProgramId__name\",\n  \"Program - ProgramId\".\"full_form\" AS \"Program - ProgramId__full_form\"\nFROM\n  \"public\".\"orientation\"\n \nLEFT JOIN \"public\".\"miles_office\" AS \"Miles Office - MilesLocationId\" ON \"public\".\"orientation\".\"milesLocationId\" = \"Miles Office - MilesLocationId\".\"id\"\n  LEFT JOIN \"public\".\"program\" AS \"Program - ProgramId\" ON \"public\".\"orientation\".\"programId\" = \"Program - ProgramId\".\"id\"\nwhere \"public\".\"orientation\".\"id\" = {{ $json.orientation_session_id }}\nLIMIT\n  1048575",
        "options": {}
      },
      "id": "348fff77-94ac-4ddb-88da-07f7965d3b33",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        280,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "ggFr3kWsGBTF2B44",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__city\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "Hyderabad",
              "outputKey": "0"
            },
            {
              "value2": "Mumbai",
              "outputKey": "1"
            },
            {
              "value2": "Ahmedabad",
              "outputKey": "2"
            },
            {
              "value2": "Delhi",
              "outputKey": "3"
            }
          ]
        }
      },
      "id": "945253da-1cb0-4885-b529-c5f89127f8f1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        2480,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n              \n               {\n                  \"type\": \"text\",\n                  \"text\": \"3rd and 4th Floor, Old Fort Building, Near DLF Mall, Main Road, Saket, New Delhi, Delhi 110017\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"Miles Office - MilesLocationId__location_url\"].slice(34) }}\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "d146c4c7-52d8-4a20-9dfc-01db6c63d7a1",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        1400
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles Office, Delhi\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles+Education+-+CPA,+CMA,+CFA+%26+FRM+(Delhi)/@28.5291083,77.2135674,17z/data=!3m1!4b1!4m6!3m5!1s0x390ce18ad00f5215:0x29080823c7ce545b!8m2!3d28.5291036!4d77.2161423!16s%2Fg%2F11b6dp34nn!5m1!1e4?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D\"\n               }\n            ]\n         }\n      ]\n   }\n}",
        "options": {}
      },
      "id": "3bc24950-d9f0-4a05-8b54-205a8acb7d81",
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3020,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/website-forms/large-event-registration",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webhook').item.json[\"body\"][\"first_name\"] }}\",\n  \"contact_number\": \"{{ $('Webhook').item.json[\"body\"][\"phone\"] }}\",\n  \"email\": \"{{ $('Webhook').item.json[\"body\"][\"email\"] }}\",\n  \"coming_from\": \"townhall_{{ $json[\"Program - ProgramId__name\"] }}_{{ $json[\"Miles Office - MilesLocationId__city\"] }}\",\n\"campaign_id\": 31,\n\"type\":\"not_enrolled\",\n\"orientation_id\": {{ $('Postgres').item.json[\"id\"] }},\n\"educational_qualification\": \"2024_false\",\n\"course\": \"{{ $('Postgres').item.json[\"Program - ProgramId__name\"] }}\"\n}",
        "options": {}
      },
      "id": "7e6aed3f-72df-4d80-949d-d89742c61e26",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"messaging_product\": \"whatsapp\",\n   \"recipient_type\": \"individual\",\n   \"to\": \"+{{ $('Execute Workflow Trigger').item.json[\"wa_id\"] }}\",\n   \"type\": \"template\",\n   \"template\": {\n      \"name\": \"utility_townhall_confirmation\",\n      \"language\": {\n         \"code\": \"en\"\n      },\n      \"components\": [\n         {\n            \"type\": \"header\",\n            \"parameters\": [\n               {\n                  \"type\": \"image\",\n                  \"image\": {\n                     \"link\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\":\"https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPATownhall_Banner-ezgif.com-webp-to-jpg-converter.jpg\" }}\"\n                  }\n               }\n            ]\n         },\n         {\n            \"type\": \"body\",\n            \"parameters\": [\n{\n\"type\": \"text\",\n                  \"text\": \"{{ $('Supabase').item.json[\"first_name\"] }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{$('Postgres3').item.json[\"programId\"]==2?\"CMA\":\"CPA\" }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"orientation_date\"].toDate().format(\"d MMMM, y\") }}\"\n               },\n               {\n                  \"type\": \"text\",\n                  \"text\": \"{{ $('Postgres3').item.json[\"programId\"]==2?\"11 AM\":\"3 PM\" }}\"\n               },\n              \n               {\n                  \"type\": \"text\",\n                  \"text\": \"704 Satyaone Complex, Near Helmet Cross Road, Memnagar, Ahmedabad - 380052\"\n               }\n            ]\n         },\n         {\n            \"type\": \"button\",\n            \"sub_type\": \"url\",\n            \"index\": \"0\",\n            \"parameters\": [\n               {\n                  \"type\": \"text\",\n                  \"text\": \"Miles+Education+-+CPA,+CMA,+CFA+%26+FRM+(Delhi)/@28.5291083,77.2135674,17z/data=!3m1!4b1!4m6!3m5!1s0x390ce18ad00f5215:0x29080823c7ce545b!8m2!3d28.5291036!4d77.2161423!16s%2Fg%2F11b6dp34nn!5m1!1e4?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D\"\n               }\n            ]\n         }\n      ]\n   }\n}\n",
        "options": {}
      },
      "id": "06abce4d-99db-4b9f-aa18-e32a2cbb25df",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2240,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "75melKbodQdQAHVp",
          "name": "Marketing | Secondary [Miles Education]"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "response_status": false,
          "is_retry": false,
          "user_id": null,
          "campaign_id": 1184,
          "message_status_id": 6523719,
          "webinar_id": null,
          "lead_dump_id": null,
          "payload": "Yes, I'm Inteested",
          "wa_id": "917349296479",
          "first_name": "Karan M"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-20T14:24:50.000Z",
  "versionId": "0a203720-65ec-4022-b3d8-3521d01f389a"
}