workflows2/USP - Meeting Schedule - Only 2nd Form.json
{
  "active": true,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-21T11:13:01.405Z",
  "id": "SDJphhqsyPRC7EoN",
  "meta": null,
  "name": "USP - Meeting Schedule - Only 2nd Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "39e5a1fd-fe0a-4114-94bb-c8a60cb86f25",
        "options": {}
      },
      "id": "ade9435c-561a-417c-8892-00cef223629c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        980,
        200
      ],
      "webhookId": "39e5a1fd-fe0a-4114-94bb-c8a60cb86f25"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "visit_office",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.id }}"
            }
          ]
        }
      },
      "id": "5d5b73f7-a74d-4b2e-aa89-619d5a72e4de",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads_dump",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.leads_dump_id }}"
            }
          ]
        }
      },
      "id": "ef41be73-e272-4040-a941-fd1e8c4e5507",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2140,
        180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Supabase').item.json.time_slots }}",
        "format": "X",
        "options": {}
      },
      "id": "b54eedcd-5c9f-438d-a831-86ed77538856",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2340,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfcomms.2x2.ninja/api/sendGoogleInviteMiles",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"secret\":\"18b2c162-c0bb-49b1-8f48-21c94a0aabf5\",\n  \"type\": \"{{ $('Supabase').item.json.meeting_type == 1 ? 'office' : 'video' }}\",\n  \"location\":\"{{$('Supabase').item.json.meeting_type == 1 ?  $('Supabase').item.json.city : 'Bangalore' }}\",\n  \"start_time\":{{ $json.formattedDate }},\n  \"candidate_email\":\"{{ $('Supabase1').item.json.email }}\",\n  \"mobile_number\":\"{{ $('Supabase1').item.json.phone }}\",\n\"ne_id\":{{ $('Supabase1').item.json.unique_id?.trim() ?? 0 }}\n} ",
        "options": {}
      },
      "id": "3b400974-d254-437f-b854-c6a507760f3f",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "visit_office",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "spoc_phone",
              "fieldValue": "={{ $json.spoc_phone }}"
            },
            {
              "fieldId": "spoc_gm",
              "fieldValue": "={{ $json.spoc_gm }}"
            },
            {
              "fieldId": "sopc_name",
              "fieldValue": "={{ $json.spoc_name }}"
            },
            {
              "fieldId": "flow_started",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "7483a1ab-9023-4801-ace0-68b9e31eb616",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2720,
        180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $('Supabase1').item.json.phone }}",
        "template": "201_a_formfill_part2|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Supabase1').item.json.first_name }}"
                  },
                  {
                    "text": "={{new Date($('Supabase').item.json.time_slots).toLocaleString('en-US',{year: 'numeric',month: 'short', day: 'numeric'})}} "
                  },
                  {
                    "text": "={{ $('Supabase').item.json.time_string }}"
                  },
                  {
                    "text": "={{ $('Supabase3').item.json.sopc_name ?? \"TBA\" }}"
                  },
                  {
                    "text": "={{ $('Supabase3').item.json.meeting_type == 1 ?$json.address : \"Google Meet\" }} "
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json.google_location.substring(34) }}"
                }
              }
            }
          ]
        }
      },
      "id": "366a4f7c-f8d9-4e87-ba7e-af8d2f2a0718",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3120,
        180
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "WhatsApp account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "miles_locations",
        "filters": {
          "conditions": [
            {
              "keyName": "location_name",
              "keyValue": "={{ $json.city }}"
            }
          ]
        }
      },
      "id": "87670db4-5c40-4ae9-9ded-9679597e05bd",
      "name": "Supabase4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2920,
        180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "12c2b45c-408b-4353-b62e-90fe1dd057ad",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3320,
        180
      ],
      "webhookId": "a244436e-8c5c-42a0-ba2d-930cfbda77e2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108019349036743/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"{{ $('Supabase1').item.json.phone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"201_b_formfill_info\",\n        \"language\": {\n            \"code\": \"en\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"document\",\n                        \"document\": {\n                            \"link\": \"https://blcwdqfhupddorxpdcjl.supabase.co/storage/v1/object/public/wa_assets/Miles_USP_Deck.pdf\",\n                            \"filename\": \"Miles US Pathway\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": [\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/HFKH39U_kE8\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/io6IWSxru54\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/hNiYbj0ynaY\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/pmr6j_iOAfY\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/dE13DlSjXuc\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"https://youtu.be/H_6bO1CkI44\"\n                    }\n                ]\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "id": "c5243ac3-cd97-4d59-ad73-3193a41ae0f6",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        180
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.flow_started }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "00573f36-3df3-4a50-83e4-573713c2fab1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1720,
        200
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "30b2781f-f5dd-4613-8f6b-3ccdadcbb968",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1940,
        180
      ],
      "webhookId": "fd4f5eb9-fa7d-4732-a02d-f92a3381c425"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads_dump",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.leads_dump_id.leads_dump_id }}"
            }
          ]
        }
      },
      "id": "ade1dab6-e372-4360-a04b-c234cd1f666f",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.phone }}",
              "value2": "+916238133298"
            },
            {
              "value1": "={{ $json.phone }}",
              "value2": "+919930270910"
            },
            {
              "value1": "={{ $json.email }}",
              "operation": "contains",
              "value2": "@mileseducation.com"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0c9e4b8f-4551-4ee6-865c-051ec63cbb18",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/form-2-new",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "leads_dump_id",
              "value": "={{ $('Webhook').item.json.body.leads_dump_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c187284a-ea82-4f7b-9cac-28b5c351ed1b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        -140
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.71.198.87",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "3.110.109.251, 172.71.198.87",
            "connection": "close",
            "content-length": "349",
            "accept-encoding": "gzip",
            "cf-ray": "84b803c3fe41f377-BOM",
            "x-forwarded-proto": "https",
            "user-agent": "PostgreSQL 15.1 (Ubuntu 15.1-1.pgdg20.04+1) on aarch64-unknown-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit",
            "accept": "*/*",
            "charsets": "utf-8",
            "content-type": "application/json",
            "cf-connecting-ip": "3.110.109.251",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 787,
            "leads_dump_id": {
              "id": 787,
              "city": "Delhi",
              "spoc_gm": null,
              "sopc_name": null,
              "created_at": "2024-01-26T10:18:55.934842+00:00",
              "spoc_phone": null,
              "time_slots": "2024-01-31T15:00:00",
              "visit_date": null,
              "time_string": "3:00 PM",
              "meeting_type": 1,
              "visit_status": null,
              "leads_dump_id": 348683,
              "visit_date_string": "2024-01-31 "
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Calcutta",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JugK3JVukMVLS3ax"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-27T09:19:45.406Z",
      "updatedAt": "2024-01-27T09:19:45.406Z",
      "id": "m1hfzqE5cWdHHPKy",
      "name": "Whatsapp-MasterFlow-USP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-28T17:28:19.000Z",
  "versionId": "1b94bf69-88b5-4d8d-bb15-f7c5cb898189"
}