workflows2/Workshop.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-31T13:16:59.647Z",
  "id": "h1bE1mt5eo0gaT1m",
  "meta": null,
  "name": "Workshop",
  "nodes": [
    {
      "parameters": {},
      "id": "f146b6fe-ce23-49b3-8ec7-076eab4e8445",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 250,
        "options": {}
      },
      "id": "0151f89a-0d81-41ec-a5f2-c511aac42067",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function generateUniqueId(n) {\n    const unicodeChars = [\n        '\\u205F', '\\u2028', '\\u200A', '\\u2009', '\\u2008', \n        '\\u2006', '\\u2005', '\\u2004'\n    ];\n    const base = unicodeChars.length;\n    let uniqueId = '';\n    \n    while (n > 0) {\n        n -= 1;\n        uniqueId = unicodeChars[n % base] + uniqueId;\n        n = Math.floor(n / base);\n    }\n    return `\\u205F\\u205F `+uniqueId;\n}\n\nlet arr = Array.from({ length: 2500 }, (_, index) => ({ \"inv_id\": null, \"id\": index + 1 }));\n\nfor (const item of arr) {\n  item.inv_id = generateUniqueId(item.id);\n}\n\nreturn arr"
      },
      "id": "345a36a5-4942-42cd-bc23-4e0891cde5ec",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        80
      ]
    },
    {
      "parameters": {
        "tableId": "temp_inv_ids",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "inv_char",
              "fieldValue": "={{ $json.data }}"
            }
          ]
        }
      },
      "id": "8438d1ec-3254-4cbc-8987-8d38dabb18d4",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        20
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "e879e572-cb64-4912-ab57-5d3781f62897",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1500,
        20
      ],
      "webhookId": "ec00102a-3691-4c1a-9ce4-8b6168a6a7fd"
    },
    {
      "parameters": {
        "jsCode": "function generateCustomBase8Numbers(count) {\n    // Mapping of digits to Unicode characters\n    const unicodeMap = {\n        0: '\\u00A0',  // U+00A0\n        1: '\\u2000',  // U+2000\n        2: '\\u2002',  // U+2002\n        3: '\\u2004',  // U+2004\n        4: '\\u2005',  // U+2005\n        5: '\\u2006',  // U+2006\n        6: '\\u2009',  // U+2009\n        7: '\\u200A'   // U+200A\n    };\n\n    // Function to convert a number to the custom base 8 system\n    function toCustomBase8(num) {\n        let result = '';\n        do {\n            result = unicodeMap[num % 8] + result;\n            num = Math.floor(num / 8);\n        } while (num > 0);\n        return result;\n    }\n\n    // Generate numbers\n    const numbers = [];\n    for (let i = 0; i < count; i++) {\n        numbers.push(toCustomBase8(i));\n    }\n\n    return numbers;\n}\n\n// Generate and display 5000 numbers\nconst customNumbers = generateCustomBase8Numbers(2500);\n\nreturn {\n  data:customNumbers\n};"
      },
      "id": "82bdbb60-439d-489a-b4df-fbc8d005c137",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        220
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "3b385aa1-9c46-4732-b094-ac1a619ee696",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        460,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.Name }}\",\n  \"last_name\": \"\",\n  \"phone\": \"91{{ $json['Phone Number'] }}\",\n  \"email\": \"{{ $json['Email ID'] }}\",\n  \"city\": null,\n  \"course_id\": 9,\n  \"coming_from\": \"Website\",\n  \"campaign_id\":17,\n  \"campaign_tk\": null,\n  \"gcl_id\": \"\",\n  \"whatsapp_opt_in\": true,\n  \"register_for_webinar\": true,\n  \"intrested_to_work_in_us\": false,\n  \"page_full_url\": \"\",\n  \"url_page_path\": \"\",\n  \"linked_in_url\": \"\",\n  \"clevertap_id\": \"\",\n  \"education_qualification\": null,\n  \"isFromWelcomeBack\": false,\n\"spoc_email\":\"{{ $json[\"SPOC\"] }}\"\n}",
        "options": {}
      },
      "id": "ad3c1bb0-f147-44a4-baef-527cf7888bbc",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        -140
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LStmaAih1uJl5YOeXbhYqfmS9XWINWUC2_AbFNll5tc/edit?usp=sharing",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837654423,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LStmaAih1uJl5YOeXbhYqfmS9XWINWUC2_AbFNll5tc/edit#gid=1837654423"
        },
        "options": {}
      },
      "id": "3acf27b2-48b9-4810-be74-30291820b6c8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -20,
        200
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c76e2f8e-609b-4d45-a934-6c42cde23ef7",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "9d94ea46-6b54-49ac-9e6b-7e4b9ebed2e1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        620,
        -140
      ],
      "webhookId": "61024e73-9f5a-4609-9fcb-6ba98cc22ab5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-20T12:19:05.000Z",
  "versionId": "a681a19a-38e2-434d-9cfa-479b9d7dcb16"
}