martech-backup/(NEW) Send Template Message Through WATI
[{"createdAt":"2025-06-04T11:15:24.421Z","updatedAt":"2025-07-15T07:11:12.000Z","id":"AqCXRLBEFDGVdTMl","name":"(NEW) Send Template Message Through WATI","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-620,-60],"id":"60d73cb4-6386-46b7-9c2a-4e2085f6ac67","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","tableId":"wati_auth_tokens","filters":{"conditions":[{"keyName":"tenant_id","keyValue":"={{ $json.tenant_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-300,-60],"id":"64dfde18-11e7-49d0-8bb2-f130a34d87c9","name":"Supabase","credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{"method":"POST","url":"=https://live-mt-server.wati.io/{{ $json.tenant_id }}/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"={{ $('When Executed by Another Workflow').item.json.whatsappNumber }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"={{ $json.auth_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"{{ $('When Executed by Another Workflow').item.json.template_name }}\",\n  \"broadcast_name\": \"{{ $('When Executed by Another Workflow').item.json.broadcast_name }}\",\n  \"parameters\": {{ $('When Executed by Another Workflow').item.json.parameters.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,-60],"id":"a4d1781b-fe88-44b1-bd25-5cdbbeb58d23","name":"semd_template_message"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"5DZrYUZ8geTKJ6ZY","cachedResultName":"Log Sent Message in supabase"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,-60],"id":"0fe296d8-3e61-4270-af18-fc948614e96b","name":"Log Sent Message in supabase"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"template_name","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] }}","type":"number"},{"id":"b76f83db-e20b-458b-8f13-9594d0428819","name":"lead_id","value":"={{ $('When Executed by Another Workflow').item.json.lead_id }}","type":"string"},{"id":"6d552d1a-2c8c-4d42-bd09-fcb0e210d840","name":"isValidWhatsAppNumber","value":"={{ $json.receivers[0].isValidWhatsAppNumber }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-60],"id":"d6264f4d-eff9-4840-888e-8126d5e7c089","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"semd_template_message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"semd_template_message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"template_name":"webinar_registration_confirmation_doctors_v3","broadcast_name":"webinar_registration_confirmation_doctors_v3","tenant_id":"439562","event_name":"webinar_registration_confirmation","whatsappNumber":"916350554320","lead_id":"8585317","email":"harendraverma808@gmail.com","parameters":[{"name":"name","value":"Harendra verma "},{"name":"webinar_date","value":"14 June, 2025"},{"name":"webinar_time","value":"05:30 PM"},{"name":"link","value":"https://zoom.us/w/91534449117?tk=jZ2zlnMOufnju10hTD8GL9Zkb5dTfJTEe5ULJzmqB2Y.DQcAAAAVT-DZ3RZ2UmRaNExiMVRhYUVJLVRvX3dKMkp3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&uuid=WN_2gVv-itXT-y6Boh8A9sNuw"}]}}]},"versionId":"49a28859-57fd-4a43-bf9f-5f16161b8b92","triggerCount":0,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]