martech-backup/Accounting Roadmap Webinar Reminder - D-1 Day
[{"createdAt":"2025-04-28T09:28:32.836Z","updatedAt":"2025-07-15T07:14:38.000Z","id":"h7r4y1OaXQGOXQNo","name":"Accounting Roadmap Webinar Reminder - D-1 Day","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n  \"public\".\"webinar_registration\".\"email\" AS \"email\",\n  \"public\".\"webinar_registration\".\"webinarId\" AS \"webinarId\",\n  \"public\".\"webinar_registration\".\"join_url\" AS \"join_url\",\n    \"public\".\"webinar_registration\".\"campignId\" AS \"campignId\",\n  \"Lead - LeadId\".\"id\" AS \"Lead - LeadId__id\",\n  \"Lead - LeadId\".\"candidate_id\" AS \"Lead - LeadId__candidate_id\",\n  \"Lead - LeadId\".\"first_name\" AS \"Lead - LeadId__first_name\",\n  \"Lead - LeadId\".\"uuid\" AS \"Lead - LeadId__uuid\",\n  \"Phone\".\"phoneNumber\" AS \"Phone__phoneNumber\",\n  \"Phone\".\"countryCode\" AS \"Phone__conutryCode\",\n  \"Webinar - WebinarId\".\"date_string\" AS \"Webinar - WebinarId__date_string\",\n  \"Webinar - WebinarId\".\"time_string\" AS \"Webinar - WebinarId__time_string\",\n      \"Webinar - WebinarId\".\"courseId\" AS \"Webinar - courseId\"\nFROM\n  \"public\".\"webinar_registration\"\n \nLEFT JOIN \"public\".\"lead\" AS \"Lead - LeadId\" ON \"public\".\"webinar_registration\".\"leadId\" = \"Lead - LeadId\".\"id\"\n  LEFT JOIN \"public\".\"phone\" AS \"Phone\" ON \"Lead - LeadId\".\"id\" = \"Phone\".\"leadId\"\n  LEFT JOIN \"public\".\"webinar\" AS \"Webinar - WebinarId\" ON \"public\".\"webinar_registration\".\"webinarId\" = \"Webinar - WebinarId\".\"id\"\n  LEFT JOIN \"public\".\"email\" AS \"Email\" ON \"Lead - LeadId\".\"id\" = \"Email\".\"leadId\"\nWHERE\n  \"public\".\"webinar_registration\".\"webinarId\" = {{ $json.id }}\nLIMIT\n  1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[140,-180],"id":"4bb2a9ba-85fb-4587-963f-df76b97e24bd","name":"Postgres","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[340,-180],"id":"3416e1e8-2c17-4211-8dae-b1a10ff9f7b0","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"e4e1c792-42b3-4ed4-82ff-91f84d3139d8","name":"event_name","value":"webinar_registered_d_1_day","type":"string"},{"id":"83ebf7f5-2856-4e95-9f23-82ee536591ef","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"e45a514a-6316-417d-8cb1-4d711db209c0","name":"join_url","value":"={{ $('Loop Over Items').item.json.join_url }}","type":"string"},{"id":"6ef5ff88-3a7d-4181-911b-e38d33a79b40","name":"lead_id","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__id\"] }}","type":"number"},{"id":"351fe865-ce94-4e9f-b9d9-94588bde1a0f","name":"candidate_id","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__candidate_id\"] }}","type":"string"},{"id":"fe83a728-82c0-4a42-956e-9b4f5f7af822","name":"first_name","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"685e7d8e-af6b-49d4-b2d2-2dc2a92f3089","name":"uuid","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"ab699434-89b6-49c7-bc6b-4377ac702c29","name":"phone","value":"={{ $('Loop Over Items').item.json.Phone__phoneNumber }}","type":"string"},{"id":"470bb815-d190-4a78-b783-37ba0e03f7b9","name":"webinar_date","value":"={{ $('Loop Over Items').item.json[\"Webinar - WebinarId__date_string\"] }}","type":"string"},{"id":"a950e8e5-8784-421b-8865-4f7fe0529486","name":"webinar_time","value":"={{ $('Loop Over Items').item.json[\"Webinar - WebinarId__time_string\"] }}","type":"string"},{"id":"3a55ea38-1456-4322-81fa-eb0a38ca80b1","name":"country_code","value":"={{ $('Loop Over Items').item.json.Phone__conutryCode }}","type":"string"},{"id":"c28d3d39-d9b6-4889-8c62-0f8ad89516b9","name":"campaign_id","value":"={{ $('Loop Over Items').item.json.campignId }}","type":"number"},{"id":"b67c6638-f6ab-463c-956a-c48cce616816","name":"course_id","value":"={{ $('Loop Over Items').item.json[\"Webinar - courseId\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,-80],"id":"d170b4ab-71be-40c7-9a5f-50001ed5b044","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,-80],"id":"33ef9c06-f3ac-46f7-aef0-e28d0301dbbc","name":"Send Activity to Netcore"},{"parameters":{"content":"Connect loop for prod"},"type":"n8n-nodes-base.stickyNote","position":[180,-260],"typeVersion":1,"id":"143fb2eb-ceac-4e05-acd2-2ed216955e82","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"908244e5-541e-4dc3-9913-a4069df1c243","name":"uuid","value":"={{ $json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"6d8242ef-c850-4fcc-882e-cff787199d94","name":"first_name","value":"={{ $json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"5c829fc1-0545-4c98-8d55-4922d21cebae","name":"phone","value":"={{ $json.Phone__phoneNumber }}","type":"string"},{"id":"af1f883f-89e3-4723-9290-248248338de1","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-80],"id":"1eb0f417-dadd-4bfe-a85d-30c8a0fe6008","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[780,-80],"id":"8c5b4357-a7b8-4747-80e5-0cf213d10925","name":"NEW Send Contact to Netcore"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,-420],"id":"e08a5e42-ee4d-45a0-b5b2-c2aef26c2d8b","name":"When clicking ‘Test workflow’"}],"connections":{"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Activity to Netcore","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"NEW Send Contact to Netcore","type":"main","index":0}]]},"NEW Send Contact to Netcore":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68a2e6c3-d48e-4b1f-9e0f-bcacc992402f","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-04-29T06:32:41.940Z","updatedAt":"2025-04-29T06:32:41.940Z","id":"SxAk5FrqIJH8m5eW","name":"webinar"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]