martech-backup/Doctors Pathway Webinar Reminder - D Day
[{"createdAt":"2025-05-09T16:43:53.911Z","updatedAt":"2025-07-15T07:14:43.000Z","id":"SvIwcPuakKmMY4KK","name":"Doctors Pathway Webinar Reminder - D Day","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-680,-1080],"id":"1a059b2b-b1ce-4ea8-81a0-a480b9ec1ad1","name":"When clicking ‘Test workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[500,-760],"id":"641fbc0f-c6a2-47a3-ba05-85a268fd7502","name":"NEW Send Contact to Netcore"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  \"public\".\"webinar_registration\".\"email\" AS \"email\",\n  \"public\".\"webinar_registration\".\"webinarId\" AS \"webinarId\",\n  \"public\".\"webinar_registration\".\"join_url\" AS \"join_url\",\n    \"public\".\"webinar_registration\".\"campignId\" AS \"campignId\",\n  \"Lead - LeadId\".\"id\" AS \"Lead - LeadId__id\",\n  \"Lead - LeadId\".\"candidate_id\" AS \"Lead - LeadId__candidate_id\",\n  \"Lead - LeadId\".\"first_name\" AS \"Lead - LeadId__first_name\",\n  \"Lead - LeadId\".\"uuid\" AS \"Lead - LeadId__uuid\",\n  \"Phone\".\"phoneNumber\" AS \"Phone__phoneNumber\",\n  \"Phone\".\"countryCode\" AS \"Phone__conutryCode\",\n  \"Webinar - WebinarId\".\"date_string\" AS \"Webinar - WebinarId__date_string\",\n  \"Webinar - WebinarId\".\"time_string\" AS \"Webinar - WebinarId__time_string\",\n      \"Webinar - WebinarId\".\"courseId\" AS \"Webinar - courseId\"\nFROM\n  \"public\".\"webinar_registration\"\n \nLEFT JOIN \"public\".\"lead\" AS \"Lead - LeadId\" ON \"public\".\"webinar_registration\".\"leadId\" = \"Lead - LeadId\".\"id\"\n  LEFT JOIN \"public\".\"phone\" AS \"Phone\" ON \"Lead - LeadId\".\"id\" = \"Phone\".\"leadId\"\n  LEFT JOIN \"public\".\"webinar\" AS \"Webinar - WebinarId\" ON \"public\".\"webinar_registration\".\"webinarId\" = \"Webinar - WebinarId\".\"id\"\n  LEFT JOIN \"public\".\"email\" AS \"Email\" ON \"Lead - LeadId\".\"id\" = \"Email\".\"leadId\"\nWHERE\n  \"public\".\"webinar_registration\".\"webinarId\" = {{ $json.id }}\nLIMIT\n  1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-220,-860],"id":"ec922439-e258-423a-9acc-d22a7b50c932","name":"Postgres1","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-20,-860],"id":"567629d1-5bba-467a-bc3e-c545294d471a","name":"Loop Over Items1"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1080,-760],"id":"274c4185-c394-4f6f-bcbc-996ec1fd971d","name":"Send Activity to Netcore1"},{"parameters":{"content":"Connect loop for prod"},"type":"n8n-nodes-base.stickyNote","position":[-180,-940],"typeVersion":1,"id":"bc87624a-ab69-4ca8-9c14-331413ac711b","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,-680],"id":"5c76e3c8-a0b7-421a-9c0f-59e4c64c00c4","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"e4e1c792-42b3-4ed4-82ff-91f84d3139d8","name":"event_name","value":"webinar_registered_d_day","type":"string"},{"id":"83ebf7f5-2856-4e95-9f23-82ee536591ef","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"e45a514a-6316-417d-8cb1-4d711db209c0","name":"join_url","value":"={{ $('Loop Over Items1').item.json.join_url }}","type":"string"},{"id":"6ef5ff88-3a7d-4181-911b-e38d33a79b40","name":"lead_id","value":"={{ $('Loop Over Items1').item.json[\"Lead - LeadId__id\"] }}","type":"number"},{"id":"351fe865-ce94-4e9f-b9d9-94588bde1a0f","name":"candidate_id","value":"={{ $('Loop Over Items1').item.json[\"Lead - LeadId__candidate_id\"] }}","type":"string"},{"id":"fe83a728-82c0-4a42-956e-9b4f5f7af822","name":"first_name","value":"={{ $('Loop Over Items1').item.json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"685e7d8e-af6b-49d4-b2d2-2dc2a92f3089","name":"uuid","value":"={{ $('Loop Over Items1').item.json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"ab699434-89b6-49c7-bc6b-4377ac702c29","name":"phone","value":"={{ $('Loop Over Items1').item.json.Phone__phoneNumber }}","type":"string"},{"id":"470bb815-d190-4a78-b783-37ba0e03f7b9","name":"webinar_date","value":"={{ $('Loop Over Items1').item.json[\"Webinar - WebinarId__date_string\"] }}","type":"string"},{"id":"a950e8e5-8784-421b-8865-4f7fe0529486","name":"webinar_time","value":"={{ $('Loop Over Items1').item.json[\"Webinar - WebinarId__time_string\"] }}","type":"string"},{"id":"3a55ea38-1456-4322-81fa-eb0a38ca80b1","name":"country_code","value":"={{ $('Loop Over Items1').item.json.Phone__conutryCode }}","type":"string"},{"id":"c28d3d39-d9b6-4889-8c62-0f8ad89516b9","name":"campaign_id","value":"={{ $('Loop Over Items1').item.json.campignId }}","type":"number"},{"id":"b67c6638-f6ab-463c-956a-c48cce616816","name":"course_id","value":"={{ $('Loop Over Items1').item.json[\"Webinar - courseId\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,-760],"id":"dd1c8161-015c-4d09-b856-ae54c42eec2b","name":"Edit Fields2"},{"parameters":{"content":"8 AM on webinar day"},"type":"n8n-nodes-base.stickyNote","position":[-860,-720],"typeVersion":1,"id":"6ea06a81-2853-468b-8b7f-9e0ee191b2d8","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"Wkpiwobtscn9DhDY","mode":"list","cachedResultName":"Fetch Latest Doctor's Pathway Webinar"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-460,-1000],"id":"7850a138-6104-4845-b5c2-4ab5883afc2f","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"908244e5-541e-4dc3-9913-a4069df1c243","name":"uuid","value":"={{ $json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"6d8242ef-c850-4fcc-882e-cff787199d94","name":"first_name","value":"={{ $json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"5c829fc1-0545-4c98-8d55-4922d21cebae","name":"phone","value":"={{ $json.Phone__phoneNumber }}","type":"string"},{"id":"af1f883f-89e3-4723-9290-248248338de1","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-760],"id":"b3304e13-4379-47f6-a676-b69acd95ff06","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"Wkpiwobtscn9DhDY","mode":"list","cachedResultName":"Fetch Latest Doctor's Pathway Webinar"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-440,-680],"id":"9064993e-c2d1-4592-8f4f-58ac62e7c0a7","name":"Fetch Latest Doctors Roadmap Webinar1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"NEW Send Contact to Netcore":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Fetch Latest Doctors Roadmap Webinar1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send Activity to Netcore1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"NEW Send Contact to Netcore","type":"main","index":0}]]},"Fetch Latest Doctors Roadmap Webinar1":{"main":[[{"node":"Postgres1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ef25676-460f-4ff7-b000-69e98ffde87c","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-04-29T06:32:41.940Z","updatedAt":"2025-04-29T06:32:41.940Z","id":"SxAk5FrqIJH8m5eW","name":"webinar"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]