martech-backup/Doctor's Data Dump
[{"createdAt":"2025-05-09T13:03:42.986Z","updatedAt":"2025-07-15T07:17:43.000Z","id":"ZbkR1elOHie1VgGd","name":"Doctor's Data Dump","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"select\n                ne.\"leadId\",\n                (ne.created_at + interval '5 hours 30 minutes') as created_at,\n                ne.\"first_name\" || ' ' || coalesce(ne.\"last_name\", '') as full_name,\n                ne.phone,\n                ne.email,\n                ne.\"campaign_id\",\n                c.\"platform_campaignId\",\n                ne.coming_from,\n                c.campaign_name,\n                s.source_name\n        from net_enquiry ne\n        left join campaign c on ne.\"campaign_id\" = c.id\n        left join source s on c.\"sourceId\" = s.id\n        where c.\"platform_campaignId\" in ('1601', '1611', '1629')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,140],"id":"4c42deb9-5225-4d5c-b3ce-a3e138180eec","name":"Postgres","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"authentication":"serviceAccount","operation":"clear","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Data_dump","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI/edit#gid=0"},"clear":"specificRows","startIndex":2,"rowsToDelete":10000},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,140],"id":"58f6292b-ddac-49c7-ab83-5ae8628b7c98","name":"Google Sheets","credentials":{"googleApi":{"id":"aiCprsG1ZRAOjrNn","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Data_dump","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"leadId":"={{ $json.leadId }}","created_at":"={{ $json.created_at }}","full_name":"={{ $json.full_name }}","phone":"={{ $json.phone }}","email":"={{ $json.email }}","campaign_id":"={{ $json.campaign_id }}","platform_campaignId":"={{ $json.platform_campaignId }}","coming_from":"={{ $json.coming_from }}","campaign_name":"={{ $json.campaign_name }}","source_name":"={{ $json.source_name }}"},"matchingColumns":["row_number"],"schema":[{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"campaign_id","displayName":"campaign_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform_campaignId","displayName":"platform_campaignId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coming_from","displayName":"coming_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"campaign_name","displayName":"campaign_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_name","displayName":"source_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,140],"id":"8c65c646-be94-4eb2-9ae9-12c1bb499e34","name":"Google Sheets2","credentials":{"googleApi":{"id":"aiCprsG1ZRAOjrNn","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,140],"id":"16a50bc7-d8a3-486e-aaba-fd8dc76eff57","name":"Loop Over Items"},{"parameters":{"httpMethod":"POST","path":"fetch-doctors-net-enquiry","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[140,-280],"id":"f83bbfed-3e9f-4a57-b821-55f47a29a66f","name":"Webhook","webhookId":"17ddc6e1-5b58-4f16-8022-4e0380a7f9bf"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Data_dump","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RKEdYWOHYjUQBlfIXYfMV6Zl2zhz9n_2mLYyQGvGFnI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"leadId":"={{ $('Webhook').item.json.body.leadId }}","created_at":"={{$now}}","full_name":"={{ $('Webhook').item.json.body.first_name }}","phone":"={{ $('Webhook').item.json.body.phone }}","email":"={{ $('Webhook').item.json.body.email }}","campaign_id":"={{ $('Webhook').item.json.body.campaign_id }}","coming_from":"={{ $('Webhook').item.json.body.coming_from }}","campaign_name":"={{ $('Supabase').item.json.campaign_name }}","source_name":"={{ $json.source_name }}"},"matchingColumns":[],"schema":[{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"campaign_id","displayName":"campaign_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coming_from","displayName":"coming_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"campaign_name","displayName":"campaign_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_name","displayName":"source_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,-280],"id":"1748cd7c-b80c-4649-886e-d14345f0256f","name":"Google Sheets1","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleApi":{"id":"aiCprsG1ZRAOjrNn","name":"Google Sheets account"}}},{"parameters":{"operation":"get","tableId":"campaign","filters":{"conditions":[{"keyName":"mf2_camp_id","keyValue":"={{ $json.body.campaign_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[360,-280],"id":"31d74a73-e960-41b5-a3a8-de40b0aedc7d","name":"Supabase","credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{"operation":"get","tableId":"campaign_source","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.source }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[580,-280],"id":"a9d4070e-7e92-4548-99fb-a528aa3cba2b","name":"Supabase1","credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,-280],"id":"6abce5a4-2459-4aef-aade-ead40fc92d52","name":"Wait","webhookId":"08696caf-0d0d-4296-a0fd-b73216756d09"}],"connections":{"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"Postgres","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JugK3JVukMVLS3ax"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"172.69.94.172","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"34.93.127.198, 172.69.94.172","connection":"close","content-length":"573","cf-ray":"93d19d17fd6b002d-BOM","user-agent":"axios/1.8.2","accept-encoding":"gzip, br","content-type":"application/json","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","cf-visitor":"{\"scheme\":\"https\"}","cf-connecting-ip":"34.93.127.198","cf-ipcountry":"IN"},"params":{},"query":{},"body":{"first_name":"Gaurav Sharma","last_name":null,"city":null,"coming_from":"1631_Doctors_Pathway_Medical_Intent_FB_Doctors_Pathway_OutR_Native_Form","campaign_id":1631,"email":"gauravmay2004@gmail.com","intrested_for_work_in_us":null,"page_full_url":null,"phone":"+918800942092","register_for_webinar":true,"graduation_year":"2024 or earlier","id":726087,"leadId":8549336,"status":true,"created_at":"9-May-2025 | 3:38 PM","updated_at":"9-May-2025 | 3:38 PM","event_name":"new_enquiry_received","course_id":33,"next_webinar_date":"May 17, 2025","next_webinar_time":"04:00 PM"},"webhookUrl":"https://webhook.miles-api.com/webhook/fetch-doctors-net-enquiry","executionMode":"production"}}]},"versionId":"cc2d14d9-8c12-42c3-ae3c-ce6277772d9e","triggerCount":1,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]