martech-backup/fetch-templates-from-wati
[{"createdAt":"2025-06-04T06:00:43.750Z","updatedAt":"2025-07-15T07:08:18.000Z","id":"R2lBfs52Z6VsGC7l","name":"fetch-templates-from-wati","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,-520],"id":"424f0436-2cd3-48c5-8b95-c0a3645a50ef","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://live-mt-server.wati.io/413503/api/v1/getMessageTemplates","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJmNjA0ZTM2NC03MjZlLTQzNjctYTAwMC1kODBiZWJjNTc1ZmYiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMjEvMjAyNSAwNzoxMjoyMSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.e01c8FazzXtpCgQDf_2lT7aqv4zkCzPrYbWt0x_J6cQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-180],"id":"276476a0-e7fe-4269-80d3-d10351538b89","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"messageTemplates","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[120,-180],"id":"b5c58563-5882-4bd9-9b9b-ae98b46b7fd4","name":"Split Out"},{"parameters":{"url":"https://live-mt-server.wati.io/444763/api/v1/getMessageTemplates","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwZTRjYTEwYy1jODVlLTRjMGYtODlmNy0wYTRiNTEwMzU4NzMiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMjAvMjAyNSAxMToyMToxMiIsInRlbmFudF9pZCI6IjQ0NDc2MyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.2zFIONy1a5VrqbaIb6jHiqvVcQp6FO1jX-6JcJFQz2k"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,360],"id":"4826362c-4279-443e-ae04-e7bab775471e","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":"messageTemplates","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[120,360],"id":"983767b1-d888-4c66-9eda-38f041e8818c","name":"Split Out1"},{"parameters":{"url":"https://live-mt-server.wati.io/439562/api/v1/getMessageTemplates","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5M2MzOWRmZS0yOGFjLTQ0MTctYjk4ZS03ZWU0OTNlNmNjMDIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDYvMDYvMjAyNSAxMzo0MjowOSIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8Yw-NvNQKSaL1N1XV70oEm1GACRGrVcGXUqXmvyphsA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,120],"id":"58dff4ce-4059-4b20-9d10-8d0bb2352b15","name":"HTTP Request2"},{"parameters":{"fieldToSplitOut":"messageTemplates","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[120,120],"id":"fedaa9ba-c363-4985-8429-999570cdbf69","name":"Split Out2"},{"parameters":{"assignments":{"assignments":[{"id":"3a056c12-9a91-4847-9d19-9d38eb6751f0","name":"wati_account_id","value":"413503","type":"string"},{"id":"aae81e89-d2e6-410a-9ce1-8878dd25c0c9","name":"program_id","value":"1","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-400],"id":"dfad7d68-11b1-4e63-ae7c-f1275f0e3a47","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"3a056c12-9a91-4847-9d19-9d38eb6751f0","name":"wati_account_id","value":"439562","type":"string"},{"id":"23fe9b75-88b9-4cdf-913b-84d30162f78c","name":"program_id","value":"33","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,120],"id":"7a15dee0-21e3-4ccf-9a36-bae4ee8ca534","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"3a056c12-9a91-4847-9d19-9d38eb6751f0","name":"wati_account_id","value":"444763","type":"string"},{"id":"9bf717c8-b95c-40e0-8dc6-d1fe06da98e9","name":"program_id","value":"58","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,360],"id":"f148d375-33a2-4240-a668-f952b883c88c","name":"Edit Fields2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[720,140],"id":"2595ca30-e1df-4ad1-9119-4da8145a92ed","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[940,140],"id":"0a6486c0-6489-4280-9eed-e61174862faf","name":"Loop Over Items"},{"parameters":{"operation":"get","tableId":"wati_message_templates","filters":{"conditions":[{"keyName":"template_name","keyValue":"={{ $json.elementName }}"},{"keyName":"wati_account_id","keyValue":"={{ $json.wati_account_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,240],"id":"32e0c668-2b97-4a3f-87d2-dd1c2c897a11","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdcd86e2-47dd-435c-bf9d-7d2f2ed7d5a3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,240],"id":"604a61ea-8714-4e3c-96f1-8aa25a4163db","name":"If"},{"parameters":{"tableId":"wati_message_templates","fieldsUi":{"fieldValues":[{"fieldId":"template_name","fieldValue":"={{ $('Loop Over Items').item.json.elementName }}"},{"fieldId":"wati_account_id","fieldValue":"={{ $('Loop Over Items').item.json.wati_account_id }}"},{"fieldId":"customParams","fieldValue":"={{ $('Loop Over Items').item.json.customParams }}"},{"fieldId":"message_body","fieldValue":"={{ $('Loop Over Items').item.json.bodyOriginal }}"},{"fieldId":"category","fieldValue":"={{ $('Loop Over Items').item.json.category }}"},{"fieldId":"status","fieldValue":"={{ $('Loop Over Items').item.json.status }}"},{"fieldId":"buttons","fieldValue":"={{ $('Loop Over Items').item.json.buttons }}"},{"fieldId":"footer","fieldValue":"={{ $('Loop Over Items').item.json.footer }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1660,340],"id":"4fdb7ba2-210b-46d7-b7c0-40f70588bc24","name":"Supabase1","credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a056c12-9a91-4847-9d19-9d38eb6751f0","name":"wati_account_id","value":"413503","type":"string"},{"id":"ec4b209d-247d-4d79-a820-51aae08c4bad","name":"program_id","value":"2","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-240],"id":"210a183e-25b9-455f-914a-b21d2c3e5a41","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a056c12-9a91-4847-9d19-9d38eb6751f0","name":"wati_account_id","value":"413503","type":"string"},{"id":"85674c47-81ac-4b89-8e75-b0fbe09e67e2","name":"program_id","value":"3","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-80],"id":"d420d59d-4bd2-4ab3-b8e1-618c7bb7cb9d","name":"Edit Fields4"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[620,-220],"id":"b64e8467-541d-4e19-a281-cfe8048b09fa","name":"Merge1"},{"parameters":{"path":"fetch-templates-from-wati","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-180],"id":"fac56fd9-2465-448d-8eba-53d6dd7496fd","name":"Webhook","webhookId":"f06ec322-b424-4003-a7ca-7c025ab86438"},{"parameters":{"respondWith":"text","responseBody":"All Templates Fetched!","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1160,40],"id":"b97a1f5e-70f3-405c-9f24-9b31e3489a43","name":"Respond to Webhook"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit Fields4","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields4":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96e9b5a3-1448-46c2-b9c2-eb1df2aaf4a9","triggerCount":1,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]