martech-backup/fetch-milestalenthub-leads
[{"createdAt":"2025-04-30T06:50:41.442Z","updatedAt":"2025-07-15T07:17:53.000Z","id":"H4C5l7AKOBigJjH6","name":"fetch-milestalenthub-leads","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"fetch-milestalenthub-leads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,-280],"id":"88573fe1-7ce4-4bb3-ba9c-2d1c229cf8b3","name":"Webhook","webhookId":"66e0a08b-9d86-4794-bc79-06b81b507502"},{"parameters":{"operation":"sendHtml","fromEmail":"info@mileseducation.com","toEmail":"mandalam.karan@mileseducation.com","options":{"autoHtml":true,"fromName":"MilesBot","html":"=You have received the following lead. <br>\n<br>Lead details: \n<br>\n\nName: {{ $json.first_name }} <br>\nPhone: {{ $json.phone }} <br>\nEmail: {{ $json.email }} <br>\nCompany Website: {{ $json.company_website_url }}<br>\nCourse: {{ \n  $json.course_id == 56 \n    ? 'GCC' \n    : $json.course_id == 55 \n      ? 'STEM Pathway' \n      : $json.course_id == 57 \n        ? 'L&D' \n        : null \n}} <br>\nState: {{ $json.state }}","subject":"=New {{ \n  $json.url_page_path.includes('gcc') \n    ? 'GCC' \n    : $json.url_page_path.includes('stem') \n      ? 'STEM Pathway' \n      : $json.url_page_path.includes('learning') \n        ? 'L&D' \n        : null \n}} lead received\n\n\n\n\n","trackClicks":true,"trackOpens":true}},"type":"n8n-nodes-base.mandrill","typeVersion":1,"position":[680,-880],"id":"2fbd64e1-2be4-44e8-bf04-f58ed403a3fc","name":"Mandrill","credentials":{"mandrillApi":{"id":"t5XAtcUI45PwVrj0","name":"Mandrill account"}}},{"parameters":{"operation":"sendHtml","fromEmail":"info@mileseducation.com","toEmail":"aakansha.jha@milestalenthub.com","options":{"autoHtml":true,"fromName":"MilesBot","html":"=You have received the following lead. <br>\n<br>Lead details: \n<br>\n\nName: {{ $json.first_name }} <br>\nPhone: {{ $json.phone }} <br>\nEmail: {{ $json.email }} <br>\nCompany Website: {{ $json.company_website_url }}<br>\nCourse: {{ \n  $json.course_id == 56 \n    ? 'GCC' \n    : $json.course_id == 55 \n      ? 'STEM Pathway' \n      : $json.course_id == 57 \n        ? 'L&D' \n        : null \n}} <br>\nState: {{ $json.state }}","subject":"=New {{ \n  $json.url_page_path.includes('gcc') \n    ? 'GCC' \n    : $json.url_page_path.includes('stem') \n      ? 'STEM Pathway' \n      : $json.url_page_path.includes('learning') \n        ? 'L&D' \n        : null \n}} lead received\n\n\n\n\n","trackClicks":true,"trackOpens":true}},"type":"n8n-nodes-base.mandrill","typeVersion":1,"position":[720,-460],"id":"bafd5d94-9a69-4f88-a4d4-ff92c878d761","name":"Mandrill2","credentials":{"mandrillApi":{"id":"t5XAtcUI45PwVrj0","name":"Mandrill account"}}},{"parameters":{"tableId":"milestalenthub_leads","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-360,-280],"id":"83608bed-854a-449b-81ed-6a5c3c0119ad","name":"Supabase","credentials":{"supabaseApi":{"id":"6stEFLC7gtftREcf","name":"Supabase Campaign manager"}}},{"parameters":{"assignments":{"assignments":[{"id":"53df6b4b-313f-4abc-b333-e2b8d0b7d7bf","name":"first_name","value":"={{ $json.body.first_name }}","type":"string"},{"id":"d2bec732-8d23-407b-9f8a-541ebc3f7608","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"a1bab6bd-5566-4f49-8407-1d46ebd6efbd","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"ec8eee85-f14f-4e40-a906-11f3bdb7a32a","name":"company_website_url","value":"={{ $json.body.company_website_url }}","type":"string"},{"id":"177cb2d9-3148-4850-b579-97e3a2d5e0d0","name":"course_id","value":"={{ $json.body.course_id }}","type":"number"},{"id":"6e63b4b2-eb32-4103-a8cc-24a4d9aa7aac","name":"state","value":"={{ $json.body.state }}","type":"string"},{"id":"4cc09fe8-a6e3-4907-96e9-84a98a18bae0","name":"nationality","value":"={{ $json.body.nationality }}","type":"string"},{"id":"431f1502-8d90-468a-b3cd-f9a74cda3184","name":"country_of_residence","value":"={{ $json.body.country_of_residence }}","type":"string"},{"id":"296180e4-a006-43d8-bebf-3e94f8bdf0b0","name":"highest_education","value":"={{ $json.body.highestEducation }}","type":"string"},{"id":"caf90d3a-de57-4ac6-a56d-2a854a70c8df","name":"state_region","value":"={{ $json.body.state_region }}","type":"string"},{"id":"a77fea4f-01e5-4810-ac3f-bafb1f38ba3f","name":"hospital_name","value":"={{ $json.body.hospital_name }}","type":"string"},{"id":"0fcf21d0-76f6-4766-88b1-3c995f8be50f","name":"campaign_tk","value":"={{ $json.body.campaign_tk }}","type":"string"},{"id":"0b93a271-d3de-46d0-a99a-47f7ca271fc9","name":"gcl_id","value":"={{ $json.body.gcl_id }}","type":"string"},{"id":"fc86d020-8400-4c8b-b8d0-e94eba21edc2","name":"interested_webinar_id","value":"={{ $json.body.interested_webinar_id }}","type":"string"},{"id":"cb5606c5-5427-42b5-a3b1-8d7055134b14","name":"register_for_webinar","value":"={{ $json.body.register_for_webinar }}","type":"boolean"},{"id":"5933b681-83f2-4704-8fcb-f133e92570c2","name":"coming_from","value":"={{ $json.body.coming_from }}","type":"string"},{"id":"19d8fe3a-3142-46ca-a412-b752ee1b14bd","name":"page_full_url","value":"={{ $json.body.page_full_url }}","type":"string"},{"id":"5092f860-7f3b-43bd-ba96-f3ed35fd10e4","name":"url_page_path","value":"={{ $json.body.url_page_path }}","type":"string"}]},"options":{"dotNotation":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,-280],"id":"d32fe517-3084-403e-b0cf-6008396ae60d","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.course_id }}","rightValue":55,"operator":{"type":"number","operation":"equals"},"id":"01b7951e-e9ec-4257-b414-8221e80978e2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"626f848a-a4b7-4b02-8e7b-ed67b1551dae","leftValue":"={{ $json.course_id }}","rightValue":56,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f18919-0fb8-4518-80ff-c482c5dff379","leftValue":"={{ $json.course_id }}","rightValue":57,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-20,-300],"id":"2325bd41-ba9f-49fa-ab06-ea27b43bfa22","name":"Switch"},{"parameters":{"operation":"sendHtml","fromEmail":"info@mileseducation.com","toEmail":"maunasree.l@mileseducation.com","options":{"autoHtml":true,"fromName":"MilesBot","html":"=You have received the following lead. <br>\n<br>Lead details: \n<br>\n\nName: {{ $json.first_name }} <br>\nPhone: {{ $json.phone }} <br>\nEmail: {{ $json.email }} <br>\nState/Region: {{ $json.state_region }} <br>\nHospital Name: {{ $json.hospital_name }} <br>\nNationality: {{ $json.nationality }} <br>\nCountry of Residence: {{ $json.country_of_residence }} <br>\nHighest Education: {{ $json.highest_education }} <br>\n","subject":"=New {{ \n  $json.url_page_path.includes('nurses') \n    ? 'Nursing' \n    : $json.url_page_path.includes('hospital') \n      ? 'Hospital'  \n        : null \n}} lead received\n\n\n\n\n","trackClicks":true,"trackOpens":true}},"type":"n8n-nodes-base.mandrill","typeVersion":1,"position":[700,-120],"id":"8841dc6c-05ec-43de-9ede-7e982b8fa955","name":"Mandrill3","credentials":{"mandrillApi":{"id":"t5XAtcUI45PwVrj0","name":"Mandrill account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mandrill","type":"main","index":0},{"node":"Mandrill2","type":"main","index":0}],[{"node":"Mandrill","type":"main","index":0},{"node":"Mandrill2","type":"main","index":0}],[{"node":"Mandrill","type":"main","index":0},{"node":"Mandrill2","type":"main","index":0}],[{"node":"Mandrill3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"172.70.39.133","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"54.145.129.42, 172.70.39.133","connection":"close","content-length":"506","cf-ray":"938a0334e9070843-IAD","user-agent":"node","accept-encoding":"gzip, br","sec-fetch-mode":"cors","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept-language":"*","cf-visitor":"{\"scheme\":\"https\"}","accept":"*/*","x-vercel-id":"bom1::5pxjq-1746047286384-6004c8adf470","cf-connecting-ip":"54.145.129.42","cf-ipcountry":"US","content-type":"application/json"},"params":{},"query":{},"body":{"first_name":"Karan Mandalam","phone":"+919460596406","email":"kmandalam@gmail.com","company_website_url":"","course_id":null,"state":"","nationality":"india","country_of_residence":"india","highestEducation":"Maybe","state_region":"","hospital_name":"","campaign_tk":"e3a268cf-420c-415c-a234-2825d878e688","gcl_id":null,"interested_webinar_id":null,"register_for_webinar":true,"coming_from":"website-page","page_full_url":"https://www.milestalenthub.com/nursing/nurses","url_page_path":"/nursing/nurses"},"webhookUrl":"https://webhook.miles-api.com/webhook/fetch-milestalenthub-leads","executionMode":"production"}}]},"versionId":"e237b79b-d55c-4f98-9390-23cf28993578","triggerCount":1,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]