martech-backup/get-office-visit-updates
[{"createdAt":"2025-05-06T06:57:54.355Z","updatedAt":"2025-07-15T07:11:48.000Z","id":"bA3OlbyCtaF06I72","name":"get-office-visit-updates","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"get-office-visit-updates","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-180],"id":"57cce94d-0012-4457-afc5-d3608129ce16","name":"Webhook","webhookId":"93722196-6ab8-458d-9146-a21ac9b8a696"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d96ec805-e7c1-41a2-ae09-b35fa9cd9576","leftValue":"={{ $json.body.isAttended }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-180],"id":"6fbc8634-14a7-4741-ae12-39638d5d0ad8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"6a24b080-8df2-4604-bb65-11e95056ff71","name":"event_name","value":"office_visit_attended","type":"string"},{"id":"e311b303-4e7d-4f9e-bc20-7387cb40d9fa","name":"lead_id","value":"={{ $json.body.lead_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-880],"id":"a38ccd65-0235-411f-bb94-1b6342206671","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"list","cachedResultName":"Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2600,-400],"id":"0449b179-f2dd-42a8-9c7f-ac4c3a5e447a","name":"Send Activity to Netcore"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5004384f-1503-4258-a45c-d3a5bbf8d9a0","leftValue":"={{ $json.body.isRescheduled }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[120,0],"id":"02e8eb56-0fce-462c-bab8-54075915b1be","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"6a24b080-8df2-4604-bb65-11e95056ff71","name":"event_name","value":"office_visit_rescheduled","type":"string"},{"id":"d6cd3916-2c21-4037-a3b1-3d8e0b737264","name":"first_name","value":"={{ $json.body.name }}","type":"string"},{"id":"227061f7-d123-48d8-9fd0-c7c96ce99a74","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"98c98482-6b8a-4952-8b80-6365f90453fb","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"1a269226-f13a-4f43-a67e-7fd871980180","name":"uuid","value":"={{ $json.body.uuid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,-380],"id":"905d2d41-5979-45aa-a8ca-f72ec580e2b5","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"list","cachedResultName":"Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2620,-100],"id":"5a8187c3-c8d9-4baa-9c68-988f7aa25248","name":"Send Activity to Netcore1"},{"parameters":{"assignments":{"assignments":[{"id":"6a24b080-8df2-4604-bb65-11e95056ff71","name":"event_name","value":"office_visit_cancelled","type":"string"},{"id":"93ca5e8d-7224-45ba-9319-0092d1c01655","name":"first_name","value":"={{ $json.body.name }}","type":"string"},{"id":"4fcd2c28-7830-4ddb-8508-7f1c15d59a50","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"ec5afb58-0073-430f-9d8a-f75c62338466","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"fefb1d8b-e997-4357-9627-7f4ee041c4fc","name":"uuid","value":"={{ $json.body.uuid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,120],"id":"ca0ec66f-94ad-4fd7-ba84-4ff6ed35243b","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"list","cachedResultName":"Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2680,240],"id":"10168170-f761-4e7d-abf1-5590611cf18b","name":"Send Activity to Netcore2"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[460,-380],"id":"de1011ab-646f-4689-b354-8851a6d8eea8","name":"Send Contact to Netcore1"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1060,120],"id":"db1d82b5-11ca-4c4c-bac4-25d26e983e23","name":"Wait","webhookId":"7ea3bc88-1265-474a-a000-c299a3ea3573","disabled":true},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[620,-380],"id":"fba649f9-18d9-4a10-860f-a6da212d64e6","name":"Wait1","webhookId":"7ea3bc88-1265-474a-a000-c299a3ea3573","disabled":true},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,-880],"id":"1f127cc3-f8ea-4d50-8af2-8c2edc577aed","name":"Wait2","webhookId":"7ea3bc88-1265-474a-a000-c299a3ea3573"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[900,-880],"id":"09c54a00-a545-4479-b69d-3b7feb5e33e5","name":"NEW Send Contact to Netcore"},{"parameters":{"workflowId":{"__rl":true,"value":"eQzyHqrEBFVmbr6N","mode":"list","cachedResultName":"NEW Fetch Lead Details (lead_id)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[460,-880],"id":"19d859fa-473b-4002-b546-60231776ae95","name":"NEW Fetch lead details"},{"parameters":{"assignments":{"assignments":[{"id":"93b79f0e-dc8a-4ea1-8ed5-20081fbbe8e7","name":"lead_id","value":"={{ $json.id }}","type":"number"},{"id":"b2933e3f-069d-478f-8a8d-f05dceef23c2","name":"candidate_id","value":"={{ $json.candidate_id }}","type":"string"},{"id":"6d86de22-857a-40fd-82c4-3c2fe5c4c54e","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"cbc8afae-4eac-4ed3-9145-289b31d86dd5","name":"uuid","value":"={{ $json.uuid }}","type":"string"},{"id":"ee37b188-761a-464c-b92c-417431316c0a","name":"phone","value":"={{ $json.Phone__phoneNumber }}","type":"string"},{"id":"4e5d5449-23c4-461f-af49-05f4f3bd844a","name":"email","value":"={{ $json.Email__email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,-880],"id":"86e2dc40-212b-400f-868e-5d4619a8a245","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"2e799bab-fd0e-489e-a5dd-cb51ebcea707","name":"event_name","value":"=office_visit_attended","type":"string"},{"id":"6264fbf1-c1af-46f2-8e41-b4f340871e99","name":"email","value":"={{ $('NEW Fetch lead details').item.json.Email__email }}","type":"string"},{"id":"d930e0ae-ceb2-4cb6-98a6-e0fde822093a","name":"phone","value":"={{ $('NEW Fetch lead details').item.json.Phone__phoneNumber }}","type":"string"},{"id":"387abc42-c467-4d3b-b05d-cf141f33015c","name":"visit_date","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().format('dd LLLL, yyyy') }}","type":"string"},{"id":"06d0175d-aed4-4a6e-8a22-1acde348590c","name":"visit_time","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().setZone('Asia/Kolkata').format('t') }}","type":"string"},{"id":"fdd44816-6b3c-4c07-8d89-e75e273c0c72","name":"meet_link","value":"={{ $('Webhook').item.json.body.meet_link }}","type":"string"},{"id":"135af385-88bd-4d79-8b54-16cd0c6182bd","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link }}","type":"string"},{"id":"8f6a04b2-b28d-442f-a88e-bd948b8a90d2","name":"lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}","type":"number"},{"id":"4fc36a12-7602-4872-a5f5-c2e015bb7b06","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"},{"id":"badfd0a0-93b2-4b3d-bcbd-61839f4c0e57","name":"visit_type","value":"={{ $('Webhook').item.json.body.visit_type }}","type":"string"},{"id":"f940fdf5-6a78-4bcd-b471-09a880541152","name":"visit_city","value":"={{ $('Webhook').item.json.body.visit_city ?? \"Virtual\" }}","type":"string"},{"id":"14b4f4ad-cfd6-4ea7-b178-f6345b71bb58","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link ?? \"Virtual\" }}","type":"string"},{"id":"430d8c61-a66b-4846-944b-a3680e5cc628","name":"office_address","value":"={{ $('Webhook').item.json.body.office_address ?? \"Virtual\" }}","type":"string"},{"id":"3ab133a5-6640-4d34-beae-207076e227c1","name":"first_name","value":"={{ $('NEW Fetch lead details').item.json.first_name }}","type":"string"},{"id":"69ce72bf-60f9-44e9-99ef-cf4a023ec464","name":"uuid","value":"={{ $('NEW Fetch lead details').item.json.uuid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-880],"id":"f20ad0dd-c32e-4bb5-b89f-da6b57eebe47","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"93ac9f60-cb2a-4d16-b449-6da0b22b00f5","name":"uuid","value":"={{ $('Send Contact to Netcore1').item.json.uuid }}","type":"string"},{"id":"32416bbb-8afa-421b-ba14-ffaafaa9ba12","name":"email","value":"={{ $('Send Contact to Netcore1').item.json.email }}","type":"string"},{"id":"9752c822-c581-4239-b729-af04e6182073","name":"phone","value":"={{ $('Send Contact to Netcore1').item.json.phone }}","type":"string"},{"id":"6a9fb4a9-ced1-4a29-8c53-8dea7b9a51aa","name":"first_name","value":"={{ $('Send Contact to Netcore1').item.json.first_name }}","type":"string"},{"id":"3eedc5bc-238b-4793-8ffb-a4b0d3a00b32","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"cf0df4d8-ac72-455e-bc0d-38893eb1b3d9","name":"visit_type","value":"={{ $('Webhook').item.json.body.visit_type }}","type":"string"},{"id":"00e6bc4c-77cb-4212-9431-c4b028860b89","name":"visit_date","value":"={{ $('Webhook').item.json.body.visit_date }}","type":"string"},{"id":"34dc6650-5ee7-484f-97c0-6bd96a33d3b6","name":"visit_office_id","value":"={{ $('Webhook').item.json.body.visit_office_id }}","type":"number"},{"id":"2321a64f-b5a3-432c-9d44-b768e7a8175a","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link ?? \"Virtual\"}}","type":"string"},{"id":"e530c105-f0fb-42c3-9453-98ea8b767d89","name":"meet_link","value":"={{ $('Webhook').item.json.body.meet_link ?? \"Offline\" }}","type":"string"},{"id":"6a2d3411-4b6b-4525-9288-37a17c41925d","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"},{"id":"543191f8-0e9a-40b6-abf0-fcfad3f394ed","name":"visit_city","value":"={{ $('Webhook').item.json.body.visit_city }}","type":"string"},{"id":"1c239881-974f-44a5-9120-fb7efeafa98c","name":"office_address","value":"={{ $('Webhook').item.json.body.office_address }}","type":"string"},{"id":"290d4f06-43ae-4f89-aff1-d9b6d5dc3094","name":"lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}","type":"number"},{"id":"47b00620-39b3-4a3d-9549-af38e955a602","name":"old_rescheduled_visit_id","value":"={{ $('Webhook').item.json.body.old_rescheduled_visit_id }}","type":"number"},{"id":"0c23d968-ed12-4f5a-8411-adda232a0dc8","name":"course","value":"={{ $('Webhook').item.json.body.course }}","type":"string"},{"id":"9f5734c1-373d-46d9-a20f-2adc67c2cfd3","name":"event_name","value":"office_visit_rescheduled_gmeet","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,-540],"id":"443ce61a-e59c-4c13-9ad0-b21b520459c3","name":"Edit Fields5"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[620,120],"id":"b8a2627f-7e4d-4db7-a57e-8e3e84341fe6","name":"NEW Send Contact to Netcore2"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"email","mode":"name"},"limit":1,"where":{"values":[{"column":"email","value":"={{ $json.email }}"}]},"options":{"outputColumns":["leadId"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[840,120],"id":"8fb9d89f-f4ce-430c-9593-665535a9d41a","name":"Postgres","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"assignments":{"assignments":[{"id":"0ac2e713-f365-42de-a957-dcfc84d9ed6b","name":"first_name","value":"={{ $('NEW Send Contact to Netcore2').item.json.first_name }}","type":"string"},{"id":"6ab33e57-be23-468d-9b1f-57fcdcda1290","name":"uuid","value":"={{ $('NEW Send Contact to Netcore2').item.json.uuid }}","type":"string"},{"id":"3d9a8fd6-e73f-4d41-9071-39cb8ee43c53","name":"phone","value":"={{ $('NEW Send Contact to Netcore2').item.json.phone }}","type":"string"},{"id":"56b0bfbe-7f28-47d1-8911-d8b64fdeb3e3","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"83c7d27f-f429-446d-84f9-57620db6bae9","name":"course","value":"={{ $('Webhook').item.json.body.course }}","type":"string"},{"id":"73ad5473-3578-4b71-a6ae-13552e988ade","name":"office_visit_id","value":"={{ $('Webhook').item.json.body.office_visit_id }}","type":"number"},{"id":"58fb80ff-bc5f-43aa-ab2d-cb6aa902d031","name":"event_name","value":"office_visit_cancelled","type":"string"},{"id":"85453e14-87a6-49d2-b7f3-dc8098fece93","name":"lead_id","value":"={{ $('Postgres').item.json.leadId }}","type":"string"},{"id":"7b93a107-3824-4a79-af19-6afe7e06a544","name":"email","value":"={{ $('NEW Send Contact to Netcore2').item.json.email }}","type":"string"},{"id":"07053944-7be9-425f-b427-c61ddde27404","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,120],"id":"2056f2fb-1405-42b1-a7f1-71975e3f4a69","name":"Edit Fields6"},{"parameters":{"workflowId":{"__rl":true,"value":"MYduhGIhCmgTaVQu","mode":"list","cachedResultName":"(NEW) Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1920,-140],"id":"5521245f-a18c-4119-80b7-2b72e98b0adf","name":"Send Activity to Netcore3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8554a1f5-5844-443f-a7b6-ec59903ba4ec","leftValue":"={{ $('Webhook').item.json.body.visit_type }}","rightValue":"google_meet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,-380],"id":"33781ebc-ea60-430e-a6d2-b78daf506fae","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"93ac9f60-cb2a-4d16-b449-6da0b22b00f5","name":"uuid","value":"={{ $('Send Contact to Netcore1').item.json.uuid }}","type":"string"},{"id":"32416bbb-8afa-421b-ba14-ffaafaa9ba12","name":"email","value":"={{ $('Send Contact to Netcore1').item.json.email }}","type":"string"},{"id":"9752c822-c581-4239-b729-af04e6182073","name":"phone","value":"={{ $('Send Contact to Netcore1').item.json.phone }}","type":"string"},{"id":"6a9fb4a9-ced1-4a29-8c53-8dea7b9a51aa","name":"first_name","value":"={{ $('Send Contact to Netcore1').item.json.first_name }}","type":"string"},{"id":"3eedc5bc-238b-4793-8ffb-a4b0d3a00b32","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"cf0df4d8-ac72-455e-bc0d-38893eb1b3d9","name":"visit_type","value":"={{ $('Webhook').item.json.body.visit_type }}","type":"string"},{"id":"00e6bc4c-77cb-4212-9431-c4b028860b89","name":"visit_date","value":"={{ $('Webhook').item.json.body.visit_date }}","type":"string"},{"id":"34dc6650-5ee7-484f-97c0-6bd96a33d3b6","name":"visit_office_id","value":"={{ $('Webhook').item.json.body.visit_office_id }}","type":"number"},{"id":"2321a64f-b5a3-432c-9d44-b768e7a8175a","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link ?? \"Virtual\"}}","type":"string"},{"id":"e530c105-f0fb-42c3-9453-98ea8b767d89","name":"meet_link","value":"={{ $('Webhook').item.json.body.meet_link ?? \"Offline\" }}","type":"string"},{"id":"6a2d3411-4b6b-4525-9288-37a17c41925d","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"},{"id":"543191f8-0e9a-40b6-abf0-fcfad3f394ed","name":"visit_city","value":"={{ $('Webhook').item.json.body.visit_city }}","type":"string"},{"id":"1c239881-974f-44a5-9120-fb7efeafa98c","name":"office_address","value":"={{ $('Webhook').item.json.body.office_address }}","type":"string"},{"id":"290d4f06-43ae-4f89-aff1-d9b6d5dc3094","name":"lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}","type":"number"},{"id":"47b00620-39b3-4a3d-9549-af38e955a602","name":"old_rescheduled_visit_id","value":"={{ $('Webhook').item.json.body.old_rescheduled_visit_id }}","type":"number"},{"id":"0c23d968-ed12-4f5a-8411-adda232a0dc8","name":"course","value":"={{ $('Webhook').item.json.body.course }}","type":"string"},{"id":"9f5734c1-373d-46d9-a20f-2adc67c2cfd3","name":"event_name","value":"office_visit_rescheduled_offline","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-300],"id":"3b93113f-f469-4f3b-a6d7-5025ce33216d","name":"Edit Fields7"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"NEW Fetch lead details","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send Contact to Netcore1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"NEW Send Contact to Netcore2","type":"main","index":0}]]},"Send Contact to Netcore1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"NEW Send Contact to Netcore":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"NEW Fetch lead details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"NEW Send Contact to Netcore","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Send Activity to Netcore3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Send Activity to Netcore3","type":"main","index":0}]]},"NEW Send Contact to Netcore2":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Send Activity to Netcore3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Send Activity to Netcore3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"162.158.227.27","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"34.96.40.103, 162.158.227.27","connection":"close","content-length":"537","cf-ray":"94b1fb141965c6b5-BOM","user-agent":"axios/1.9.0","accept-encoding":"gzip, br","content-type":"application/json","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept":"application/json, text/plain, */*","cf-visitor":"{\"scheme\":\"https\"}","cf-connecting-ip":"34.96.40.103","cf-ipcountry":"IN"},"params":{},"query":{},"body":{"name":"karan testing jun6","phone":"+919460596406","email":"kmandalam@gmail.com","uuid":"1e5203cf-216a-470c-bae8-ba1e37a0ab09","course":"CMA","isCancelled":false,"isRescheduled":true,"isAttended":false,"old_rescheduled_visit_id":22409,"visit_office_id":22410,"office_address":null,"visit_date":"2025-06-13T13:00:00.000Z","maps_link":null,"spoc_name":"Sajna Hegde","meet_link":"https://meet.google.com/eez-zdmq-yjx","visit_type":"office_visit","created_at":"2025-06-05T19:12:18.425Z","lead_id":154356,"visit_city":null,"campaign_id":357},"webhookUrl":"https://webhook.miles-api.com/webhook/get-office-visit-updates","executionMode":"production"}}]},"versionId":"439f7241-2069-46dd-8668-42aaaf7b91cd","triggerCount":1,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]