martech-backup/get-office-visit
[{"createdAt":"2025-05-05T07:19:36.915Z","updatedAt":"2025-07-15T07:11:28.000Z","id":"9EYQhWqMkEbtnkTi","name":"get-office-visit","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"get-office-visit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-40],"id":"2d811284-40bd-4343-b155-a311d3f43f06","name":"Webhook","webhookId":"2f640e74-29c6-4073-b85c-003579a66699"},{"parameters":{"assignments":{"assignments":[{"id":"19dfa76f-af5e-4a8a-843a-729d93bba6fb","name":"event_name","value":"office_visit_confirmation_v1","type":"string"},{"id":"58a7268c-732b-4e7f-83c8-c47b8ec5711e","name":"lead_id","value":"={{ $json.body.lead_id }}","type":"number"},{"id":"26bcfbba-77f7-43d7-b32b-3470e2bcc7c7","name":"uuid","value":"={{ $json.body.uuid }}","type":"string"},{"id":"b2932f95-f268-4599-bc1a-b50623916115","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"9853cc2e-4999-4010-ab56-0cd2edad2279","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"8d9c5172-43f4-4147-8a32-567b949e5361","name":"first_name","value":"={{ $json.body.name.isEmpty() ? \"there\" : $json.body.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-280],"id":"70cb1767-8b85-41cb-9763-d4b7d8113162","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"list","cachedResultName":"Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-300,-800],"id":"ea921ec0-f9ea-469d-82c2-518ff060e229","name":"Send Activity to Netcore"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[340,-280],"id":"03da7485-a2d8-4a09-8183-025e175cbe77","name":"Send Contact to Netcore"},{"parameters":{"assignments":{"assignments":[{"id":"11e803f6-6736-4f99-b734-265ec143b3a5","name":"first_name","value":"={{ $json.first_name.isEmpty() ? \"there\" : $json.first_name }}","type":"string"},{"id":"4448d15d-4d2a-42e2-a111-2ccfe337e841","name":"uuid","value":"={{ $json.uuid }}","type":"string"},{"id":"eee74acf-b0d7-4c8b-9f7a-4a2c140c8ce0","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"fd5db8b8-254b-4499-878c-aa7aa787967c","name":"phone","value":"={{ $json.phone }}","type":"string"},{"id":"8330fafc-e258-4386-ac2e-48c2176445f5","name":"office_visit_id","value":"={{ $('Webhook').item.json.body.office_visit_id }}","type":"number"},{"id":"d5198c66-844c-476e-888a-f6ae97e0f7a7","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"36d80c8a-84aa-4ee1-b5a2-9e8f0bab4319","name":"visit_date","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().format('dd LLLL, yyyy') }}","type":"string"},{"id":"8426fa49-d804-4560-990d-8fa665689382","name":"visit_time","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().setZone('Asia/Kolkata').format('t') }}","type":"string"},{"id":"70ab4434-fd28-4dfb-a11f-34a5b9171b7c","name":"meet_link","value":"={{ $('Webhook').item.json.body.meet_link }}","type":"string"},{"id":"f23b2748-00c5-4356-8246-3878d514720f","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"},{"id":"9a07fc6f-91c2-4588-b4c4-370f5e8d7afe","name":"visit_type","value":"={{ $('Webhook').item.json.body.visit_type }}","type":"string"},{"id":"4a8f39d0-454e-4778-9e04-3b191cebfdb9","name":"visit_city","value":"={{ $('Webhook').item.json.body.visit_city }}","type":"string"},{"id":"f96c350d-3104-4cca-b8dc-98d06be9fa81","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link }}","type":"string"},{"id":"539bf152-a31e-4cd6-a4fc-575e1a04b2cd","name":"office_address","value":"={{ $('Webhook').item.json.body.office_address }}","type":"string"},{"id":"c1f91637-a896-4ce5-a923-3d34a605d304","name":"lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}","type":"number"},{"id":"0735b2ce-d3b1-4e53-93e5-fa8d16b046c8","name":"event_name","value":"office_visit_confirmation_v1_gmeet","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-280],"id":"5c3aa74a-4b88-4af8-a11a-c194a15b1f5b","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"MYduhGIhCmgTaVQu","mode":"list","cachedResultName":"(NEW) Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[760,-280],"id":"4885c359-00ab-4b7e-9227-111426c8b39d","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"19dfa76f-af5e-4a8a-843a-729d93bba6fb","name":"event_name","value":"office_visit_confirmation_v1","type":"string"},{"id":"58a7268c-732b-4e7f-83c8-c47b8ec5711e","name":"lead_id","value":"={{ $json.body.lead_id }}","type":"number"},{"id":"26bcfbba-77f7-43d7-b32b-3470e2bcc7c7","name":"uuid","value":"={{ $json.body.uuid }}","type":"string"},{"id":"b2932f95-f268-4599-bc1a-b50623916115","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"9853cc2e-4999-4010-ab56-0cd2edad2279","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"8d9c5172-43f4-4147-8a32-567b949e5361","name":"first_name","value":"={{ $json.body.name.isEmpty() ? \"there\" : $json.body.name }}","type":"string"},{"id":"ddf47f9b-ac52-4205-b22e-037c2afc2168","name":"body.office_address","value":"={{ $json.body.office_address.replace(/\\n/g, ' ') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,80],"id":"4c46e3ce-86b7-4329-950c-b2cf73c7fd53","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,80],"id":"7305ad09-d84d-455c-889a-978fa21dd9b6","name":"Send Contact to Netcore1"},{"parameters":{"assignments":{"assignments":[{"id":"11e803f6-6736-4f99-b734-265ec143b3a5","name":"first_name","value":"={{ $json.first_name.isEmpty() ? \"there\" : $json.first_name }}","type":"string"},{"id":"4448d15d-4d2a-42e2-a111-2ccfe337e841","name":"uuid","value":"={{ $json.uuid }}","type":"string"},{"id":"eee74acf-b0d7-4c8b-9f7a-4a2c140c8ce0","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"fd5db8b8-254b-4499-878c-aa7aa787967c","name":"phone","value":"={{ $json.phone }}","type":"string"},{"id":"8330fafc-e258-4386-ac2e-48c2176445f5","name":"office_visit_id","value":"={{ $('Webhook').item.json.body.office_visit_id }}","type":"number"},{"id":"d5198c66-844c-476e-888a-f6ae97e0f7a7","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"36d80c8a-84aa-4ee1-b5a2-9e8f0bab4319","name":"visit_date","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().format('dd LLLL, yyyy') }}","type":"string"},{"id":"8426fa49-d804-4560-990d-8fa665689382","name":"visit_time","value":"={{ $('Webhook').item.json.body.visit_date.toDateTime().setZone('Asia/Kolkata').format('t') }}","type":"string"},{"id":"70ab4434-fd28-4dfb-a11f-34a5b9171b7c","name":"meet_link","value":"={{ $('Webhook').item.json.body.meet_link }}","type":"string"},{"id":"f23b2748-00c5-4356-8246-3878d514720f","name":"spoc_name","value":"={{ $('Webhook').item.json.body.spoc_name }}","type":"string"},{"id":"9a07fc6f-91c2-4588-b4c4-370f5e8d7afe","name":"visit_type","value":"={{ $('Webhook').item.json.body.visit_type }}","type":"string"},{"id":"4a8f39d0-454e-4778-9e04-3b191cebfdb9","name":"visit_city","value":"={{ $('Webhook').item.json.body.visit_city }}","type":"string"},{"id":"f96c350d-3104-4cca-b8dc-98d06be9fa81","name":"maps_link","value":"={{ $('Webhook').item.json.body.maps_link }}","type":"string"},{"id":"539bf152-a31e-4cd6-a4fc-575e1a04b2cd","name":"office_address","value":"={{ $('Webhook').item.json.body.office_address }}","type":"string"},{"id":"c1f91637-a896-4ce5-a923-3d34a605d304","name":"lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}","type":"number"},{"id":"0735b2ce-d3b1-4e53-93e5-fa8d16b046c8","name":"event_name","value":"office_visit_confirmation_v1_offline","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,80],"id":"b8556441-d323-413b-84be-1981b4401185","name":"Edit Fields3"},{"parameters":{"workflowId":{"__rl":true,"value":"MYduhGIhCmgTaVQu","mode":"list","cachedResultName":"(NEW) Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[780,80],"id":"6ef967ba-a8ed-4fb5-a202-3a9b21aa9142","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf8dc475-a651-4a57-a523-4b4055e8b8f9","leftValue":"={{ $json.body.visit_type }}","rightValue":"google_meet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-40],"id":"f93c740d-ff8d-427d-86a2-9f6b97080218","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Contact to Netcore","type":"main","index":0}]]},"Send Contact to Netcore":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send Contact to Netcore1","type":"main","index":0}]]},"Send Contact to Netcore1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"172.69.178.200","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"34.96.40.86, 172.69.178.200","connection":"close","content-length":"765","cf-ray":"94af2f367a6f3d30-BOM","user-agent":"axios/1.9.0","accept-encoding":"gzip, br","content-type":"application/json","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept":"application/json, text/plain, */*","cf-visitor":"{\"scheme\":\"https\"}","cf-connecting-ip":"34.96.40.86","cf-ipcountry":"IN"},"params":{},"query":{},"body":{"name":"Monika","phone":"+917684954346","email":"monikapanda0269@gmail.com","uuid":"c4e964b0-d04e-4554-b0a5-fb0976e5526c","office_visit_id":22347,"office_address":"Level - 1,\nJayabheri Silicon Towers,\nHitech City Road, Kothaguda,\nHyderabad - 500084","visit_date":"2025-06-18T11:00:00.000Z","maps_link":"https://www.google.com/maps/place/Miles+Education+-+CPA,+CMA,+CFA+%26+FRM+(Hyderabad)/@17.4585449,78.3681131,17z/data=!3m1!4b1!4m6!3m5!1s0x3bcb93cfafb39ea7:0x63eefd47e5af9864!8m2!3d17.4585398!4d78.370688!16s%2Fg%2F1wd3thjs?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D","spoc_name":"Tangella Shivaprasad","meet_link":null,"visit_type":"office_visit","created_at":"2025-06-05T11:03:36.684Z","lead_id":8569234,"visit_city":"Hyderabad","campaign_id":1748},"webhookUrl":"https://webhook.miles-api.com/webhook/get-office-visit","executionMode":"production"}}]},"versionId":"d06e0339-0af9-49ba-9bc9-4557860b9777","triggerCount":1,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]