martech-backup/NEW Send Contact to Netcore
[{"createdAt":"2025-05-09T08:14:36.433Z","updatedAt":"2025-07-15T07:13:47.000Z","id":"lOgLi51AQQR2VRrS","name":"NEW Send Contact to Netcore","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-100],"id":"76089c0d-1c47-4c4e-84e6-d7fb88bd6538","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://api.netcoresmartech.com/apiv2","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"=contact"},{"name":"activity","value":"add"},{"name":"apikey","value":"8b61610ee5bc044df4a95a7d87c6e436"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/jsonapplication/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"data","value":"={\n\"UUID\": \"{{ $json.uuid }}\",\n\"EMAIL\": \"{{ $json.email }}\",\n\"MOBILE\": \"{{ $json.phone }}\",\n\"FIRSTNAME\": \"{{ $json.first_name }}\",\n\"LAST_NAME\": \"{{ $json.first_name }}\"\n}"}]},"options":{}},"id":"efecb514-0162-4539-a0ed-c2a7dda0c44e","name":"Netcore Contact Creation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[40,-100]},{"parameters":{"assignments":{"assignments":[{"id":"f063ae05-95f6-43f0-b524-acf8c424d7c0","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json.uuid }}","type":"string"},{"id":"877c60a6-c139-4713-8e57-2629248a26f9","name":"email","value":"={{ $('When Executed by Another Workflow').item.json.email }}","type":"string"},{"id":"5c9e8c55-ad60-450e-8595-744f33513885","name":"phone","value":"={{ $('When Executed by Another Workflow').item.json.phone }}","type":"string"},{"id":"65f5ef19-7459-4a6a-9c44-5244d52ef898","name":"first_name","value":"={{ $('When Executed by Another Workflow').item.json.first_name }}","type":"string"},{"id":"7777e958-fee2-4f99-a333-43d9a33faf47","name":"requestid_contact_creation","value":"={{ $json.requestid }}","type":"string"},{"id":"371d4526-ea2a-46ea-b4e1-5ba33ee3cb44","name":"course_id","value":"={{ $('When Executed by Another Workflow').item.json.course_id }}","type":"number"},{"id":"cbef768d-aaa2-4d95-8300-da2c176df71c","name":"city","value":"={{ $('When Executed by Another Workflow').item.json.city }}","type":"string"},{"id":"61754efc-5c8f-4cc9-ae0f-1845c9f997a3","name":"coming_from","value":"={{ $('When Executed by Another Workflow').item.json.coming_from }}","type":"string"},{"id":"857648a6-bd84-4f31-9cbb-3b5488b12dc3","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json.campaign_id }}","type":"number"},{"id":"a5176652-9043-4112-875e-aa4409a6fc64","name":"intrested_for_work_in_us","value":"={{ $('When Executed by Another Workflow').item.json.interested_for_work_in_us }}","type":"string"},{"id":"c1f6e081-f9b9-4bc5-af9c-4c022fa46c0b","name":"graduation_year","value":"={{ $('When Executed by Another Workflow').item.json.graduation_year }}","type":"number"},{"id":"ac625089-0e4e-4a6d-9f2e-676df2f1ab62","name":"ne_id","value":"={{ $('When Executed by Another Workflow').item.json.ne_id }}","type":"number"},{"id":"72cf400d-e2d5-4401-a8a4-969f833a0231","name":"next_webinar_date","value":"={{ $('When Executed by Another Workflow').item.json.next_webinar_date }}","type":"string"},{"id":"0a857bbd-789f-4a1d-be38-9f74fa6cdd02","name":"next_webinar_time","value":"={{ $('When Executed by Another Workflow').item.json.next_webinar_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-100],"id":"350be546-4979-4ffe-9313-51d38e448cd8","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Netcore Contact Creation","type":"main","index":0}]]},"Netcore Contact Creation":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"event_name":"new_enquiry_received","graduation_year":"2025","first_name":"prajpati 2992","city":null,"coming_from":"1631_Doctors_Pathway_Medical_Intent_FB_Doctors_Pathway_OutR_Native_Form","campaign_id":1631,"email":"parjapativinod888@gmail.com","interested_for_work_in_us":null,"phone":"+919565495038","ne_id":725980,"lead_id":8549251,"next_webinar_date":"May 17, 2025","next_webinar_time":"04:00 PM","uuid":"37c70f5a-cd26-4d3e-8bb9-b7dc1758f41e","course_id":"33"}}]},"versionId":"e6cb7e3e-af3b-4cdd-b037-5f426ccf047a","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-04-29T06:35:58.186Z","updatedAt":"2025-04-29T06:35:58.186Z","id":"gQwLL2mDGhqlyQkZ","name":"mf"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]