martech-backup/new-enquiry-received
[{"createdAt":"2025-04-24T07:22:40.056Z","updatedAt":"2025-07-15T07:11:07.000Z","id":"YbhhYzcph2lNRBBu","name":"new-enquiry-received","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"new-enquiry-received","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1140,-500],"id":"c04e3b6d-b3c3-4e03-8867-cefada320d1f","name":"Webhook","webhookId":"9e665f00-25ac-4185-ac8a-c06b747800ea"},{"parameters":{"jsCode":"return items.map(item => {\n  const label = ;  // change 'label' to the key you're using\n  const currentYear = new Date().getFullYear();\n\n  let year;\n  switch (label) {\n    case \"Appeared in 2024 or earlier\":\n      year = currentYear - 1;\n      break;\n    case \"Appeared in 2025\":\n      year = currentYear;\n      break;\n    case \"Yet to Appear\":\n      year = currentYear + 1;\n      break;\n    default:\n      year = currentYear; // handle unknown labels\n  }\n\n  return {\n    json: {\n      ...item.json,\n      ('Webhook').item.json.body\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-500],"id":"33463f01-45ad-42b1-86b4-2bd33c6b30ea","name":"Code","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"92d82ab1-2941-45e2-8b26-57dc605fffa7","name":"event_name","value":"new_enquiry_received","type":"string"},{"id":"d076c6ec-2a6c-4ef4-8c73-bc842a59479f","name":"graduation_year","value":"={{ $('Webhook').item.json.body.graduation_year }}","type":"string"},{"id":"ec319add-b983-4d77-bc3d-3df513ef701e","name":"first_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"360bd7dd-6987-4c4a-bf82-ebe6ca52f75e","name":"city","value":"={{ $('Webhook').item.json.body.city }}","type":"string"},{"id":"e13e3b31-cd85-4b94-8118-17b2a49fefba","name":"coming_from","value":"={{ $('Webhook').item.json.body.coming_from }}","type":"string"},{"id":"b8c739ba-6cda-4c95-b031-051a71e4581f","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaign_id }}","type":"number"},{"id":"2ee1e194-2ba9-4db7-8094-f634c429100e","name":"email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"e95d0249-2630-4ba6-8e07-325ddfe343b2","name":"interested_for_work_in_us","value":"={{ $('Webhook').item.json.body.intrested_for_work_in_us }}","type":"string"},{"id":"34b81d54-95e4-4ac4-b10e-193a1e92d3e4","name":"phone","value":"={{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"d1e91d8d-7bf8-4d67-8308-91f8755561bc","name":"ne_id","value":"={{ $('Webhook').item.json.body.id }}","type":"number"},{"id":"450f6263-63c0-44c1-a33a-df7df874e146","name":"lead_id","value":"={{ $('Webhook').item.json.body.leadId }}","type":"number"},{"id":"f1a1c4e2-61d6-44e2-b55f-bec20b6209c8","name":"next_webinar_date","value":"={{ $('Webhook').item.json.body.next_webinar_date }}","type":"string"},{"id":"3a114652-3122-4220-898e-28de841d3b26","name":"next_webinar_time","value":"={{ $('Webhook').item.json.body.next_webinar_time }}","type":"string"},{"id":"94db3457-45f2-4e20-9a8d-128da0b95c16","name":"uuid","value":"={{ $json.uuid }}","type":"string"},{"id":"260079cb-bba1-4461-926e-11b901d873f1","name":"course_id","value":"={{ $('Webhook').item.json.body.course_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-500],"id":"0949fc74-20dc-4601-b92c-cb2daf93db4e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"2761bb1d-3660-4e96-9c1f-87ee3d81f50f","name":"lead_id","value":"={{ $json.body.leadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-520,-500],"id":"b9c851bd-1f1a-414e-a701-2f1fc6b44904","name":"Edit Fields3"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[140,-500],"id":"afc6a057-532c-48a9-8300-dac9724b40fd","name":"NEW Send Contact to Netcore"},{"parameters":{"workflowId":{"__rl":true,"value":"eQzyHqrEBFVmbr6N","mode":"list","cachedResultName":"NEW Fetch Lead Details (lead_id)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-300,-500],"id":"259f9b66-f32f-41ab-9b07-f1fa6f7c8dc5","name":"NEW Fetch Lead Details (lead_id)"},{"parameters":{"assignments":{"assignments":[{"id":"66958e91-ecb4-4c52-be06-90fa3eff3e6f","name":"event_name","value":"new_enquiry_received","type":"string"},{"id":"e0294b15-881f-44af-8306-9f628a6f6663","name":"lead_id","value":"={{ $('Webhook').item.json.body.leadId }}","type":"number"},{"id":"896d1498-94e5-4795-9b6a-c404f6ffc0a3","name":"uuid","value":"={{ $('NEW Fetch Lead Details (lead_id)').item.json.uuid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-500],"id":"459f2006-2dd6-485f-9a30-7956a0f9e5ea","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4272d5cf-7c44-4af3-8cec-c50fecd0c06d","leftValue":"={{ $json.body.course_id }}","rightValue":33,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-900,-120],"id":"9cf8e4f5-9add-4ff2-a18e-a7f92e9641d1","name":"If"},{"parameters":{"method":"POST","url":" https://webhook.miles-api.com/webhook/fetch-doctors-net-enquiry","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,-220],"id":"3500b4d5-c679-4f77-aaac-d45eb7be3cb0","name":"HTTP Request"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"6sbzkhFEfPZfrk9k"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[680,-820],"id":"803fbf98-1789-432c-bef2-a1426cbc1f84","name":"OLD Send Activity to Netcore"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"MYduhGIhCmgTaVQu","cachedResultName":"(NEW) Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[620,-500],"id":"4c7218f4-bbc1-4b83-9848-b96984f65149","name":"(NEW) Send Activity to Netcore"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"NEW Send Contact to Netcore","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"NEW Fetch Lead Details (lead_id)","type":"main","index":0}]]},"NEW Fetch Lead Details (lead_id)":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"NEW Send Contact to Netcore":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"(NEW) Send Activity to Netcore","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"172.69.179.106","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"34.96.40.117, 172.69.179.106","connection":"close","content-length":"584","cf-ray":"93d247ef7be63d00-BOM","user-agent":"axios/1.9.0","accept-encoding":"gzip, br","content-type":"application/json","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept":"application/json, text/plain, */*","cf-visitor":"{\"scheme\":\"https\"}","cf-connecting-ip":"34.96.40.117","cf-ipcountry":"US"},"params":{},"query":{},"body":{"first_name":"karan testing cma new enqiuiry","last_name":"","city":null,"coming_from":"website-page","campaign_id":1641,"email":"kmandalam@gmail.com","intrested_for_work_in_us":null,"page_full_url":"https://www.mileseducation.com/accounting/us-cma","phone":"+919460596406","register_for_webinar":true,"graduation_year":0,"intrested_to_work_in_us":true,"id":726593,"leadId":154356,"status":true,"created_at":"9-May-2025 | 9:07 PM","updated_at":"9-May-2025 | 9:07 PM","event_name":"new_enquiry_received","course_id":2,"next_webinar_date":"May 25, 2025","next_webinar_time":"11:00 AM"},"webhookUrl":"https://webhook.miles-api.com/webhook/new-enquiry-received","executionMode":"production"}}]},"versionId":"014e8678-c2f3-46b6-87ba-d3c4ee07bbdc","triggerCount":1,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-04-29T06:35:58.186Z","updatedAt":"2025-04-29T06:35:58.186Z","id":"gQwLL2mDGhqlyQkZ","name":"mf"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]