martech-backup/Office Visit Message Sending Workflow
[{"createdAt":"2025-05-05T10:10:47.753Z","updatedAt":"2025-07-15T07:12:11.000Z","id":"gxn5drysWMWlT7BD","name":"Office Visit Message Sending Workflow","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[120,320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_confirmation_v1","operator":{"type":"string","operation":"equals"},"id":"d1c1182a-da9c-4f26-a380-cbfd485bd18a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7146eeed-1ef0-4685-a2d0-5cf57e217b87","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5371fcd0-fc11-4803-820d-19df1ad09c40","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_rescheduled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74eda64b-407e-4ea8-a0ee-5950fe22443e","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_cancelled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f331219-27c6-482f-ab86-42f73bd805fd","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_reminder_d_1_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"abfe9d37-57c3-40ae-b9bb-c7b008243164","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"office_visit_reminder_d_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[380,260],"id":"24106760-9da5-425c-9f27-60b03f2ec3c9","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea068876-a3f0-4e70-b49e-7dc5f225afc9","leftValue":"={{ $json[\"payload_params.visit_type\"] }}","rightValue":"office_visit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,-560],"id":"c68a9f8c-500d-4ad8-89c1-b69b183ff4d9","name":"If"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_confirmation_gmeet\",\n  \"broadcast_name\": \"office_visit_confirmation_gmeet\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"visit_date\",\n      \"value\": \"{{ $json['payload_params.visit_date'] }}\"\n    },\n{\n  \"name\": \"visit_time\",\n\"value\": \"{{ $json['payload_params.visit_time'] }}\"\n},\n{\n\"name\":\"spoc_name\",\n\"value\":\"{{ $json['payload_params.spoc_name'] }}\"\n},\n{\n  \"name\": \"meet_link\",\n\"value\": \"{{ $json['payload_params.meet_link'].slice(24) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-460],"id":"925a0ddc-fcf7-42e3-a54d-f8f1d75a52c8","name":"office_visit_confirmation_gmeet"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_confirmation_offline\",\n  \"broadcast_name\": \"office_visit_confirmation_offline\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"address\",\n      \"value\": \"{{ $json['payload_params.office_address'] }}\"\n    },\n    {\n      \"name\": \"visit_date\",\n      \"value\": \"{{ $json['payload_params.visit_date'] }}\"\n    },\n{\n  \"name\": \"visit_time\",\n\"value\": \"{{ $json['payload_params.visit_time'] }}\"\n},\n{\n  \"name\": \"maps_link\",\n\"value\": \"{{ $json['payload_params.maps_link'].slice(34) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-740],"id":"6c8735c4-6e26-4d23-aeb8-b67f69bb7ddd","name":"office_visit_confirmation_offline"},{"parameters":{"workflowId":{"__rl":true,"value":"5DZrYUZ8geTKJ6ZY","mode":"list","cachedResultName":"Log Sent Message in supabase"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2420,-40],"id":"6a29a421-cfc4-46db-af20-ac10a5708781","name":"Log Sent Message in supabase"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2040,-600],"id":"c59f52f1-882e-4a86-b785-6acb6574abc8","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_attended\",\n  \"broadcast_name\": \"office_visit_attended\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,-200],"id":"fa763278-ffc0-47f3-8d51-397fbc454066","name":"office_visit_attended"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,-200],"id":"952459ea-dbff-4049-b2b2-ed207da0d0b6","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,200],"id":"d89fa675-fcf7-4091-a6d3-383994676f47","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"771164ea-2f75-4b28-b459-b22e9d924a9c","leftValue":"={{ $json[\"payload_params.visit_type\"] }}","rightValue":"office_visit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,320],"id":"d3bf9512-8e8c-4012-818c-21cfbd6f194d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,440],"id":"20ebd2cf-3ed0-44c5-aa16-d014653041b2","name":"Edit Fields3"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_rescheduled_offline\",\n  \"broadcast_name\": \"office_visit_rescheduled_offline\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"visit_date_new\",\n      \"value\": \"{{ $json['payload_params.visit_date'] }}\"\n    },\n    {\n      \"name\": \"visit_date_time\",\n      \"value\": \"{{ $json['payload_params.visit_time'] }}\"\n    },\n    {\n      \"name\": \"address\",\n      \"value\": \"{{ $json['payload_params.office_address'] }}\"\n    },\n    {\n      \"name\": \"maps_link\",\n      \"value\": \"{{ $json['payload_params.maps_link'].slice(34) }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"id":"e82b9ca3-f7d9-4ef1-bfba-820e5586ab0c","name":"office_visit_rescheduled_offline"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_rescheduled_gmeet\",\n  \"broadcast_name\": \"office_visit_rescheduled_gmeet\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"visit_date_new\",\n      \"value\": \"{{ $json['payload_params.visit_date'] }}\"\n    },    {\n      \"name\": \"visit_date_time\",\n      \"value\": \"{{ $json['payload_params.visit_time'] }}\"\n    },    {\n      \"name\": \"meet_link\",\n      \"value\": \"{{ $json['payload_params.meet_link'].slice(24) }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,440],"id":"e586fa3d-8adb-402a-8316-dc6c9d7c765a","name":"office_visit_rescheduled_gmeet"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,740],"id":"1dfac7ab-24c0-42a6-b866-c51550b3778f","name":"Edit Fields4"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_cancelled\",\n  \"broadcast_name\": \"office_visit_cancelled\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,740],"id":"cc186ff0-2a3f-490b-b79a-c6030ea5c8fa","name":"office_visit_cancelled"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.leadid\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,1060],"id":"5323dffe-01f0-4096-b3a8-197905757ea3","name":"Edit Fields5"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_cancelled\",\n  \"broadcast_name\": \"office_visit_cancelled\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1060],"id":"1b271f35-9869-44da-9bf1-30768af694a3","name":"office_visit_cancelled1"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.lead_id\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,1320],"id":"3fb112c9-61de-47f7-a5e2-d024a883bb64","name":"Edit Fields6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f497bb0a-df4d-4602-b909-b58172a75601","leftValue":"={{ $json[\"payload_params.google_meet_link\"] }}","rightValue":"Offline","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1440],"id":"6157f6a6-43d7-47a3-bb61-570c6b9b167e","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] ?? 357}}","type":"number"},{"id":"da3f15ea-148b-4f1a-bade-ecf427e96285","name":"leadid","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.lead_id\"] }}","type":"string"},{"id":"3316f8aa-6d60-4f5f-81c6-2fa3ae1bbf7a","name":"uuid","value":"={{ $('When Executed by Another Workflow').item.json[\"event_params.foreignkey\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1580],"id":"023ee4ac-00bc-4813-9648-1a9043578165","name":"Edit Fields7"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_reminder_d_offine\",\n  \"broadcast_name\": \"office_visit_reminder_d_offine\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"maps_link\",\n      \"value\": \"{{ $json['payload_params.maps_link'].slice(34) }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1320],"id":"1e781a0f-38d5-48b4-a77a-16bbd8eff4dd","name":"office_visit_reminder_d_offine"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"office_visit_reminder_d_gmeet\",\n  \"broadcast_name\": \"office_visit_reminder_d_gmeet\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"visit_date\",\n      \"value\": \"{{ $('Switch').item.json['payload_params.visit_date'].toDateTime().format('dd LLLL, yyyy') }}\"\n    },\n    {\n      \"name\": \"visit_time\",\n      \"value\": \"{{ $('Switch').item.json['payload_params.visit_date'].toDateTime().format('t') }}\"\n    },\n    {\n      \"name\": \"meet_link\",\n      \"value\": \"{{ $('Switch').item.json['payload_params.google_meet_link'].slice(24) }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,1580],"id":"b2762a7b-6880-4304-ab48-e58aed0db4e4","name":"office_visit_reminder_d_gmeet"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"office_visit_attended","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"office_visit_cancelled","type":"main","index":0}],[{"node":"office_visit_cancelled1","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If":{"main":[[{"node":"office_visit_confirmation_offline","type":"main","index":0}],[{"node":"office_visit_confirmation_gmeet","type":"main","index":0}]]},"office_visit_confirmation_offline":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"office_visit_confirmation_gmeet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"office_visit_attended":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"If1":{"main":[[{"node":"office_visit_rescheduled_offline","type":"main","index":0}],[{"node":"office_visit_rescheduled_gmeet","type":"main","index":0}]]},"office_visit_rescheduled_offline":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"office_visit_rescheduled_gmeet":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"office_visit_cancelled":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"office_visit_cancelled1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"If2":{"main":[[{"node":"office_visit_reminder_d_offine","type":"main","index":0}],[{"node":"office_visit_reminder_d_gmeet","type":"main","index":0}]]},"office_visit_reminder_d_offine":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"office_visit_reminder_d_gmeet":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"webhook_name":"send-to-wati","msgid":"-1","payload_params.lead_id":"8388785","payload_params.maps_link":"https://www.google.com/maps/place/Miles+Education+-+CPA,+CMA,+CFA+&+FRM+(Ahmedabad)/@23.0454629,72.5376285,17z/data=!4m14!1m7!3m6!1s0x395e84a30ebe7cc1:0xc7328afd5ed74f95!2sMiles+Education+-+CPA,+CMA,+CFA+&+FRM+(Ahmedabad)!8m2!3d23.045458!4d72.5402034!16s/g/11b74ph29v!3m5!1s0x395e84a30ebe7cc1:0xc7328afd5ed74f95!8m2!3d23.045458!4d72.5402034!16s/g/11b74ph29v?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw==","payload_params.phone":"20266452111","payload_params.google_meet_link":"Offline","payload_params.schedule":"2","payload_params.email":"goutami1940@gmil.com","payload_params.city":"Ahmedabad","payload_params.visit_date":"2025-05-07T12:30:00.000Z","payload_params.first_name":"Gouthami","channel":"custom_activity","event_params.activity_source":"","event_params.activity_id":190,"event_params.ts":250508015655,"event_params.foreignkey":"8758ddf6-049e-4748-ba24-22986b7cd24d","event_params.timestamp":"2025-05-08T01:56:55","event_params.identity":"","event_params.activity_name":"office_visit_reminder_d_day","event_params.asset_id":"","event_params.guid":"","journey_name":"Office Visit Reminder D Day"}}]},"versionId":"cc5330fe-be63-42b6-b064-db9c962f752b","triggerCount":0,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]