martech-backup/Send Activity to Netcore
[{"createdAt":"2025-04-24T07:46:44.087Z","updatedAt":"2025-07-15T07:12:00.000Z","id":"6sbzkhFEfPZfrk9k","name":"Send Activity to Netcore","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-720,660]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2140,-1000],"id":"750a6947-7008-48d2-b18f-aed8c8193cb2","name":"Wait","webhookId":"70e5095c-53ec-4fd0-8f0b-8707c81ee31d"},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n\"campaign_id\": \"{{ $json.campaign_id }}\",\n\"course_id\": {{ $json.course_id }},\n\"interested_for_work\": \"{{ $json.intrested_for_work_in_us }}\",\n\"graduation_year\": \"{{ $json.graduation_year }}\",\n\"ne_id\": \"{{ $json.ne_id }}\",\n\"next_webinar_date\": \"{{ $json.next_webinar_date }}\",\n\"next_webinar_time\": \"{{ $json.next_webinar_time }}\",\n\"lead_id\": \"{{ $json.lead_id }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"email\": \"{{ $json.email }}\"\n        }\n    }\n]\n","options":{}},"id":"20cd286e-283d-4c4e-a634-2818c5b0555a","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2380,-1000]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event_name }}","rightValue":"new_enquiry_received","operator":{"type":"string","operation":"equals"},"id":"7a8b30b4-e45c-40f7-a28c-3de7f5efba89"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98dcbaf6-0ba4-4ade-b003-f8c83a49ccd7","leftValue":"={{ $json.event_name }}","rightValue":"webinar_registration_confirmation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"411136f7-06f1-47f0-96c4-809910187cca","leftValue":"={{ $json.event_name }}","rightValue":"webinar_already_registered","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc108b93-96b1-4377-9afb-e4dfb967778a","leftValue":"={{ $json.event_name }}","rightValue":"webinar_registered_d_1_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f236d93-2fd5-4b6f-8032-1cfcd9ba45a4","leftValue":"={{ $json.event_name }}","rightValue":"webinar_registered_d_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8380100a-844a-493e-a41c-7d08775b2842","leftValue":"={{ $json.event_name }}","rightValue":"webinar_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c9ebfdc-7173-4faa-8fd5-8b18379ac337","leftValue":"={{ $json.event_name }}","rightValue":"webinar_not_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9175f956-83dc-4236-b737-bac5c360a526","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_confirmation_v1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4526e21b-0068-484b-8d8e-2a7a92691bb6","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c71e43a-0a3b-4b1b-bbb5-44bc756abf3e","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_rescheduled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ae46cf6-1656-48a0-8691-1645c3b174e4","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_cancelled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b377b7a6-3ce8-434c-b401-846a4fa99e21","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_reminder_d_1_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccdd7689-c79d-44af-bbf2-1b14cf92451c","leftValue":"={{ $json.event_name }}","rightValue":"office_visit_reminder_d_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-300,460],"id":"aa1fd16e-0565-4d9d-a366-1a9878b69b95","name":"Switch"},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n\"campaign_id\": \"{{ $json.campaign_id }}\",\n\"webinar_id\": \"{{ $json.webinar_id }}\",\n\"join_url\": \"{{ $json.join_url }}\",\n\"registration_email\": \"{{ $json.registration_email }}\",\n\"registration_source\": \"{{ $json.registration_source }}\",\n\"webinar_date\": \"{{ $json.webinar_date.toDateTime().format('dd MMMM, yyyy') }}\",\n\"webinar_time\": \"{{ $json.webinar_time }}\",\n\"course_id\": \"{{ $json.course_id }}\",\n\"lead_id\": \"{{ $json.lead_id }}\"\n        }\n    }\n]\n","options":{}},"id":"089cb51b-0558-42b3-a3ed-39eb3cf949ad","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2220,-660]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"join_url\": \"{{ $json.join_url }}\",\n\"first_name\": \"{{ $json.first_name }}\",\n\"webinar_date\": \"{{ $json.webinar_date }}\",\n\"webinar_time\": \"{{ $json.webinar_time }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"country_code\": \"{{ $json.country_code }}\",\n\"campaign_id\": {{ $json.campaign_id }},\n\"course_id\": {{ $json.course_id }}\n        }\n    }\n]\n","options":{}},"id":"d3b57f50-b2c7-49cc-a9cb-042e732ede89","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,-260]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"join_url\": \"{{ $json.join_url }}\",\n\"webinar_date\": \"{{ $json.webinar_date }}\",\n\"webinar_time\": \"{{ $json.webinar_time }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"country_code\": \"{{ $json.country_code }}\",\n\"campaign_id\": {{ $json.campaign_id }},\n\"course_id\": {{ $json.course_id }}\n        }\n    }\n]\n","options":{}},"id":"9f32af4c-7331-4618-9fd6-e11ef91b7a73","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,160]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"join_url\": \"{{ $json.join_url }}\",\n\"first_name\": \"{{ $json.first_name }}\",\n\"webinar_date\": \"{{ $json.webinar_date }}\",\n\"webinar_time\": \"{{ $json.webinar_time }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"country_code\": \"{{ $json.country_code }}\",\n\"campaign_id\": {{ $json.campaign_id }}\n        }\n    }\n]\n","options":{}},"id":"34ef9cb1-d62f-47e8-a4ca-1bafe3cc1e07","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2200,500]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"join_url\": \"{{ $json.join_url }}\",\n\"first_name\": \"{{ $json.first_name }}\",\n\"webinar_date\": \"{{ $json.webinar_date }}\",\n\"webinar_time\": \"{{ $json.webinar_time }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"country_code\": \"{{ $json.country_code }}\",\n\"campaign_id\": {{ $json.campaign_id }}\n        }\n    }\n]\n","options":{}},"id":"00d0eb35-6a94-4c10-ac4f-664a596cee30","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2180,760]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $('When Executed by Another Workflow').item.json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $('Switch').item.json.first_name }}\",\n                  \"email\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n\"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\",\n\"campaign_id\": {{ $('When Executed by Another Workflow').item.json.campaign_id }},\n\"visit_date\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().format('dd LLLL, yyyy') }}\",\n\"visit_time\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().setZone('Asia/Kolkata').format('t') }}\",\n\"meet_link\": \"{{ $('When Executed by Another Workflow').item.json.meet_link ?? \"offline\" }}\",\n\"spoc_name\": \"{{ $('When Executed by Another Workflow').item.json.spoc_name }}\",\n\"visit_type\": \"{{ $('When Executed by Another Workflow').item.json.visit_type }}\",\n\"visit_city\": \"{{ $('When Executed by Another Workflow').item.json.visit_city ?? \"Virtual\" }}\",\n\"maps_link\": \"{{ $('When Executed by Another Workflow').item.json.maps_link ?? \"Virtual\" }}\",\n\"office_address\": \"{{ $json.cleanedAddress }}\",\n\"leadid\": \"{{ $('When Executed by Another Workflow').item.json.lead_id }}\"\n        }\n    }\n]\n","options":{}},"id":"b3b72d09-82fd-4c09-a8b8-fb85134abf07","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2200,1020]},{"parameters":{"jsCode":"return items.map(item => {\n  const rawAddress = $input.first().json.office_address;\n  const cleanedAddress = rawAddress\n    ? rawAddress.replace(/\\n/g, ' ')\n    : 'Virtual';\n\n  return {\n    json: {\n      cleanedAddress\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1020],"id":"ba4ca528-5601-4e2f-af1e-838473d5a553","name":"Code"},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $('When Executed by Another Workflow').item.json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $('When Executed by Another Workflow').item.json.first_name }}\",\n                  \"email\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n\"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\",\n\"visit_date\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().format('dd LLLL, yyyy') }}\",\n\"visit_time\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().format('t') }}\",\n\"meet_link\": \"{{ $('When Executed by Another Workflow').item.json.meet_link ?? \"offline\" }}\",\n\"spoc_name\": \"{{ $('When Executed by Another Workflow').item.json.spoc_name }}\",\n\"visit_type\": \"{{ $('When Executed by Another Workflow').item.json.visit_type }}\",\n\"visit_city\": \"{{ $('When Executed by Another Workflow').item.json.visit_city ?? \"Virtual\" }}\",\n\"maps_link\": \"{{ $('When Executed by Another Workflow').item.json.maps_link ?? \"Virtual\" }}\",\n\"office_address\": \"{{ $json.cleanedAddress }}\",\n\"leadid\": \"{{ $('When Executed by Another Workflow').item.json.lead_id }}\"\n        }\n    }\n]\n","options":{}},"id":"33616969-9876-4c26-94fe-84a9f2b413d1","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2220,1340]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $('When Executed by Another Workflow').item.json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $('When Executed by Another Workflow').item.json.first_name }}\",\n                  \"email\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n\"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\",\n\"campaign_id\": {{ $('When Executed by Another Workflow').item.json.campaign_id }},\n\"visit_date\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().format('dd LLLL, yyyy') }}\",\n\"visit_time\": \"{{ $('When Executed by Another Workflow').item.json.visit_date.toDateTime().setZone('Asia/Kolkata').format('t') }}\",\n\"meet_link\": \"{{ $('When Executed by Another Workflow').item.json.meet_link ?? \"offline\" }}\",\n\"spoc_name\": \"{{ $('When Executed by Another Workflow').item.json.spoc_name }}\",\n\"visit_type\": \"{{ $('When Executed by Another Workflow').item.json.visit_type }}\",\n\"visit_city\": \"{{ $('When Executed by Another Workflow').item.json.visit_city ?? \"Virtual\" }}\",\n\"maps_link\": \"{{ $('When Executed by Another Workflow').item.json.maps_link ?? \"Virtual\" }}\",\n\"office_address\": \"{{ $json.cleanedAddress }}\",\n\"leadid\": \"{{ $('When Executed by Another Workflow').item.json.lead_id }}\",\n\"old_rescheduled_visit_id\": \n{{ $('Switch').item.json.old_rescheduled_visit_id }},\n\"visit_office_id\": \n{{ $('Switch').item.json.visit_office_id }},\n\"lead_id\": \"{{ $('When Executed by Another Workflow').item.json.lead_id }}\"\n        }\n    }\n]\n","options":{}},"id":"ad17859e-ac7d-4533-806c-2780c657d313","name":"HTTP Request8","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,1660]},{"parameters":{"jsCode":"return items.map(item => {\n  const rawAddress = $input.first().json.office_address;\n  const cleanedAddress = rawAddress\n    ? rawAddress.replace(/\\n/g, ' ')\n    : 'Virtual';\n\n  return {\n    json: {\n      cleanedAddress\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,1660],"id":"95fb5385-9a56-4d01-9650-e7ece4e7eaea","name":"Code1"},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $('When Executed by Another Workflow').item.json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $('When Executed by Another Workflow').item.json.first_name }}\",\n                  \"email\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n\"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\",\n\"campaign_id\": {{ $('When Executed by Another Workflow').item.json.campaign_id }},\n\"spoc_name\": \"{{ $('When Executed by Another Workflow').item.json.spoc_name }}\",\n\"course\": \"{{ $('When Executed by Another Workflow').item.json.course }}\",\n\"office_visit_id\": {{ $('When Executed by Another Workflow').item.json.office_visit_id }},\n\"lead_id\": \"{{ $('When Executed by Another Workflow').item.json.lead_id }}\"\n        }\n    }\n]\n","options":{}},"id":"b75231d3-5bfd-466d-a582-fdd35ec90c29","name":"HTTP Request9","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,2080]},{"parameters":{"jsCode":"return items.map(item => {\n  const rawAddress = $input.first().json.office_address;\n  const cleanedAddress = rawAddress\n    ? rawAddress.replace(/\\n/g, ' ')\n    : 'Virtual';\n\n  return {\n    json: {\n      cleanedAddress\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1340],"id":"132fb550-0aa6-432f-bb0a-6e12bb096fdc","name":"Code2"},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"visit_date\": \"{{ $json.visit_date }}\",\n\"Schedule\": \"{{ $json.schedule }}\",\n\"lead_id\": \"{{ $json.lead_id }}\",\n\"maps_link\": \"{{ $('When Executed by Another Workflow').item.json.maps_link }}\",\n\"city\": \"{{ $('When Executed by Another Workflow').item.json.city }}\"\n        }\n    }\n]\n","options":{}},"id":"fdb1576d-ffb7-49f6-b856-20d4fdd3f213","name":"HTTP Request10","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,2400]},{"parameters":{"method":"POST","url":"https://api2.netcoresmartech.com/v1/activity/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 9fe318e8ece9299a6945bea578bad979"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"asset_id\": \"5110a91370e379b21165d47435cf6106\",\n        \"activity_name\": \"{{ $('When Executed by Another Workflow').item.json.event_name }}\",\n        \"timestamp\": \"{{ new Date().toISOString()\n }}\",\n        \"identity\": \"{{ $json.uuid }}\",\n        \"activity_source\": \"web\",\n        \"activity_params\": {\n                  \"first_name\": \"{{ $json.first_name }}\",\n                  \"email\": \"{{ $json.email }}\",\n\"phone\": \"{{ $json.phone }}\",\n\"visit_date\": \"{{ $json.visit_date }}\",\n\"Schedule\": \"{{ $json.schedule }}\",\n\"lead_id\": \"{{ $json.lead_id }}\",\n\"google_meet_link\": \"{{ $json.google_meet_link ?? \"Offline\" }}\",\n\"maps_link\": \"{{ $json.maps_link ?? \"Virtual\" }}\",\n\"city\": \"{{ $json.city ?? \"Virtual\" }}\",\n\"visit_type\": \"{{ $json.visit_type }}\"\n        }\n    }\n]\n","options":{}},"id":"1750fcb3-304d-45c1-b8c9-fdb15bfca2e7","name":"HTTP Request11","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2240,2720]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"HTTP Request9","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request11","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"uuid":"84977274-9729-416f-b10b-5dd8617b673e","email":"shivam.chopra@mileseducation.com","phone":"+919930270910","first_name":"shivam testing","requestid_contact_creation":"edce72be83b7a37b342f6d4c50743b74","course_id":33,"city":null,"coming_from":"website-page","campaign_id":1641,"intrested_for_work_in_us":null,"graduation_year":2025,"ne_id":727022,"next_webinar_date":"May 17, 2025","next_webinar_time":"04:00 PM","event_name":"new_enquiry_received","lead_id":148384}}]},"versionId":"2bb78643-bea9-4d97-af1c-60580e2e3b5e","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]