martech-backup/Send Welcome Message - WATI
[{"createdAt":"2025-04-25T07:04:49.453Z","updatedAt":"2025-07-15T07:13:24.000Z","id":"H0GV91JEPlmSlIIw","name":"Send Welcome Message - WATI","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,360]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"payload_params.course_id\"] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"4af4d3ac-f888-4335-9c42-2c2c6050a28b"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ab5c8b8-dfd1-4cf3-abc8-210fd8c01165","leftValue":"={{ $json[\"payload_params.course_id\"] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b891c23-be3f-415c-9671-a5cf85a6a106","leftValue":"={{ $json[\"payload_params.course_id\"] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05f2c5e2-9bf5-471b-a7a5-2b89e4f953b7","leftValue":"={{ $json[\"payload_params.course_id\"] }}","rightValue":33,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,340],"id":"fb1f66f0-7423-4be9-82fd-f916c3286789","name":"Switch"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"cma_welcome_message\",\n  \"broadcast_name\": \"cma_welcome_message\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"date\",\n      \"value\": \"{{ $json['payload_params.next_webinar_date'] }}\"\n    },\n    {\n      \"name\": \"time\",\n      \"value\": \"{{ $json['payload_params.next_webinar_time'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,260],"id":"a197ef95-c385-476a-98dc-c12ba115655f","name":"cma_welcome_message"},{"parameters":{"workflowId":{"__rl":true,"value":"5DZrYUZ8geTKJ6ZY","mode":"list","cachedResultName":"Log Sent Message in supabase"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1300,340],"id":"3a7493ee-d962-44c9-a38a-c787ae854a4e","name":"Log Sent Message in supabase"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"cpa_welcome_message\",\n  \"broadcast_name\": \"cpa_welcome_message\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_date\",\n      \"value\": \"{{ $json['payload_params.next_webinar_date'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.next_webinar_time'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,20],"id":"fe9f96e9-da80-47cd-9e70-ad92214d6d4a","name":"cpa_welcome_message"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"usp_welcome_message\",\n  \"broadcast_name\": \"usp_welcome_message\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_date\",\n      \"value\": \"{{ $json['payload_params.next_webinar_date'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.next_webinar_time'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,500],"id":"8dfb3377-9dc2-4290-b4b7-08babdfd026b","name":"usp_welcome_message"},{"parameters":{"assignments":{"assignments":[{"id":"ef78b2ad-276d-4d3c-9f8d-10a3bc7d70e0","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"8060399b-f264-4909-9dbf-4e185f8881db","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"e25805ab-567c-41cd-9deb-3e5c29aabd2c","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"ea808a5d-d393-486c-907b-fa7798d18773","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] }}","type":"number"},{"id":"cd8ac3c2-0db6-4b47-9655-c89ff82e9886","name":"ne_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.ne_id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,340],"id":"b2b368bf-5065-40fa-aef9-793d4a7a9a4f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/439562/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYmE3YzJkZS03NzJiLTQ1MDgtYTI1Ny0xNjdlYWMwMmNhMWUiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMDgvMjAyNSAwNzozNTo0MCIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.je1MT_CAKpMalB7Gzp6RuAdNxzLl1PPamUC5lTXLldo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"doctors_welcome_message_v2\",\n  \"broadcast_name\": \"doctors_welcome_message_v2\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,740],"id":"09c40bfe-b2c1-425f-9dd2-e8174f1712e4","name":"doctors_welcome_message"},{"parameters":{"content":"Different account: 439562"},"type":"n8n-nodes-base.stickyNote","position":[580,720],"typeVersion":1,"id":"2116ad52-4996-4174-ae87-10469af7e703","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"cpa_welcome_message","type":"main","index":0}],[{"node":"cma_welcome_message","type":"main","index":0}],[{"node":"usp_welcome_message","type":"main","index":0}],[{"node":"doctors_welcome_message","type":"main","index":0}]]},"cma_welcome_message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Log Sent Message in supabase":{"main":[[]]},"cpa_welcome_message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"usp_welcome_message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"doctors_welcome_message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"webhook_name":"send-to-wati","msgid":"-1","payload_params.next_webinar_date":"May 17, 2025","payload_params.lead_id":"8547282","payload_params.graduation_year":"0","payload_params.phone":"+918240376860","payload_params.campaign_id":"1631","payload_params.ne_id":"727181","payload_params.email":"mdsaadbinashraf6860@gmail.com","payload_params.next_webinar_time":"04:00 PM","payload_params.interested_for_work":"","payload_params.course_id":33,"payload_params.first_name":"Muhammad Saad","channel":"custom_activity","event_params.activity_source":"","event_params.activity_id":166,"event_params.ts":250510000131,"event_params.foreignkey":"ee57b0af-8d70-46a7-9e68-dfc2d30de45d","event_params.timestamp":"2025-05-10T00:01:31","event_params.identity":"","event_params.activity_name":"new_enquiry_received","event_params.asset_id":"","event_params.guid":"","att_params.MOBILE":"918240376860","att_params.EMAIL":"mdsaadbinashraf6860@gmail.com","journey_name":"New Enquiry Received v3"}}]},"versionId":"c787377a-8c92-42f2-b67a-91e07b0559da","triggerCount":0,"tags":[{"createdAt":"2025-04-28T13:47:05.635Z","updatedAt":"2025-04-28T13:47:05.635Z","id":"5trY9jUf4K12fkdk","name":"wati"},{"createdAt":"2025-04-29T06:36:23.362Z","updatedAt":"2025-04-29T06:36:23.362Z","id":"H1D37pNFvSAXh7Qg","name":"supabase"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]