martech-backup/Shootout Bare Minimum setup
[{"createdAt":"2025-05-14T20:55:36.864Z","updatedAt":"2025-07-15T07:12:24.000Z","id":"ebkKIUxc835lDsL5","name":"Shootout Bare Minimum setup","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,-420],"id":"7580b54c-7e79-4948-bb62-af6b024ce03a","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Lrx0e_fvHkeGhEI05hGMbijpanyArzqn9tXDrYRlNKM/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lrx0e_fvHkeGhEI05hGMbijpanyArzqn9tXDrYRlNKM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,-160],"id":"d8d060ea-acda-47f5-b4b4-72029ee9579b","name":"Google Sheets","credentials":{"googleApi":{"id":"aiCprsG1ZRAOjrNn","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[100,-160],"id":"a27afd33-071a-4b0d-90e0-c834a55db755","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/439562/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json['Primary Contact'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYmE3YzJkZS03NzJiLTQ1MDgtYTI1Ny0xNjdlYWMwMmNhMWUiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMDgvMjAyNSAwNzozNTo0MCIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.je1MT_CAKpMalB7Gzp6RuAdNxzLl1PPamUC5lTXLldo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"whatsapp_broadcast_doctors_16may_56\",\n  \"broadcast_name\": \"whatsapp_broadcast_doctors_16may_56\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['Candidate Name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,-40],"id":"ca45f01c-e74d-4607-83a0-dd7fa9abdf2f","name":"whatsapp_broadcast_doctors_16may_56"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"whatsapp_broadcast_doctors_16may_56","type":"main","index":0}]]},"whatsapp_broadcast_doctors_16may_56":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b505dc62-22aa-44f3-af5e-6516e3724313","triggerCount":0,"tags":[{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]