martech-backup/webinar-registration-successful
[{"createdAt":"2025-04-24T09:45:12.896Z","updatedAt":"2025-07-15T07:11:02.000Z","id":"tEN8xAxrRCTNjcu5","name":"webinar-registration-successful","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"webinar-registration-successful","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-680,-400],"id":"0e7d7fd8-fce4-495b-b0cf-36e91399d823","name":"Webhook","webhookId":"f1beed67-024b-42e3-a17d-e48a31e64eae"},{"parameters":{"workflowId":{"__rl":true,"value":"eQzyHqrEBFVmbr6N","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-20,-400],"id":"85fc71ed-8ee5-47fd-9cb9-bca3f3a73cf5","name":"Fetch Lead Details"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1060,-900],"id":"77fffffa-5037-48aa-8247-297c2c432ac3","name":"Send Activity to Netcore"},{"parameters":{"assignments":{"assignments":[{"id":"99ba919c-149a-418f-8cdf-82cee4e05061","name":"event_name","value":"={{ $('Webhook').item.json.body.event_name }}","type":"string"},{"id":"f0e0f20c-e3cc-4f63-ae66-50b591a3b7c3","name":"join_url","value":"={{ $('Webhook').item.json.body.join_url }}","type":"string"},{"id":"39466eae-3391-422e-a83d-8745bb124d90","name":"webinarId","value":"={{ $('Webhook').item.json.body.webinarId }}","type":"number"},{"id":"41b641db-787f-47a2-873f-2f19006e0209","name":"campaignId","value":"={{ $('Webhook').item.json.body.campaignId }}","type":"number"},{"id":"cfa1f94e-b794-489d-8251-0248eb398253","name":"registration_email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"c3ae34dc-9216-4807-b70b-1c724eee22b5","name":"registration_source","value":"={{ $('Webhook').item.json.body.registration_source }}","type":"string"},{"id":"d943dfca-325b-42c7-a461-49ec5e1acd54","name":"webinar_date","value":"={{ $('Webhook').item.json.body.webinar_date }}","type":"string"},{"id":"6253a4ad-13aa-4247-a9fa-cc58f17eae0a","name":"webinar_time","value":"={{ $('Webhook').item.json.body.webinar_time }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-400],"id":"5deedb3d-dcde-46e5-b18e-b426e68aa888","name":"Edit Fields1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"webinar","mode":"name"},"where":{"values":[{"column":"id","value":"={{ $json.webinarId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,-400],"id":"59152f15-fb25-48b7-96a4-ff5e71c197b1","name":"Postgres","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"assignments":{"assignments":[{"id":"99ba919c-149a-418f-8cdf-82cee4e05061","name":"event_name","value":"={{ $('Webhook').item.json.body.event_name }}","type":"string"},{"id":"f0e0f20c-e3cc-4f63-ae66-50b591a3b7c3","name":"join_url","value":"={{ $('Webhook').item.json.body.join_url }}","type":"string"},{"id":"39466eae-3391-422e-a83d-8745bb124d90","name":"webinarId","value":"={{ $('Webhook').item.json.body.webinarId }}","type":"number"},{"id":"41b641db-787f-47a2-873f-2f19006e0209","name":"campaignId","value":"={{ $('Webhook').item.json.body.campaignId }}","type":"number"},{"id":"cfa1f94e-b794-489d-8251-0248eb398253","name":"registration_email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"c3ae34dc-9216-4807-b70b-1c724eee22b5","name":"registration_source","value":"={{ $('Webhook').item.json.body.registration_source }}","type":"string"},{"id":"d943dfca-325b-42c7-a461-49ec5e1acd54","name":"webinar_date","value":"={{ $('Webhook').item.json.body.webinar_date }}","type":"string"},{"id":"6253a4ad-13aa-4247-a9fa-cc58f17eae0a","name":"webinar_time","value":"={{ $('Webhook').item.json.body.webinar_time }}","type":"string"},{"id":"3362c288-2995-4fbb-9f55-0f960735f7e9","name":"course_id","value":"={{ $json.courseId }}","type":"number"},{"id":"30ee6cab-de00-4932-a166-509deb836ea3","name":"uuid","value":"={{ $('Edit Fields1').item.json.uuid }}","type":"string"},{"id":"fa809763-6c3a-42cf-8c94-4f5abc573202","name":"first_name","value":"={{ $('Edit Fields1').item.json.first_name }}","type":"string"},{"id":"cd0afe16-1b52-4e05-918c-452740fcb257","name":"leadId","value":"={{ $('Webhook').item.json.body.leadId }}","type":"number"},{"id":"192494d0-3dfb-4540-8623-fdf4f481d2fd","name":"phone","value":"={{ $('Fetch Lead Details').item.json.Phone__phoneNumber }}","type":"string"},{"id":"30fa78b7-db84-4c7c-8d6a-9ca79423d5b8","name":"email","value":"={{ $('Fetch Lead Details').item.json.Email__email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,-400],"id":"f37bc5e1-6954-4ca5-9a63-5045155feef4","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[840,-400],"id":"0bbe4b33-2c5e-42ab-950d-099e8dd74775","name":"Send Contact to Netcore"},{"parameters":{"assignments":{"assignments":[{"id":"1bfbb10b-6c8a-444e-8e57-acc6baae5781","name":"lead_id","value":"={{ $json.body.leadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-400],"id":"bcae8df6-5b68-4f1c-979e-f4459e43e00a","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"bb6c8374-6278-49a9-9db3-ac87e412d71c","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"2aa14a48-0026-4b6c-9331-a3656e8a9ed2","name":"campaign_id","value":"={{ $('Webhook').item.json.body.campaignId }}","type":"string"},{"id":"8bc841a0-ecdd-4600-bbc0-67acb5f644c6","name":"webinar_id","value":"={{ $('Webhook').item.json.body.webinarId }}","type":"string"},{"id":"9c4b9fab-e817-4ce7-9f4d-f08ef01d0b84","name":"join_url","value":"={{ $('Webhook').item.json.body.join_url.slice(18) }}","type":"string"},{"id":"85cdb13d-4e02-44e6-8193-6e610535a760","name":"registration_email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"8fb20641-d8f8-48e7-aadc-65553147487d","name":"registration_source","value":"={{ $('Webhook').item.json.body.registration_source }}","type":"number"},{"id":"acf74f79-87a9-4c69-b10f-bf88d0b4991e","name":"webinar_date","value":"={{ $('Webhook').item.json.body.webinar_date.toDateTime().format('dd LLLL, yyyy') }}","type":"string"},{"id":"3dcfd97e-3647-40b3-a104-9d285506a77b","name":"webinar_time","value":"={{ $('Webhook').item.json.body.webinar_time }}","type":"string"},{"id":"9abad72b-2afc-43e0-87f5-2c214fc577aa","name":"course_id","value":"={{ $('Postgres').item.json.courseId.toString() }}","type":"string"},{"id":"5bcd3935-31c0-44fa-a1d4-f24d30b2ad31","name":"event_name","value":"={{ $('Webhook').item.json.body.event_name }}","type":"string"},{"id":"603c861f-c778-4f2b-8218-dbcddea68157","name":"uuid","value":"={{ $json.uuid }}","type":"string"},{"id":"76da3da0-2177-4ac1-b4e9-78e9280cb8a5","name":"lead_id","value":"={{ $('Webhook').item.json.body.leadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,-400],"id":"548afaec-292d-4ca4-a491-4b560dfb5793","name":"Edit Fields3"},{"parameters":{"workflowId":{"__rl":true,"value":"MYduhGIhCmgTaVQu","mode":"list","cachedResultName":"(NEW) Send Activity to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1260,-400],"id":"326d7d35-a00a-4ae4-b2bb-c6e16c25795b","name":"Execute Workflow"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-460,-400],"id":"b7bd922b-2670-4455-81de-4eca75f7dd5d","name":"Wait","webhookId":"d11859e0-a730-4a40-9b12-7bd67b0d7ba4"}],"connections":{"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Fetch Lead Details":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Contact to Netcore","type":"main","index":0}]]},"Send Contact to Netcore":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Fetch Lead Details","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.miles-api.com","x-real-ip":"162.158.227.230","x-forwarded-host":"webhook.miles-api.com","x-forwarded-server":"webhook.miles-api.com","x-forwarded-for":"34.96.40.45, 162.158.227.230","connection":"close","content-length":"682","cf-ray":"94a9d010ad4e31e1-BOM","user-agent":"axios/1.9.0","accept-encoding":"gzip, br","content-type":"application/json","x-forwarded-proto":"https","cdn-loop":"cloudflare; loops=1","accept":"application/json, text/plain, */*","cf-visitor":"{\"scheme\":\"https\"}","cf-connecting-ip":"34.96.40.45","cf-ipcountry":"IN"},"params":{},"query":{},"body":{"id":161631,"event_name":"webinar_already_registered","status":true,"created_by":37,"updated_by":null,"created_at":"2025-06-04T19:23:55.612Z","updated_at":"2025-06-04T19:23:55.612Z","email":"akankshatiwari1014@gmail.com","join_url":"https://zoom.us/w/92340710125?tk=3d3kAYI3VVNIr4pubNPga2BmNAHtC0kn2SJWUSsJlW8.DQcAAAAVf-9q7RZiWE9DcnB0ZVFnLXNxWk8xa0NXb3JnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&uuid=WN_kKhvWWX2T_Cp3gtJyw7HYg","webinar_status":3,"registration_source":2,"webinarId":73,"webinar_date":"2025-06-08T15:00:00.000Z","webinar_time":"03:00 PM","leadId":8577405,"campaignId":1466,"joined_at":null,"left_time":null,"in_session":false,"duration_in_seconds":0,"attendStatus":1},"webhookUrl":"https://webhook.miles-api.com/webhook/webinar-registration-successful","executionMode":"production"}}]},"versionId":"d536a7e4-213a-4015-b3e5-364555a71f32","triggerCount":1,"tags":[{"createdAt":"2025-04-29T06:35:04.633Z","updatedAt":"2025-04-29T06:35:04.633Z","id":"5KyrOm7Ex2otOT6t","name":"netcore"},{"createdAt":"2025-04-29T06:35:58.186Z","updatedAt":"2025-04-29T06:35:58.186Z","id":"gQwLL2mDGhqlyQkZ","name":"mf"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]