martech-backup/Webinar Message Sending Workflow
[{"createdAt":"2025-04-28T10:45:05.458Z","updatedAt":"2025-07-15T07:12:16.000Z","id":"fLojeOek5Z4dUMAz","name":"Webinar Message Sending Workflow","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"438e0252-c62d-4042-9ba7-f063e44e03b9","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,380]},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_registered_d_1_day_v1\",\n  \"broadcast_name\": \"webinar_registered_d_1_day_v1\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_date\",\n      \"value\": \"{{ $json['payload_params.webinar_date'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.webinar_time'] }}\"\n    },\n{\n  \"name\": \"link\",\n\"value\": \"{{ $json['payload_params.join_url'].slice(18) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-120],"id":"5ddaa104-cafc-4db9-bc73-c4a2282ad9f1","name":"webinar_registered_d_1_day_v1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e5a43e0-fd6b-4723-9382-aa028e71e9da","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"webinar_registration_confirmation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"webinar_registered_d_1_day","operator":{"type":"string","operation":"equals"},"id":"cebe86c3-e9da-4d4f-a1da-3a4422e38e01"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4b8e4e8-2484-448f-aab3-de048db51ae0","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"webinar_registered_d_day","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5980d62a-ba11-4833-a942-b2491ccb7058","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"webinar_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3dbe05b-14c5-44ac-9215-15de6568b6cf","leftValue":"={{ $json[\"event_params.activity_name\"] }}","rightValue":"webinar_not_attended","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,340],"id":"e7367521-c9c7-4f4c-bd74-ad2f0fdd4b03","name":"Switch"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_attended\",\n  \"broadcast_name\": \"webinar_attended\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,900],"id":"0ac2bfab-e363-49f0-9492-42c30b917d63","name":"webinar_attended"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_not_attended\",\n  \"broadcast_name\": \"webinar_not_attended\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,1120],"id":"7d287e2c-7abe-4d95-8966-d4cf7be8ce62","name":"webinar_not_attended"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"5DZrYUZ8geTKJ6ZY"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,220],"id":"e2a724a3-f67f-4d15-84b9-7adf554c6dad","name":"Log Sent Message in supabase"},{"parameters":{"assignments":{"assignments":[{"id":"c1084614-b711-4c9c-b85d-2346a5ca9e1b","name":"localMessageId","value":"={{ $json.receivers[0].localMessageId }}","type":"string"},{"id":"d7116c7a-6648-4e9f-88cb-f72fddfa7df3","name":"waId","value":"={{ $json.receivers[0].waId }}","type":"string"},{"id":"d73decfd-9338-4096-90d0-9ab5c2e5640d","name":"templateName","value":"={{ $json.templateName }}","type":"string"},{"id":"097e90f4-72d5-46b9-ba6e-8d9ecdd839b7","name":"campaign_id","value":"={{ $('When Executed by Another Workflow').item.json[\"payload_params.campaign_id\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,220],"id":"31e24a21-f20e-4203-a6ca-5eeae887a8c7","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af301de5-838b-4e14-b752-833323fee8ef","leftValue":"={{ $json[\"event_params.course_id\"] }}","rightValue":33,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,20],"id":"100319c6-bbc9-4727-90a0-8c3b0d85c125","name":"If"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/439562/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYmE3YzJkZS03NzJiLTQ1MDgtYTI1Ny0xNjdlYWMwMmNhMWUiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMDgvMjAyNSAwNzozNTo0MCIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.je1MT_CAKpMalB7Gzp6RuAdNxzLl1PPamUC5lTXLldo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_registered_d_1_day_doctors\",\n  \"broadcast_name\": \"webinar_registered_d_1_day_doctors\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_date\",\n      \"value\": \"{{ $json['payload_params.webinar_date'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.webinar_time'] }}\"\n    },\n{\n  \"name\": \"link\",\n\"value\": \"{{ $json['payload_params.join_url'].slice(18) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,100],"id":"f6ee5cbf-5051-4524-b810-a3980dad84ed","name":"webinar_registered_d_1_day_doctors"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"daa6578f-b9fd-4004-8ea3-7e5487db10fd","leftValue":"={{ $json[\"event_params.course_id\"] }}","rightValue":33,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,460],"id":"30984cc3-0e61-47b2-a531-b5ddd97b98c1","name":"If1"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/439562/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYmE3YzJkZS03NzJiLTQ1MDgtYTI1Ny0xNjdlYWMwMmNhMWUiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMDgvMjAyNSAwNzozNTo0MCIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.je1MT_CAKpMalB7Gzp6RuAdNxzLl1PPamUC5lTXLldo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_registered_d_day_doctors\",\n  \"broadcast_name\": \"webinar_registered_d_day_doctors\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n{\n  \"name\": \"link\",\n\"value\": \"{{ $json['payload_params.join_url'].slice(18) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,540],"id":"76939d8f-39e9-42de-9b5c-dcc0c0252014","name":"webinar_registered_d_day_doctors"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1cda56f-1699-4c1c-b4f4-40a6d5c2cd47","leftValue":"={{ $json[\"payload_params.course_id\"] }}","rightValue":"33","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,100],"id":"979883d1-c9d4-4a95-9eec-9445569eb513","name":"If2"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/439562/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYmE3YzJkZS03NzJiLTQ1MDgtYTI1Ny0xNjdlYWMwMmNhMWUiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDUvMDgvMjAyNSAwNzozNTo0MCIsInRlbmFudF9pZCI6IjQzOTU2MiIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.je1MT_CAKpMalB7Gzp6RuAdNxzLl1PPamUC5lTXLldo"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_registration_confirmation_doctors\",\n  \"broadcast_name\": \"webinar_registration_confirmation_doctors\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_date\",\n      \"value\": \"{{ $json['payload_params.webinar_date'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.webinar_time'] }}\"\n    },\n{\n  \"name\": \"link\",\n\"value\": \"{{ $json['payload_params.join_url'].slice(18) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-400],"id":"52fb6229-4770-412e-8907-926f171c8d18","name":"webinar_registration_confirmation_doctors"},{"parameters":{"method":"POST","url":"https://live-mt-server.wati.io/413503/api/v2/sendTemplateMessage","sendQuery":true,"queryParameters":{"parameters":[{"name":"whatsappNumber","value":"=91{{ $json[\"payload_params.phone\"].slice(-10) }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4NGFiZDUzMy1mNmZlLTRmODEtODVlMS0zZjYxNTI2NDk0ZWIiLCJ1bmlxdWVfbmFtZSI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsIm5hbWVpZCI6Im1hbmRhbGFtLmthcmFuQG1pbGVzZWR1Y2F0aW9uLmNvbSIsImVtYWlsIjoibWFuZGFsYW0ua2FyYW5AbWlsZXNlZHVjYXRpb24uY29tIiwiYXV0aF90aW1lIjoiMDQvMDQvMjAyNSAxMjoyMDowOSIsInRlbmFudF9pZCI6IjQxMzUwMyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.8xqEz39ggf6RghrEmXg-iHdwacDPfCgzwFexcJ3iaBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_name\": \"webinar_registered_d_day\",\n  \"broadcast_name\": \"webinar_registered_d_day\",\n  \"parameters\": [\n    {\n      \"name\": \"name\",\n      \"value\": \"{{ $json['payload_params.first_name'] }}\"\n    },\n    {\n      \"name\": \"webinar_time\",\n      \"value\": \"{{ $json['payload_params.webinar_time'] }}\"\n    },\n{\n  \"name\": \"link\",\n\"value\": \"{{ $json['payload_params.join_url'].slice(18) }}\"\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,320],"id":"063dd051-7e19-41ad-a7a1-1c6ebf1c57b2","name":"webinar_registered_d_day_v1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"webinar_attended","type":"main","index":0}],[{"node":"webinar_not_attended","type":"main","index":0}]]},"webinar_registered_d_1_day_v1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"webinar_attended":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"webinar_not_attended":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Log Sent Message in supabase","type":"main","index":0}]]},"If":{"main":[[{"node":"webinar_registered_d_1_day_v1","type":"main","index":0}],[{"node":"webinar_registered_d_1_day_doctors","type":"main","index":0}]]},"webinar_registered_d_1_day_doctors":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"webinar_registered_d_day_v1","type":"main","index":0}],[{"node":"webinar_registered_d_day_doctors","type":"main","index":0}]]},"webinar_registered_d_day_doctors":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If2":{"main":[[{"node":"webinar_registration_confirmation_doctors","type":"main","index":0}]]},"webinar_registration_confirmation_doctors":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"webinar_registered_d_day_v1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"webhook_name":"send-to-wati","msgid":"-1","payload_params.join_url":"","payload_params.registration_source":"2","payload_params.webinar_id":"","payload_params.campaign_id":"1631","payload_params.webinar_time":"07:00 PM","payload_params.course_id":"33","payload_params.registration_email":"arunraj7067@gmail.com","payload_params.webinar_date":"17 May, 2025","payload_params.first_name":"Arun Arun Raj","channel":"custom_activity","event_params.activity_source":"","event_params.activity_id":165,"event_params.ts":250514143858,"event_params.foreignkey":"e0afb825-5477-4f8d-9edd-9be67d2ce715","event_params.timestamp":"2025-05-14T14:38:58","event_params.identity":"","event_params.activity_name":"webinar_registration_confirmation","event_params.asset_id":"","event_params.guid":"","journey_name":"Webinar Registration Confirmation"}}]},"versionId":"a9e064db-ae89-4f80-a652-e3ed3cd88ba6","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:32:41.940Z","updatedAt":"2025-04-29T06:32:41.940Z","id":"SxAk5FrqIJH8m5eW","name":"webinar"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]