martech-backup/Webinar Attended Cron
[{"createdAt":"2025-04-28T11:25:08.385Z","updatedAt":"2025-07-15T07:13:44.000Z","id":"joCXsf8brP9DyzTM","name":"Webinar Attended Cron","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-180],"id":"ac581946-2210-4906-9597-efe9230195fb","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  \"public\".\"webinar_registration\".\"id\" AS \"id\",\n        \"Webinar - WebinarId\".\"courseId\" AS \"Webinar - courseId\",\n      \"public\".\"webinar_registration\".\"campignId\" AS \"campignId\",\n  \"public\".\"webinar_registration\".\"email\" AS \"email\",\n  \"public\".\"webinar_registration\".\"join_url\" AS \"join_url\",\n  \"public\".\"webinar_registration\".\"webinar_status\" AS \"webinar_status\",\n  \"public\".\"webinar_registration\".\"webinarId\" AS \"webinarId\",\n  \"public\".\"webinar_registration\".\"leadId\" AS \"leadId\",\n  \"public\".\"webinar_registration\".\"attendStatus\" AS \"attendStatus\",\n  \"public\".\"webinar_registration\".\"joined_at\" AS \"joined_at\",\n  \"Lead - LeadId\".\"first_name\" AS \"Lead - LeadId__first_name\",\n  \"Lead - LeadId\".\"uuid\" AS \"Lead - LeadId__uuid\",\n  \"Phone\".\"phoneNumber\" AS \"Phone__phoneNumber\",\n  \"Phone\".\"countryCode\" AS \"Phone__countryCode\",\n  \"Webinar - WebinarId\".\"webinar_name\" AS \"Webinar - WebinarId__webinar_name\",\n  \"Webinar - WebinarId\".\"date_string\" AS \"Webinar - WebinarId__date_string\",\n  \"Webinar - WebinarId\".\"time_string\" AS \"Webinar - WebinarId__time_string\"\nFROM\n  \"public\".\"webinar_registration\"\n \nLEFT JOIN \"public\".\"lead\" AS \"Lead - LeadId\" ON \"public\".\"webinar_registration\".\"leadId\" = \"Lead - LeadId\".\"id\"\n  LEFT JOIN \"public\".\"phone\" AS \"Phone\" ON \"Lead - LeadId\".\"id\" = \"Phone\".\"leadId\"\n  LEFT JOIN \"public\".\"webinar\" AS \"Webinar - WebinarId\" ON \"public\".\"webinar_registration\".\"webinarId\" = \"Webinar - WebinarId\".\"id\"\nWHERE  \n  (\n    (\n      \"public\".\"webinar_registration\".\"webinar_status\" = CAST('1' AS \"webinar_registration_webinar_status_enum\")\n    )\n  and \"public\".\"webinar_registration\".\"webinarId\" = {{ $json.id }}\n  )","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-100,-180],"id":"385c25db-4b75-4665-911e-55fa66c14b51","name":"Postgres","credentials":{"postgres":{"id":"UlHvqQraJFrdqkr2","name":"MF Prod Read"}}},{"parameters":{"content":"Check attendance enum"},"type":"n8n-nodes-base.stickyNote","position":[-180,-300],"typeVersion":1,"id":"cc882fff-8954-4a64-a51c-451f96558841","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[120,-180],"id":"d9ca367b-d9e8-4254-b7c0-659146e6e624","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"6sbzkhFEfPZfrk9k","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1080,20],"id":"88d0f116-872a-4269-9d00-3638153566eb","name":"Send Activity to Netcore"},{"parameters":{"workflowId":{"__rl":true,"value":"lOgLi51AQQR2VRrS","mode":"list","cachedResultName":"NEW Send Contact to Netcore"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,20],"id":"3be9f88e-a9b4-44be-85d5-ef9eac518edf","name":"NEW Send Contact to Netcore"},{"parameters":{"assignments":{"assignments":[{"id":"c2b8bde8-ef69-46ac-9da1-b81a42eeecda","name":"uuid","value":"={{ $json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"a641f5a1-b276-46ce-b3ef-dc1d7ec43f4b","name":"first_name","value":"={{ $json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"86290714-0b03-416f-b296-4eeb3644fefc","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"4030abd0-85f7-4386-9ad6-a3967b195e02","name":"phone","value":"={{ $json.Phone__phoneNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,20],"id":"6183a739-7eb8-44fe-b377-45474cffa59b","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"e4e1c792-42b3-4ed4-82ff-91f84d3139d8","name":"event_name","value":"webinar_attended","type":"string"},{"id":"83ebf7f5-2856-4e95-9f23-82ee536591ef","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"e45a514a-6316-417d-8cb1-4d711db209c0","name":"join_url","value":"={{ $('Loop Over Items').item.json.join_url }}","type":"string"},{"id":"6ef5ff88-3a7d-4181-911b-e38d33a79b40","name":"lead_id","value":"={{ $('Loop Over Items').item.json.leadId }}","type":"number"},{"id":"fe83a728-82c0-4a42-956e-9b4f5f7af822","name":"first_name","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__first_name\"] }}","type":"string"},{"id":"685e7d8e-af6b-49d4-b2d2-2dc2a92f3089","name":"uuid","value":"={{ $('Loop Over Items').item.json[\"Lead - LeadId__uuid\"] }}","type":"string"},{"id":"ab699434-89b6-49c7-bc6b-4377ac702c29","name":"phone","value":"={{ $('Loop Over Items').item.json.Phone__phoneNumber }}","type":"string"},{"id":"470bb815-d190-4a78-b783-37ba0e03f7b9","name":"webinar_date","value":"={{ $('Loop Over Items').item.json[\"Webinar - WebinarId__date_string\"] }}","type":"string"},{"id":"a950e8e5-8784-421b-8865-4f7fe0529486","name":"webinar_time","value":"={{ $('Loop Over Items').item.json[\"Webinar - WebinarId__time_string\"] }}","type":"string"},{"id":"3a55ea38-1456-4322-81fa-eb0a38ca80b1","name":"country_code","value":"={{ $('Loop Over Items').item.json.Phone__countryCode }}","type":"string"},{"id":"c28d3d39-d9b6-4889-8c62-0f8ad89516b9","name":"campaign_id","value":"={{ $('Loop Over Items').item.json.campignId }}","type":"number"},{"id":"b67c6638-f6ab-463c-956a-c48cce616816","name":"course_id","value":"={{ $('Loop Over Items').item.json[\"Webinar - courseId\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,20],"id":"178b1560-1cc8-4869-9934-341459809e26","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"wUl32MWEkTuhtl7s"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-360,-180],"id":"82819931-1881-4fff-b508-c62cfa7af1e9","name":"Fetch Latest Accounting Roadmap Webinar"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Fetch Latest Accounting Roadmap Webinar","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"NEW Send Contact to Netcore","type":"main","index":0}]]},"NEW Send Contact to Netcore":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send Activity to Netcore","type":"main","index":0}]]},"Fetch Latest Accounting Roadmap Webinar":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"osaLco4lVgTtLpKH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbb49bab-bbe2-4898-beed-c26867786b44","triggerCount":0,"tags":[{"createdAt":"2025-04-29T06:32:41.940Z","updatedAt":"2025-04-29T06:32:41.940Z","id":"SxAk5FrqIJH8m5eW","name":"webinar"},{"createdAt":"2025-07-15T07:07:49.926Z","updatedAt":"2025-07-15T07:07:49.926Z","id":"wJnVPrhSbmXUFztc","name":"martech"}]}]